.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}

.quantity-btn {
  position: relative;
  width: 120px;
  height: 42px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin-right: 20px;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]
  {
    -moz-appearance: textfield;
  }

  input {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 0;
    font-weight: 700;
    text-align: center;
  }

  input:focus {
    outline: 0;
  }

  .quantity-nav {
    position: relative;
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 40px;
    color: $dark-grey;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-duration $transition-timing;

    & > * {
      pointer-events: none;
    }

    &:hover {
      background: #E6E3E0;
    }
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px solid $light-grey;
    z-index: 1;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid $light-grey;
    z-index: 1;
  }
}

.btn {
  border-radius: 4px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 0;

  &.btn-arrow {
    svg {
      width: 10px;
      margin-left: 15px;
      path, g {
        stroke: $white !important;
      }
    }
  }

  &.btn-orange {
    background-color: $orange;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    transition: all $transition-duration $transition-timing;

    span {
      color: $white;
      font-size: 14px;
      font-weight: 500;
    }

    &:hover {
      background-color: #9F5436;
    }
  }

  &.btn-green {
    background-color: $green;
    color: $white;
    font-size: 14px;
    font-weight: 500;

    span {
      color: $white;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    color: $dark-grey;
    border: 1px solid rgba($color: $grey-stroke, $alpha: 1.0);
    transition: all $transition-duration $transition-timing;

    svg {
      path, g {
        stroke: $dark-grey !important;
      }
    }

    &:hover {
      background-color: #E6E3E0;
    }
  }

  &.btn-small {
    padding: 8px 10px 7px;
  }

  &.btn-medium {
    padding: 14px 13px 13px;
  }

  &.btn-full-width {
    padding: 14px 13px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
  }

  &.extra-padding-right {
    padding-right: 50px;
  }
}

.link {
  text-decoration: unset;
  color: $green;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 11px;
    margin-left: 5px;

    path, g {
      stroke: $green !important;
    }
  }

  &.link-arrow-left svg {
    margin-right: 5px;
    margin-left: 0px;
  }

  &.link-green-fluorescent {
    color: $green-fluorescent;

    svg {
      path, g {
        stroke: $green-fluorescent !important;
      }
    }
  }
}
