.colapsible-group {
  .colapsible-title {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem 0;

    span {
      line-height: 7px;
      padding-bottom: 4px;
      margin-right: 1.5rem;
    }

    .minus {
      padding-bottom: 8px;
      display: none;
    }
  }

  .colapsible-content {
    display: none;
    opacity: 0;
    transition: opacity 2s $transition-timing;
  }

  ._active {
    .minus {
      display: inline;
    }

    .plus {
      display: none;
    }

    .colapsible-content {
      opacity: 1;
    }
  }
}

.no-margin {
  margin: 0;
}

.mobile {
  @include media-query($medium-up) {
    display: none;
  }
}

.mobile-tablet {
  @include media-query($large-up) {
    display: none;
  }
}

.desktop {
  @include media-query($small) {
    display: none;
  }
}

.tab-wrapper {
  padding: 0 $grid-gutter / 2;
  display: flex;
  justify-content: center;
}

.tab-selector {
  margin: 2.8rem 0 5rem;
  display: flex;
  overflow-x: auto;
  padding-left: 1px;

  @include media-query($medium-up) {
    margin-bottom: 7.5rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 1px solid $light-grey;
    text-align: center;
    padding: 0.3rem 1rem;
    min-height: 4.2rem;
    color: #000000;
    font-weight: 800;
    text-decoration: underline;
    text-decoration: underline solid transparent;
    margin-left: -1px;
    transition: all 300ms ease-out;
    white-space: nowrap;

    @include media-query($medium-up) {
      min-width: 15rem;  
    }

    &._active {
      color: #ffffff;
      background: #000000;
      border-color: #000000;
    }

    &:hover {
      text-decoration: underline;
      text-decoration: underline solid #000000;
    }
  }
}

.tab-content {
  display: none;
  padding: 0 12px;
  margin: 0 auto;

  @include media-query($large-up) {
    max-width: 50%;

    &.tab-full-width {
      max-width: 100%;
    }
  }

  &._active {
    display: block;
  }

  .bespoke {
    text-align: center;
  }

  .certification {
    text-align: center;
  }
}

.social-sharing {
  position: relative;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid $light-grey;

  @include media-query($medium-down) {
    padding-top: 45px;
  }

  &__container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
  }

  p {
    position: absolute;
    top: 50%;
    left: -84px;
    transform: translateY(-50%);
    margin: 0;
    color: $black;

    @include media-query($medium-down) {
      top: -26px;
      left: 50%;
      transform: translateX(-50%) translateY(0);
    }
  }

  a {
    text-decoration: none;
    border-radius: 3px;
    height: 32px;
    width: 107px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include media-query($medium-down) {
      height: 40px;
      width: 40px;
    }

    &.facebook {
      background: #3B5998;
      margin-right: 15px;

      @include media-query($medium-down) {
        margin-right: 12px;
      }
    }

    &.twitter {
      background: #55ACEE;
      margin-right: 15px;

      @include media-query($medium-down) {
        margin-right: 12px;
      }
    }

    &.pinterest {
      background: #CB2027;
    }

    svg {
      margin-right: 10px;

      @include media-query($medium-down) {
        margin-right: 0;
      }
    }

    span {
      font-size: 10px;
      font-weight: 800;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;

      @include media-query($medium-down) {
        display: none;
      }
    }
  }

  .social-share-toggle {
    transition: opacity 350ms ease-out;
  }

  .share-links {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 350ms ease-out;
    margin-left: -0.7rem;
    white-space: nowrap;

    a {
      margin-left: 0.7rem;
    }
  }

  &._open {
    .social-share-toggle {
      opacity: 0;
      pointer-events: none;
    }

    .share-links {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.shopify-challenge__container {
  margin: 150px auto !important;

  .shopify-challenge__message {
    font-family: $font-body;
    color: $dark-grey;
  }

  .shopify-challenge__errors ul {
    padding: 0;
    font-family: $font-body;
    color: $dark-grey;
  }

  input[type="submit"] {
    width: 198px;
    height: 40px;
    margin-top: 30px;
    color: $white;
    background-color: $green;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: $green-light;
    }
  }
}
