html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  padding-top: $header-height;
  overflow-y: scroll;
  transition: padding-top $transition-duration $transition-timing;

  &._block-content {
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  &._show-announcement-bar {
    padding-top: $header-height + $announcement-bar-height;
  }

  @include media-query($large-up) {
    padding-top: $header-height;

    &._show-announcement-bar {
      padding-top: $header-height + $announcement-bar-height;
    } 
  }

  @include media-query($medium-down) {
    padding-top: $header-mobile-height;
  }
}