@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 14px;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $black;
}

body,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: $font-body;
}

label,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: $font-heading;
}

button,
a {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: $font-heading;
  font-weight: 500;
}

// a:focus,
// a:visited {
//   color: inherit;
// }

span,
p {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: $font-body;
  color: $dark-grey;
}

.typography__list-label {
  color: $black;
  font-weight: 800;
  text-transform: capitalize;
  // letter-spacing: 0.067rem;
  font-size: 16px;
}
