.account {
  padding: 0 20px;

  &__container {
    margin: 20px auto;
    width: 100%;
    max-width: $width-content;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 30px;
      line-height: 31px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__logout-button a {
    color: $black;
    text-decoration: none;
  }

  &__subtitle {
    margin-bottom: 10px;

    h2 {
      font-size: 20px;
      line-height: 21px;
      font-weight: 700;
      margin: 0;
      text-align: left;
    }
  }

  &__address-link {
    color: $black;
    text-decoration: none;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      color: $black;
    }
  }

  &__order-container {
    margin-bottom: 20px;
  }

  &__order-line {
    display: flex;
  }

  &__link-style a {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 20px;
    padding-right: 5px;
  }

  &__text-style {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: $dark-grey;
  }

  &__address-container {
    color: $black;
    margin-bottom: 20px;

    p {
      color: $black;
    }
  }
}