.addresses {
  padding: 0 20px;

  &__container {
    margin: 20px auto;
    width: 100%;
    max-width: $width-content;
  }

  &__title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 30px;
      line-height: 31px;
      font-weight: 700;
      margin: 0;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 100%;
    max-width: 50%;
    padding-right: 20px;
    margin-bottom: 40px;

    @include media-query($small) {
      max-width: 100%;
    }
  }

  &__show {

    span {
      display: block;
      color: $black;
    }
  }

  &__name {
    color: $black;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
  }

  &__default {
    color: $dark-grey !important;
  }

  &__action-buttons {
    display: flex;

    button {
      background: transparent;
      color: $black;
      padding: 0;
      margin-top: 20px;
      text-transform: capitalize;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  &__checkbox-container {
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
      color: #747474;
      font-size: 14px;
      line-height: 17px;
      font-family: $font;
      font-weight: 500;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #E6E3E0;
      background:#FBF8F6;
      border-radius: 2px;
      -webkit-transition: all .275s;
          transition: all .275s;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 4px;
      width: 20px;
      height: 20px;
      background-image: url('../assets/img/icon-check.png');
      background-repeat: no-repeat;
      -webkit-transition: all .2s;
          transition: all .2s;
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
    }

    [type="checkbox"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
    }

    /* Disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #e9e9e9;
    }

    [type="checkbox"]:disabled:checked + label:after {
      color: #777;
    }

    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
  }

  &__edit-form {
    display: flex;
    flex-direction: column;

    h4 {
      font-size: 20px;
      margin: 30px 0 10px;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      font-weight: 300;
      font-size: 9px;
      line-height: 9px;
      color: $black;
      opacity: .5;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 15px 0 5px;
    }

    input, select {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      border: 1px solid $black;
      margin-bottom: 5px;
    }
  }

  &__action-edit {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 20px;
    }
  }

  &__new-address {
    margin-top: 50px;

    @include media-query($medium-down) {
      margin-top: 20px;
    }
  }

  &__add-button {
    background: transparent;
    padding: 0;
    color: $black;
    text-transform: initial;
  }

  &__add-actions {
    display: flex;
    margin: 20px 0 30px;

    button {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}