.login {
  padding: 0 20px;
  
  &__login-container {
    width: 100%;
    max-width: 370px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;

    a {
      display: block;
    }
  }

  &__title {
    margin-bottom: 20px;

    h1 {
      font-size: 30px;
      line-height: 31px;
      font-weight: 700;
      margin: 0;
      text-align: center;
    }

    h2 {
      font-size: 28px;
      line-height: 29px;
      font-weight: 700;
      margin: 0;
      text-align: left;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      font-weight: 300;
      font-size: 9px;
      line-height: 9px;
      color: $black;
      opacity: .5;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 15px 0 5px;
    }

    input {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      border: 1px solid #000;
      margin-bottom: 5px;
    }
  }

  &__recover-link {
    color: $dark-grey;
    font-size: 12px;
    text-decoration: none;
    text-align: right;
  }

  &__login-button {
    margin: 20px 0;
  }

  &__create-link {
    color: $black;
    text-decoration: none;
    text-align: center;
  }

  &__recover-container {
    width: 100%;
    max-width: 370px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;

    a {
      display: block;
    }
  }
}