.order {
  padding: 0 20px;

  &__container {
    margin: 20px auto;
    width: 100%;
    max-width: $width-content;
  }

  &__title {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 30px;
      line-height: 31px;
      font-weight: 700;
      margin: 0;
    }

    p {
      margin: 0;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  &__date {
    display: block;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__address {

  }

  &__address-block {
    margin-bottom: 20px;

    h3 {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__info {
    flex: 1;
    padding-right: 100px;

    @include media-query($medium-down) {
      padding-right: 0px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    margin-bottom: 15px;
  }

  &__item-image {
    display: none;
    width: 87px;
    height: 87px;
    align-items: center;
    overflow: hidden;

    @include media-query($medium-up) {
      display: flex;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    font-size: 16px;

    @include media-query($medium-up) {
      padding: 0 0 0 20px;
    }
  }

  &__item-name {
    color: $black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }

  &__item-options {
    color: $black;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-info-qtd {
    display: flex;
    align-items: center;

    span {
      color: $black;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 22px;
      padding-right: 5px;
    }
  }

  &__item-qtd {

  }

  &__item-price {
    min-width: 75px;
    text-align: right;
    color: $black;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
  }

  &__item-fulfillment {
    font-size: 14px;
  }

  &__date-fulfillment {

  }

  &__tracking-info {

  }

  &__status-row {
    padding: 15px 0;
    border-top: 1px solid $light-grey;

    span {
      color: $black;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 22px;

      &:last-child {
        @include media-query($small) {
          text-align: right;
        }
      }
    }
  }

  &__payment-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__fulfillment-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__totals {

  }

  &__sub-totals {
    padding: 15px 0 7px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 15px;
  }

  &__sub-total-line {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin: 0 0 8px;

    span {
      color: $black;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between; 
    line-height: 20px;
    font-weight: 800;
    margin-bottom: 30px;

    span {
      color: $black;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  
}