{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

{% capture date %}{{ article.published_at | time_tag: '%d %B, %Y' | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro'  }}{% endcapture %}

<article role="article" class="article-block">

  <div class="article-block__container">
    <header role="banner" class="article-block__container-header">
      {% if article.tags.size > 0 %}
        <ul>
          {% for tag in article.tags %}
            <li data-tagheader="{{ tag }}">{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <h1>{{ article.title }}</h1>
      <p class="author-date">By {{ article.author }}<span></span>{{ date }}</p>
    </header>

    <div class="article-block__wrapper">
      <div class="article-block__wrapper-sidebar">
        <div class="article-block__tags" data-role="article-categories">
          <h3>Artigos Sobre</h3>
          <span class="init">Artigos Sobre</span>
          <div class="article-categories">
            {% for tag in blog.all_tags %}

              <a class="blog-tag" href="{{ blog.url }}/tagged/{{ tag | handle }}" data-tag="{{ tag }}" data-role="selecttag">{{ tag }}</a>

            {% endfor %}
          </div>
        </div>

        {% comment %} <div class="article-block__popular-articles">
          {% section 'articles-column' %}
        </div> {% endcomment %}

        <div class="article-block__products">
          {% section 'products-column' %}
        </div>
      </div>

      <div class="article-block__wrapper-content">
        {% if article.image %}
          <div class="hero-banner hero-banner--article lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>

          <noscript>
            {%- assign image_size = article.image.width | append: 'x' -%}
            <div class="hero-banner hero-banner--article" style="background-image: {{ article.image | img_url: image_size }}"></div>
          </noscript>
        {% endif %}

        {% if article.metafields.custom_fields["detail_block"] != blank %}
          <div class="article-block__custom-details-container">
            {% for item in article.metafields.custom_fields["detail_block"] %}
              <div class="article-block__custom-details-item">
                
                {% if item["type"] contains "Block Text" %}
                  {% if item["block_text"] != blank %}
                    {% for repeater_item in item["block_text"] %}
                      <div class="article-block__custom-details-item-text">
                        {{ repeater_item["block_text"] }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block Quote" %}
                  {% if item["block_quote"] != blank %}
                    {% for repeater_item in item["block_quote"] %}
                      <div class="article-block__custom-details-item-quote">
                        <h2>{{ repeater_item["block_quote"] }}</h2>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block 2 Image" %}
                  {% if item["block_two_images"] != blank %}
                    <div class='article-block__custom-details-item-image-container article-block__columns-{{item["block_two_images"].size}}'>
                      {% for item_image in item["block_two_images"] %}
                        <div class="article-block__custom-details-item-image">
                          {{ item_image["image"] }}
                          <span>{{ item_image["caption"] }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block Banner Image" %}
                  {% if item["block_banner_image"] != blank %}
                    <div class='article-block__custom-details-item-image-banner'>
                      {% for banner in item["block_banner_image"] %}
                        <div class="article-block__custom-details-item-image">
                          {{ banner["banner_image"] }}
                          <span>{{ banner["subtitle"] }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block 6 Image" %}
                  {% if item["block_six_images"] != blank %}
                    <div class='article-block__custom-details-item-image-block'>
                      {% for item_image in item["block_six_images"] %}
                        <div class='article-block__custom-details-item-image-container article-block__columns-{{item_image["image"].size}}'>
                          {% for repeater_item in item_image["image"] %}
                            <div class="article-block__custom-details-item-image">
                              {{ repeater_item["image"] }}
                            </div>
                          {% endfor %}  
                        </div>
                        <span>{{ item_image["caption"] }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block Video" %}
                  {% if item["block_video"] != blank %}
                    {% for repeater_item in item["block_video"] %}
                      <div class="article-block__custom-details-item-video">
                        {{ repeater_item["block_video"] }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block Green Link Row" %}
                  {% if item["block_green_link_row"] != blank %}
                    {% for repeater_item in item["block_green_link_row"] %}
                      {% capture length %}{{ forloop.length }}{% endcapture %}
                    {% endfor %}
                    <div class="article-block__custom-details-item-green-link-row length-{{ length }}">
                      {% for repeater_item in item["block_green_link_row"] %}
                        <div class="article-block__custom-details-item-link">
                          {{ repeater_item["block_green_link_row"] }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}

              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% section 'newsletter' %}

        {% if settings.social_sharing_blog %}
          {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        {% endif %}

        {% if blog.comments_enabled? %}
          <div class="article-block__wrapper-form">
            <h3>Deixe um comentário</h3>
            {% form 'new_comment', article %}

              {{ form.errors | default_errors }}

              <label for="CommentBody">Escreva o seu comentário</label>
              <textarea rows=""
                name="comment[body]"
                id="CommentBody"
                class="{% if form.errors contains 'body' %}input-error{% endif %}"
                placeholder="">
                {{- form.body -}}
              </textarea>

              <div class="form-container-name-email">
                <div class="form-name">
                  <label for="CommentAuthor">Nome</label>
                  <input type="text"
                        name="comment[author]"
                        id="CommentAuthor"
                        class="{% if form.errors contains 'author' %}input-error{% endif %}"
                        placeholder=""
                        value="{{ form.author }}"
                        autocapitalize="words">
                </div>

                <div class="form-email">
                  <label for="CommentEmail">Email</label>
                  <input type="email"
                        name="comment[email]"
                        id="CommentEmail"
                        class="{% if form.errors contains 'email' %}input-error{% endif %}"
                        placeholder=""
                        value="{{ form.email }}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off">
                </div>
              </div>

              {% if blog.moderated? %}
                <p>Tenha em consideração que os comentários precisam de ser aprovados antes de serem exibidos.</p>
              {% endif %}

              <div class="form-container-btn">
                <input type="submit" class="button" value="Comentar">
              </div>
            {% endform %}
          </div>

          <div id="comments" class="article-block__wrapper-comments">
            {% if comment and comment.status and comment.id != blank %}
              <p class="form-success">
                {% if blog.moderated? and comment.status != 'published' %}
                  O seu comentário foi enviado com sucesso. Iremos publicá-lo brevemente assim que for aprovado.
                {% else %}
                  O seu comentário foi publicado com sucesso! Obrigado.
                {% endif %}
              </p>
            {% endif %}

            {% if number_of_comments > 0 %}


              <h3>Comentários</h3>
              <ul>
                {% comment %}
                  Display comment from URL parameters if it is waiting moderation
                  We added "comment.id" check to make sure we don't display markup if there are form errors
                {% endcomment %}

                {% for comment in article.comments limit: 3 %}
                  <li id="{{ comment.id }}">
                    <p class="author-date">
                      {{ comment.author }}
                      <span></span>
                      {{ comment.created_at | time_tag: '%d %B, %Y' | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro'  }}
                    </p>
                    <div class="comment">
                      {{ comment.content }}
                    </div>
                  </li>
                {% endfor %}
              </ul>

            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</article>
    
{% section 'related-articles' %}
{% section 'product-project-block' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
