{% if current_tags %}
  {%- assign generalTitle = current_tags.first -%}
{% else %}
  {%- assign generalTitle = blog.title -%}
{% endif %}
{% include 'general-title' title: generalTitle %}

<div class="blog-block tutorials" data-section-type="blog" data-role="blog" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  <div class="blog-block__container">

    {% paginate blog.articles by 8 %}

      {% if blog.all_tags.size > 0 %}
        <div class="blog-block__wrapper-sidebar">
          <div class="blog-block__tags" data-role="blog-categories">
            <h3>Artigos Sobre</h3>
            <span class="init">Artigos Sobre</span>
            <div class="blog-categories">
              {% for tag in blog.all_tags %}

                {% if current_tags contains tag %}
                  <a class="blog-tag _active" href="javascript:void(0)" data-tag="{{ tag }}" data-role="selecttag">{{ tag }}</a>
                {% else %}
                  <a class="blog-tag" href="{{ blog.url }}/tagged/{{ tag | handle }}" data-tag="{{ tag }}">{{ tag }}</a>
                {% endif %}

              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="blog-block__wrapper-list">
        <div class="blog-block__list" data-role="blog-list">
          {% for article in blog.articles %}
            {% assign remainder = forloop.length | modulo: 2 %}
            {% assign penultimate = forloop.length | minus: 1 %}

            {% if forloop.first == true or forloop.last == true and remainder == 0 %}
              <div class="blog-block__article large" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
            {% elsif remainder != 0 and penultimate == forloop.index or forloop.last %}
              <div class="blog-block__article margins-{{ forloop.index }}" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
            {% else %}
              <div class="blog-block__article" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
            {% endif %}
            
              {% if article.image %}
                <a class="blog-block__article-image" href="{{ article.url }}">
                  {% include 'responsive-image' with
                    image: article.image,
                    max_width: '866',
                    max_height: '487',
                    allow_oversize,
                    custom_size: '866x'
                  %}
                </a>
              {% endif %}

              <div class="blog-block__article-content">
                {% capture date %}{{ article.published_at | time_tag: '%d %B, %Y' | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro'  }}{% endcapture %}

                {% if article.tags.size > 0 %}
                  <ul>
                    {% if article.tags.size > 0 %}
                      {% for tag in article.tags limit: 2%}
                        <li>{{ tag }}</li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                {% endif %}

                <p>{{ date }}</p>
              </div>

              <h3 class="blog-block__article-title"><a href="{{ article.url }}">{{ article.title | strip_html | truncatewords: 16  }}</a></h3>

              <div class="blog-block__article-excerpt">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt | strip_html | truncatewords: 50 }}
                {% else %}
                  <p>
                    {{ article.content | strip_html | truncatewords: 50 }}
                  </p>
                {% endif %}
              </div>

              <a class="blog-block__article-more" href="{{ article.url }}">Continuar a ler</a>
            </div>

          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      </div>
    {% endpaginate %}

  </div>
</div>

{% section 'product-project-block' %}
