{% layout none %}
{% capture cart_items %}
  {% include 'quick-cart-items' %}
{% endcapture %}
{
  "cartItems": {{ cart_items | json }},
  "cartTotal": {{ cart.total_price | money | json }},
  "cartCount": {{ cart.item_count }}
}