<div class="cart" data-role="cart">
  <div class="cart__container-cart">
    <div class="cart__title">
      <h1>O seu carrinho ({{cart.item_count}})</h1>
    </div>
  </div>
  
  {% if cart.item_count > 0 %}
    <div class="cart__container-cart">
      <form action="/cart" method="post" novalidate>
        <div class="cart__wrapper">

          <div class="cart__container">

            {% for item in cart.items %}
              
              <div class="cart__item">
                <div class="cart__item-image">
                  {% if item.image != blank %}
                    <a href="{{ item.url | within: collections.all }}">
                      {{ item | img_url: '240x240' | img_tag: item.title }}
                    </a>
                  {% endif %}
                </div>
                <div class="cart__item-info-image">
                  <div class="cart__item-image _responsive">
                    {% if item.image != blank %}
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item | img_url: '240x240' | img_tag: item.title }}
                      </a>
                    {% endif %}
                  </div>
                  <div class="cart__item-info">

                    <div class="cart__item-header">
                      <a href="{{ item.url }}" class="cart__item-name">
                        {{ item.product.title }}
                      </a>
                    </div>

                    
                      <div class="cart__options-variant">
                        {% unless item.product.has_only_default_variant %}
                          {% for option in item.options_with_values %}
                            <div class="cart__option-item">
                              {% include 'icon-check-disabled.svg' %}
                              <span>{{ option.name }} {{ option.value }}</span>
                            </div>
                          {% endfor %}
                        {% endunless %}

                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>

                        {%- assign propertySize = item.properties | size -%}
                        {% if propertySize > 0 %}
                          {% for p in item.properties %}
                            {% assign first_character_in_key = p.first | truncate: 1, '' %}
                            {% unless p.last == blank or first_character_in_key == '_' %}
                              <div class="cart__option-item">
                                {% include 'icon-check-disabled.svg' %}
                                {% comment %} <span>{{ p | first | capitalize }} {{ p | last }}</span> {% endcomment %}
                                <span>{{ p.first }} {{ p.last }}</span>
                              </div>
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    
                    <a class="cart__item-remove _responsive" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                      Remover
                    </a>

                    <span class="cart__tax-note">
                      IVA incluído à taxa legal em vigor
                    </span>

                  </div>
                </div>

                <div class="cart__item-column">
                  <div class="cart__item-actions">
                    <a class="cart__item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                      Remover
                    </a>
                    <div class="cart__item-qtd quantity-btn">
                      <div class="quantity-button quantity-down" data-action="cart-quantity-down" data-id="{{ item.id }}">{% include 'icon-minus.svg' %}</div>
                      <input 
                        type="number" 
                        id="updates_{{ item.key }}"
                        name="updates[]"
                        data-role="cart-quantity" 
                        value="{{ item.quantity }}" 
                        data-cart-key="{{ item.key }}" 
                        data-cart-product-id="{{ item.id }}" 
                        min="1" 
                        step="1"
                      >
                      <div class="quantity-button quantity-up" data-action="cart-quantity-up" data-id="{{ item.id }}">{% include 'icon-plus.svg' %}</div>
                    </div>
                  </div>

                  <div class="cart__item-price-container">
                    <div class="cart__item-price" data-label="{{ 'cart.label.price' | t }}" style="display:none !important;">
                      {% if item.original_line_price != item.line_price %}
                        <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>
                        <span>{{ item.price | money }}</span>
                        <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                        <s>{{ item.original_price | money }}</s>
                      {% else %}
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>
                        <span>{{ item.price | money }}</span>
                      {% endif %}
                    </div>
                    
                    <div class="cart__item-total-price" data-label="{{ 'cart.label.total' | t }}">
                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>
                      <span>{{ item.line_price | money }}</span>
                    </div>
                  </div>

                </div>

                <span class="cart__tax-note _responsive">
                  IVA incluído à taxa legal em vigor
                </span>

              </div>

            {% endfor %}

            <div class="cart__shipping-rate">

              <span class="cart__no-shipping-rate">
                Não consegue calcular o Transporte? <a href="/pages/contactos">Fale connosco.</a>
              </span>
            </div>

            {% if settings.cart_notes_enable %}
              <div class="cart__note">
                <label for="CartSpecialInstructions">Adicione um comentário à sua encomenda</label>
                <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
            {% endif %}
          </div>

          <div class="cart__subtotal-container">
            <h2>Subtotal</h2>

            <span class="cart__total-price">
              <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
              <span>{{ cart.total_price | money }}</span>
            </span>

            {% if cart.total_discounts > 0 %}
              <span class="cart__price-savings">promoção message {{ cart.total_discounts | money }}</span>
            {% endif %}

            <div class="cart__checkout-container">
              <input class="btn btn-orange btn-medium extra-padding-right" type="submit" name="checkout" class="button" value="Finalizar Compra">
              {% include 'icon-arrow.svg' %}
            </div>

            {% comment %} {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %} {% endcomment %}

            <span class="cart__shipping-message">Envios e descontos calculados no checkout</span>

            <div class="cart__payment-container">
              {% assign enabled_payment_types = 'visa,master,paypal,mbway,multibanco,multibanco-mobile' | remove: ' ' | split: ',' %}
              {% for type in enabled_payment_types %}
                {%- assign payment_handle = type | handleize -%}
                {% capture payment_icon %}icon-color-{{ payment_handle }}{% endcapture %}
                <span class="_{{payment_handle}}">
                  {% include payment_icon %}
                </span>
              {% endfor %}
            </div>

          </div>
        
        </div>
      </form>
    </div>
    <div class="cart__payment-container _responsive">
      {% assign enabled_payment_types = 'visa,master,paypal,mbway,multibanco,multibanco-mobile' | remove: ' ' | split: ',' %}
      {% for type in enabled_payment_types %}
        {%- assign payment_handle = type | handleize -%}
        {% capture payment_icon %}icon-color-{{ payment_handle }}{% endcapture %}
        <span class="_{{payment_handle}}">
          {% include payment_icon %}
        </span>
      {% endfor %}
    </div>
  {% else %}
    <div class="cart__container-cart">
      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>
  {% endif %}
</div>
