<div class="collection" data-collection-handle="{{ collection.handle }}" data-collection-count="{{ collection.products_count }}">

  <div class="collection__title">

    <div class="collection__title-container">
      <h1 data-collection-title>{{ collection.title }}</h1>

      <div class="collection__sort">
        <div class="collection__sort-select">
          <select id="sort-select" data-action="sort-select" name="sort-select">
            {%- assign sortValues = "alpha-asc,manual,alpha-asc,alpha-desc,best-selling,created,created-desc,price-asc,price-desc" | split: ',' -%}
            {%- assign sortLabel = "Ordenar,Em Destaque,Alfabeticamente - A-Z,Alfabeticamente - Z-A,Mais Vendidos,Data - mais antigos,Data - mais recentes,Preço - mais baratos,Preço - mais caros" | split: ',' -%}
            {% for item in sortLabel %}
              <option value="{{ sortValues[forloop.index0] }}">
                {{ item }}
              </option>
            {% endfor %}
          </select>
          {% include 'icons-arrow-down.svg' %}
        </div>
      </div>
    </div>
  </div>

  <div class="collection__container">
    <div class="collection__filter">

      <div class="collection__filter-category">

        <span class="collection__category-title">Categorias</span>

        {% if shop.metafields.custom_fields["filters"] != blank %}
          <div class="collection__category-select">
            <select id="category-filter" data-action="category-filter" name="category-filter">
              <option value="0">
                Todas
              </option>
              {% for item in shop.metafields.custom_fields["filters"] %}
                {% if item["title"] != blank %}
                  <option value="{{ forloop.index }}">
                    {{ item["title"] }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            {% include 'icons-arrow-down.svg' %}
          </div>
        {% endif %}

        {% if shop.metafields.custom_fields["filters"] != blank %}
          <div class="collection__group-list">
            <button class="_hide" data-action="select-collection" data-role="group-item" data-group="0" data-handle="all" style="display: none !important;">Todas</button>
            {% for item in shop.metafields.custom_fields["filters"] %}
              {% if item["collection_list"] != blank %}
                {%- assign group_id = forloop.index -%}
                {%- assign collection_array = item["collection_list"] | split: '|' -%}
                {% for element in collection_array %}
                  <button class="_hide" data-action="select-collection" data-role="group-item" data-group="{{ group_id }}" data-handle="{{ collections[element].handle }}">{{ collections[element].title }}</button>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

      </div>

      <div class="collection__filter-open-container">
        <button class="collection__filter-open-mobile" data-action="open-filters-mobile">{% include 'icon-filter.svg' %}Filtros</button>
      </div>

      <div class="collection__filter-container" data-role-filter-container>
        <div class="collection__filter-title">
          <span>Filtros</span>
          <button class="collection__filter-clear-button" data-action="clear-filters">Limpar</button>
          <button class="collection__filter-close-button _responsive" data-action="close-filters">{% include 'icon-close.svg' %}</button>
        </div>

        <div class="collection__filter-options-container" data-role="filter-options">
          <button class="collection__filter-clear-button _responsive" data-action="clear-filters">Limpar</button>
          {% comment %}
            <div class="collection__filter-accordion collection__filter-price">
            <div class="collection__accordion-title" data-action="toggle-collapse">
            <span>Preço</span>
            <div class="collection__accordion-icon">
            {% include 'icons-arrow-down.svg' %}
            </div>
            </div>
            <div class="collection__accordion-options">
            </div>
            </div>
          {% endcomment %}

          {% if shop.metafields.custom_fields["filters"] != blank %}
            {% for item in shop.metafields.custom_fields["filters"] %}
              {% if item["collection_list"] != blank %}
                {%- assign collection_array = item["collection_list"] | split: '|' -%}
                {% for element in collection_array %}

                  {% if collections[element].metafields.custom_fields["filters"] != blank %}
                    {%- assign collection_element = collections[element] -%}
                    {% for filter in collections[element].metafields.custom_fields["filters"] %}
                      <div class="collection__filter-accordion" data-collection-filter data-collection="{{ collections[element].handle }}">
                        <div class="collection__accordion-title" data-action="toggle-collapse" data-tag='{{filter["key"]}}'>
                          {% if filter["label"] != blank %}
                            <span>{{ filter["label"] }}</span>
                          {% endif %}
                          <div class="collection__accordion-icon">
                            {% include 'icons-arrow-down.svg' %}
                          </div>
                        </div>
                        <div class="collection__accordion-options" data-role-filter-options data-filter-key='{{filter["key"]}}'>

                          {%- assign options = "Baixo|low, Moderado|medium, Alto|high" | split: ',' -%}
                          {% if filter["type_options"] contains "Option 2" %}
                            {%- assign options = "1.5-2cm|1-2cm, 2-3cm|2-3cm, 3-4cm|3-4cm" | split: ',' -%}
                          {% elsif filter["type_options"] contains "Option 3" %}
                            {%- assign options = "1|1, 2|2, 3|3, 4|4, 5|5" | split: ',' -%}
                          {% elsif filter["type_options"] contains "Option 4" %}
                            {%- assign options = "20mm|20mm, 25mm|25mm, 30mm|30mm, 35mm|35mm, 40mm|40mm, 45mm|45mm, 50mm|50mm, 55mm|55mm, 60mm|60mm" | split: ',' -%}
                          {% elsif filter["type_options"] contains "Option 5" %}
                            {%- assign options = "Exterior|outside, Interior|inside," | split: ',' -%}
                          {% elsif filter["type_options"] contains "Option 6" %}
                            {%- assign options = "Relva Natural|natural, Relva Artificial|artificial, Grass4Pets|pets," | split: ',' -%}
                          {% endif %}

                          {% for option in options %}
                            {%- assign values = option | split: '|' -%}
                            <div class="collection__accordion-option">
                              <input type="checkbox" id='{{collections[element].handle}}_{{filter["key"]}}_{{ values | last }}' data-action-filter-option data-key='{{filter["key"]}}' data-value='{{ values | last }}'/>
                              <label for='{{collections[element].handle}}_{{filter["key"]}}_{{ values | last }}'>{{ values | first }}</label>
                            </div>
                          {% endfor %}

                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}

                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <button class="collection__filter-results-button _responsive" data-action="close-filters">Mostrar Resultados</button>
      </div>
    </div>

    <div class="collection__product-container">
      <div class="collection__description collection--show" data-collection-description>
        {{ collection.description }}
      </div>

      <div class="collection__product-grid-container" data-role="collection-holder">
        {% for product in collection.products %}
          {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}
            {%- continue -%}{%- endif -%}
          {% include 'product-block' %}
        {% endfor %}
      </div>
    </div>


  </div>
</div>