{% layout none %}
{% capture html_body %}
  {% paginate collection.products by 12 %}

    <div class="collection__product-grid">
      {% for product in collection.products %}
        {%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
        {% include 'product-block' %}
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% include 'pagination-product' %}
    {% endif %}

  {% endpaginate %}
{% endcapture %}
{
  "productsCount": {{ collection.products_count }},
  "body": {{ html_body | json }},
  "collectionTitle": {{ collection.title | json }},
  "collectionDescription": {{ collection.description | json }}
}