{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<div class="list-collections">
  <div class="list-collections__container">
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        {% assign delay = forloop.index | times: 200 %}
        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="list-collections__item" data-aos="fade-up" style="transition-delay:{{delay}}ms">
          <div class="list-collections__item-image">
            {% if collection.image != blank or collection.products.first != blank %}
              {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
              {% include 'responsive-image' with
                image: image_object,
                max_width: 480,
                max_height: 480
              %}
            {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}

            <div href="{{ collection.url }}" class="list-collections__button btn btn-orange btn-small btn-arrow">
              Ver
              {% include 'icon-arrow.svg' %}
            </div>
          </div>
          <div class="list-collections__item-info">
            {% if collection.title != blank %}
              <h3>{{ collection.title }}</h3>
            {% endif %}
          </div>
        </a>
      {% endunless %}
    {% endfor %}
  </div>
</div>
