{% include 'general-title' title: page.title %}

<div class="page-generic-block">
  {% if page.content != blank %}
    <div class="page-generic-block__page-content">
      {{ page.content }}
    </div>
  {% else %}

    <div class="page-generic-block__container">

      <div class="page-generic-block__wrapper-content">

        {% if page.metafields.custom_fields["detail_block"] != blank %}
          <div class="page-generic-block__custom-details-container">
            {% for item in page.metafields.custom_fields["detail_block"] %}
              <div class="page-generic-block__custom-details-item">
                
                {% if item["type"] contains "Block Text" %}
                  {% if item["block_text"] != blank %}
                    {% for repeater_item in item["block_text"] %}
                      <div class="page-generic-block__custom-details-item-text">
                        {{ repeater_item["block_text"] }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block Quote" %}
                  {% if item["block_quote"] != blank %}
                    {% for repeater_item in item["block_quote"] %}
                      <div class="page-generic-block__custom-details-item-quote">
                        <h2>{{ repeater_item["block_quote"] }}</h2>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block 2 Image" %}
                  {% if item["block_two_images"] != blank %}
                    <div class='page-generic-block__custom-details-item-image-container page-generic-block__columns-{{item["block_two_images"].size}}'>
                      {% for item_image in item["block_two_images"] %}
                        <div class="page-generic-block__custom-details-item-image">
                          {{ item_image["image"] }}
                          <span>{{ item_image["caption"] }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block Banner Image" %}
                  {% if item["block_banner_image"] != blank %}
                    <div class='page-generic-block__custom-details-item-image-banner'>
                      {% for banner in item["block_banner_image"] %}
                        <div class="page-generic-block__custom-details-item-image">
                          {{ banner["banner_image"] }}
                          <span>{{ banner["subtitle"] }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block 6 Image" %}
                  {% if item["block_six_images"] != blank %}
                    <div class='page-generic-block__custom-details-item-image-block'>
                      {% for item_image in item["block_six_images"] %}
                        <div class='page-generic-block__custom-details-item-image-container page-generic-block__columns-{{item_image["image"].size}}'>
                          {% for repeater_item in item_image["image"] %}
                            <div class="page-generic-block__custom-details-item-image">
                              {{ repeater_item["image"] }}
                            </div>
                          {% endfor %}  
                        </div>
                        <span>{{ item_image["caption"] }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% elsif item["type"] contains "Block Video" %}
                  {% if item["block_video"] != blank %}
                    {% for repeater_item in item["block_video"] %}
                      <div class="page-generic-block__custom-details-item-video">
                        {{ repeater_item["block_video"] }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% elsif item["type"] contains "Block Green Link Row" %}
                  {% if item["block_green_link_row"] != blank %}
                    {% for repeater_item in item["block_green_link_row"] %}
                      {% capture length %}{{ forloop.length }}{% endcapture %}
                    {% endfor %}
                    <div class="page-generic-block__custom-details-item-green-link-row length-{{ length }}">
                      {% for repeater_item in item["block_green_link_row"] %}
                        <div class="page-generic-block__custom-details-item-link">
                          {{ repeater_item["block_green_link_row"] }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}

              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% section 'newsletter' %}

      </div>

    </div>
  {% endif %}
</div>
