{% include 'general-title' title: 'Os nossos Projectos' %}

<div class="projects-block" data-section-type="projects" data-role="projects" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  <div class="projects-block__container">

    {% if page.metafields.custom_fields["projects_categories"] != blank %}
      <div class="projects-block__wrapper-categories" data-role="project-categories">
        <span class="init">Todos</span>
        <div class="projects-categories">
          <a class="cat _active" href="#" data-role='project-category' data-projcat="all">Todos</a>
          {% for item in page.metafields.custom_fields["projects_categories"] %}
            {% if item["category_title"] != blank %}
              <a class="cat" href="#" data-role='project-category' data-projcat="{{ forloop.index }}">{{ item["category_title"] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="projects-block__wrapper-list">
      <div class="projects-list" data-role="projects-list">
        {% for item in page.metafields.custom_fields["projects_categories"] %}
          {% if forloop.index == 1 %}
            {% assign count = forloop.index %}
            {% assign lightbox = 1 %}
          {% endif %}

          {% if item["projects"] != blank %}
            {% for projects_item in item["projects"] %}

              <div class="project lazyload _active" data-project="{{ count }}">

                <a class="project-main-content" href="{{ projects_item['main_image'] }}" data-lightbox="project-{{ lightbox }}">
                  <img src="{{ projects_item['main_image'] }}" alt="">

                  <div class="content">
                    {% if projects_item["project_title"] != blank %}
                      <h4>{{ projects_item["project_title"] }}</h4>
                    {% endif %}
                    {% if projects_item["project_text"] != blank %}
                      <div class="text">
                        {{ projects_item["project_text"] }}
                      </div>
                    {% endif %}
                  </div>
                </a>

                {% for repeater_item in projects_item["project_image"]  %}
                  {% if forloop.index == 1 %}
                    <div class="hover-image">
                  {% else %}
                    <div style="display: none">
                  {% endif %}

                    <a href="{{ repeater_item['project_image'] }}" data-lightbox="project-{{ lightbox }}"> 
                      <img src="{{ repeater_item['project_image'] }}" alt="">
                    </a>

                  </div>
                {% endfor %}

              </div>
              {% assign lightbox = lightbox | plus: 1 %}
            {% endfor %} 

            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
        
      </div>
    </div>

  </div>
</div>

{% include 'green-link-row' %}
{% section 'products-slider-projects' %}
{% section 'review-section' %}
{% section 'grid-pages-section' %}
{% section 'newsletter' %}