{% include 'general-title' title: page.title %}
{% section 'about-block-imgtext' %}
{% include 'green-link-row' %}
{% section 'products-slider-about' %}
{% section 'review-section' %}
{% section 'grid-pages-section' %}
{% section 'newsletter' %}