{% include 'general-title' title: 'Perguntas Frequentes' %}

<div class="faqs-block" data-section-type="faqs" data-role="faqs" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  <div class="faqs-block__container">

    {% if page.metafields.custom_fields["tag-sections"] != blank %}
      <div class="faqs-block__wrapper-categories" data-role="faqs-categories">
          {% for item in page.metafields.custom_fields["tag-sections"] %}
            {% unless forloop.index != 1 %}
              <span class="init">{{ item["section_title"] }}</span>
            {% endunless %}
            {% break %}
          {% endfor %}
        <div class="faqs-categories">
          {% for item in page.metafields.custom_fields["tag-sections"] %}
            {% assign active = '' %}
            {% unless forloop.index != 1 %}
              {% assign active = '_active' %}
            {% endunless %}
            {% if item["section_title"] != blank %}
              <a href="#" class="cat {{ active }}" data-cat="{{ forloop.index }}">{{ item["section_title"] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="faqs-block__wrapper-questions">
        {% for item in page.metafields.custom_fields["tag-sections"] %}
          {% if item["faqs"] != blank %}

            {% assign active_section = '' %}
            {% unless forloop.index != 1 %}
              {% assign active_section = '_active' %}
            {% endunless %}

            <div class="faqs-questions {{ active_section }}" data-block="{{ forloop.index }}">
              {% for faqs_item in item["faqs"] %}
                <div class="faq">
                  {% if faqs_item["faq_subcategory"] != blank %}
                    <h3>{{ faqs_item["faq_subcategory"] }}</h3>
                  {% endif %}
                  {% if faqs_item["faq_question"] != blank %}
                    <div class="faq-item">
                      <div class="colapsible accordion" data-action="colapsible-toggle">
                        <a href="#" class="colapsible-title">
                          {{ faqs_item["faq_question"] }}
                          <div>
                            <span class="open _active">{% include 'icon-plus.svg' %}</span>
                            <span class="close">{% include 'icon-close-small.svg' %}</span>
                          </div>
                        </a>
                      </div>
                      <div class="colapsible-content" data-role="colapsible-content">
                        <div>
                          {{ faqs_item["faq_answer"] }}
                        </div>
                      </div>
                    </div> 
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}

        {% if page.metafields.custom_fields["faq_last"] != blank %}
          {% for item in page.metafields.custom_fields["faq_last"] %}
            <div class="faqs-last _active">
              <div class="faq">
                <h3>{{ item["subcategory"] }}</h3>
                <p>{{ item["contact_text"] }}</p>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div> 
    {% endif %}

  </div>
</div>

{% section 'contact-form-block' %}
{% include 'green-link-row' %}
{% section 'products-slider-contacts' %}
{% section 'review-section' %}
{% section 'grid-pages-section' %}
{% section 'newsletter' %}
