{% paginate search.results by 12 %}

<div class="search">
  <div class="search__container">

    <div class="search__title-container">
      <h1>
        {% if search.performed %}
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
          {{ search.results_count }} resultados para "{{ search.terms }}"
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h1>

      <form action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
              name="q"
              id="Search"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="button">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>

    {% if search.performed %}
      <div class="search__results-wrapper">

        <div class="search__results-list">
          {% if search.results_count == 0 %}
            <p>Não foram encontrados resultados.</p>
          {% else %}
            <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>

            {% for item in search.results %}
              {%- if item.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}
              <div class="search__item" data-aos="fade-in" data-aos-delay="450">
                <a class="search__item-image" href="{{ item.url | within: collection }}">
                  {% assign featured_image = item.image | default: item.featured_image %}
                  {% if featured_image != blank %}
                    {% include 'responsive-image' with
                        image: featured_image,
                        max_width: 544,
                        max_height: 520,
                        allow_oversize: true
                    %}
                  {% endif %}
                </a>

                <span class="search__item-title">
                  <a href="{{ item.url | within: collection }}">{{ item.title | strip_html }}</a>
                </span>

                <span class="search__item-description">
                  {% if item.object_type == 'product' %}
                    {% if item.compare_at_price > item.price %}
                      {% if item.price_varies %}
                        {% assign sale_price = item.price | money %}
                        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                      {% else %}
                        {{ 'products.product.on_sale' | t }}
                        <span>{{ item.price | money }}</span>
                      {% endif %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      <s>{{ item.compare_at_price | money }}</s>
                    {% else %}
                      {% if item.price_varies %}
                        {% assign price = item.price | money %}
                        <span>{{ 'products.product.from_text_html' | t: price: price }}</span>
                      {% else %}
                        <span>{{ item.price | money }}</span>
                      {% endif %}
                    {% endif %}
                    {% unless item.available %}
                    {{ 'products.product.sold_out' | t }}
                    {% endunless %}
                  {% else %}
                    {{ item.content | strip_html | truncatewords: 15 }}
                  {% endif %}
                </span>
              </div>
            {% endfor %}
        </div>

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endif %}

      </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}
