<div class="block-project-media">
  <div class="block-project-media__container swiper-container">
    {% if info.settings.block_title != blank %}
      <div class="block-project-media__title">
        <h1>{{ info.settings.block_title }}</h1>
      </div>
    {% endif %}
    <div class="block-project-media__block swiper-wrapper">
      {% for item in info.blocks %}
        {% if item.settings.item_url != blank %}
          <a href="{{ item.settings.item_url }}" class="block-project-media__item swiper-slide">
            <div class="block-project-media__image">
              {% include 'responsive-image' with
                image: item.settings.item_image,
                max_width: 544,
                max_height: 306,
                allow_oversize: true
              %}
            </div>
            <div class="block-project-media__text">
             <p>{{ item.settings.item_title }}</p>
            </div>
          </a>
        {% else %}
          <div class="block-project-media__item swiper-slide">
            <div class="block-project-media__image">
              {% include 'responsive-image' with
                image: item.settings.item_image,
                max_width: 544,
                max_height: 306,
                allow_oversize: true
              %}
            </div>
            <div class="block-project-media__text">
             <p>{{ item.settings.item_title }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>