
{% assign countBlocks = info.blocks.size %}
{% assign modBlocks = countBlocks | modulo: 2 %}
{% assign firstBlock = countBlocks | divided_by: 2 | plus: modBlocks %}

<div class="block-imgtext">
  <div class="block-imgtext__container">

    {% if info.settings.block_title != blank %}
      <div class="block-imgtext__main-title _responsive">
        <h1>{{ info.settings.block_title }}</h1>
      </div>
    {% endif %}

    <div class="block-imgtext__block-imgright">
      <div class="block-imgtext__content">
        {% if info.settings.block_title != blank %}
          <div class="block-imgtext__main-title">
            <h1>{{ info.settings.block_title }}</h1>
          </div>
        {% endif %}
        
        {% for item in info.blocks limit:firstBlock %}
            <div class="block-imgtext__info {% if item.settings.bullets_design %} block-imgtext__bullet-design {% endif %}">
              <span>{% include 'icon-check-round.svg' %}</span>

              <div class="block-imgtext__description-title" data-action="open-info">
                {% if item.settings.item_title %}
                  <h3>{{ item.settings.item_title }}</h3>
                  {% include 'icon-close.svg' %}
                {% endif %}
              </div>

              <div class="block-imgtext__description-box" data-role="container-info">

                {% if item.settings.item_description %}
                  <p>{{ item.settings.item_description }}</p>
                {% endif %}

                {% if item.settings.item_cta != blank %}
                  <a class="link" href="{{ item.settings.item_cta_url }}">
                    {{ item.settings.item_cta }}
                    {% include 'icon-arrow.svg' %}
                  </a>
                {% endif %}

              </div>

            </div>
        {% endfor %}

        {% for item in info.blocks offset:firstBlock %}
            <div class="block-imgtext__info {% if item.settings.bullets_design %} block-imgtext__bullet-design {% endif %} _responsive">
              <span>{% include 'icon-check-round.svg' %}</span>

              <div class="block-imgtext__description-title" data-action="open-info">
                {% if item.settings.item_title %}
                  <h3>{{ item.settings.item_title }}</h3>
                  {% include 'icon-close.svg' %}
                {% endif %}
              </div>

              <div class="block-imgtext__description-box" data-role="container-info">
                {% if item.settings.item_description %}
                  <p>{{ item.settings.item_description }}</p>
                {% endif %}

                {% if item.settings.item_cta != blank %}
                  <a class="link" href="{{ item.settings.item_cta_url }}">
                    {{ item.settings.item_cta }}
                    {% include 'icon-arrow.svg' %}
                  </a>
                {% endif %}
              </div>

            </div>
        {% endfor %}
        
      </div>
      
      {% if info.settings.image_right != blank %}
        <div class="block-imgtext__img-container">
          {% include 'responsive-image' with
            image: info.settings.image_right,
            max_width: 538,
            max_height: 471
          %}
        </div>
      {% endif %}
    </div>

    <div class="block-imgtext__block-imgleft">
      {% if info.settings.image_left != blank %}
        <div class="block-imgtext__img-container">
          {% include 'responsive-image' with
            image: info.settings.image_left,
            max_width: 538,
            max_height: 471
          %}
        </div>
      {% endif %}

      <div class="block-imgtext__content">
        {% for item in info.blocks offset:firstBlock %}
            <div class="block-imgtext__info {% if item.settings.bullets_design %} block-imgtext__bullet-design {% endif %}">
              <span>{% include 'icon-check-round.svg' %}</span>

              {% if item.settings.item_title %}
                <h3>{{ item.settings.item_title }}</h3>
              {% endif %}

              {% if item.settings.item_description %}
                <p>{{ item.settings.item_description }}</p>
              {% endif %}

              {% if item.settings.item_cta != blank %}
                <a class="link" href="{{ item.settings.item_cta_url }}">
                  {{ item.settings.item_cta }}
                  {% include 'icon-arrow.svg' %}
                </a>
              {% endif %}

            </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>