{% assign blogSelected = blogs[section.settings.blog_element] %}
<div class="blog-section__container">
  <div class="blog-section__title">
    <h1>{{ section.settings.section_title }}</h1>
  </div>
  <div class="blog-section__blog">

    {% for article in blogSelected.articles limit:3 %}
      <div class="blog-section__post">
        <div class="blog-section__post-image">
          {% include 'responsive-image' with
            image: article.image,
            max_width: 840,
            max_height: 430,
            allow_oversize: true
          %}
        </div>
        <div class="blog-section__info">
          <div class="blog-section__tags-container">
            {% for tag in article.tags limit:2 %}
              <span class="blog-section__tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <div class="blog-section__info-description">{{ article.excerpt }}</div>
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="blog-section__button">
    <a href="{{ blogSelected.url }}" class="btn btn-transparent btn-arrow btn-medium">
      Ver mais Artigos
      {% include 'icon-arrow.svg' %}
    </a>
  </div>
</div>