{% if page.metafields.custom_fields["block_green_link_row"] != blank %}
  {% for item in page.metafields.custom_fields["block_green_link_row"] %}
  
    {% if item["show_block_green_link_row"] != 0 %}
      {% for repeater_item in item["link"] %}
        {% capture length %}{{ forloop.length }}{% endcapture %}
      {% endfor %}

      <div class="green-link-row">
        <div class="green-link-row__container length-{{ length }}">

          {% for repeater_item in item["link"] %}
            <div class="green-link-row__item-link">
              {{ repeater_item["link"] }}
            </div>
          {% endfor %}

        </div>
      </div>
    {% endif %}

  {% endfor %}
{% endif %}
