<div class="grid-pages__container">
  <div class="grid-pages__title-container">
    <h2>{{ section.settings.title_grid_section }}</h2>
  </div>
  <div class="grid-pages__wrapper">
    {% for block in section.blocks %}
      {% assign delay = forloop.index | times: 200 %}
      <a href="{{ block.settings.page_url }}" class="grid-pages__item lazyload" style="transition-delay:{{delay}}ms" data-bgset="{% include 'responsive-bg-image', image: block.settings.page_image %}">
        {% if block.settings.page_title != blank %}
          <h3>{{ block.settings.page_title }}</h3>
          {% include 'icon-arrow-thin.svg' %}
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>