<div class="grid-product__container">
  <div class="grid-product__title-container">
    <h1>{{ section.settings.title_section }}</h1>
    <p>{{ section.settings.subtitle_section }}</p>
  </div>
  <div class="grid-product__wrapper">
    {% for block in section.blocks %}
      {% assign delay = forloop.index | times: 200 %}
      <a href="{{ block.settings.item_url }}" class="grid-product__item" style="transition-delay:{{delay}}ms">
        <div class="grid-product__item-image">
          {% if block.settings.item_image != blank %}
            {% include 'responsive-image' with
              image: block.settings.item_image,
              max_width: 742,
              max_height: 708,
              allow_oversize: true
            %}
          {% endif %}
          <div href="{{ block.settings.item_url }}" class="grid-product__button btn btn-orange btn-small btn-arrow">
            Ver Produto
            {% include 'icon-arrow.svg' %}
          </div>
        </div>
        <div class="grid-product__item-info">
          {% if block.settings.item_title != blank %}
            <h3>{{ block.settings.item_title }}</h3>
          {% endif %}
          {% if block.settings.item_subtitle != blank %}
            <p>{{ block.settings.item_subtitle }}</p>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</div>