<div class="header-banner__slider-container swiper-container">

  <div class="header-banner__slider-wrapper swiper-wrapper">
    {% for block in section.blocks %}
      <div 
        class="header-banner__slide swiper-slide lazyload">

        {% if block.settings.slide_image_mobile != blank %}
          {%- assign image_mobile = block.settings.slide_image_mobile -%}
        {% else %}
          {%- assign image_mobile = block.settings.slide_image -%}
        {% endif %}
        
        <div class="header-banner__image-mobile lazyload" data-bgset="{% include 'responsive-bg-image', image: image_mobile %}"></div>
        <div class="header-banner__image-desktop lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.slide_image %}"></div>
        <div class="header-banner__slide-mask"></div>
        <div class="header-banner__slide-info">
          {% if block.settings.slide_title != blank %}
            <h1>{{ block.settings.slide_title }}</h1>
          {% endif %}
          {% if block.settings.slide_subtitle != blank %}
            <p>{{ block.settings.slide_subtitle }}</p>
          {% endif %}
          {% if block.settings.slide_cta_url != blank %}
            <a class="btn btn-orange btn-medium btn-arrow" href="{{ block.settings.slide_cta_url }}">
              {{ block.settings.slide_cta }}
              {% include 'icon-arrow.svg' %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="header-banner__pagination swiper-pagination"></div>

  <div class="header-banner__button-prev swiper-button-prev">
    {% include 'icon-arrow_big.svg' %}
  </div>
  <div class="header-banner__button-next swiper-button-next">
    {% include 'icon-arrow_big.svg' %}
  </div>

</div>
<div class="header-banner__description-container">
  <div class="header-banner__description-column swiper-container" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
    <div class="header-banner__description-wrapper swiper-wrapper">
      <div class="header-banner__description-item swiper-slide">
        {% if section.settings.column_image_left != blank %}
          <div class="header-banner__description-image">
            {% include 'responsive-image' with
              image: section.settings.column_image_left,
              max_width: 38,
              max_height: 38
            %}
          </div>
        {% endif %}
        <div class="header-banner__description-info">
          {% if section.settings.column_title_left != blank %}
            <h3>{{ section.settings.column_title_left }}</h3>
          {% endif %}
          {% if section.settings.column_subtitle_left != blank %}
            <p>{{ section.settings.column_subtitle_left }}</p>
          {% endif %}
        </div>
      </div>

      <div class="header-banner__description-item swiper-slide">
        {% if section.settings.column_image_center %}
          <div class="header-banner__description-image">
            {% include 'responsive-image' with
              image: section.settings.column_image_center,
              max_width: 38,
              max_height: 38
            %}
          </div>
        {% endif %}
        <div class="header-banner__description-info">
          {% if section.settings.column_title_center != blank %}
            <h3>{{ section.settings.column_title_center }}</h3>
          {% endif %}
          {% if section.settings.column_subtitle_center != blank %}
            <p>{{ section.settings.column_subtitle_center }}</p>
          {% endif %}
        </div>
      </div>

      <div class="header-banner__description-item swiper-slide">
        {% if section.settings.column_image_right %}
          <div class="header-banner__description-image">
            {% include 'responsive-image' with
              image: section.settings.column_image_right,
              max_width: 38,
              max_height: 38
            %}
          </div>
        {% endif %}
        <div class="header-banner__description-info">
          {% if section.settings.column_title_right != blank %}
            <h3>{{ section.settings.column_title_right }}</h3>
          {% endif %}
          {% if section.settings.column_subtitle_right != blank %}
            <p>{{ section.settings.column_subtitle_right }}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
<div>