<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="bc5f3a5b-4d35-4480-9cc3-049d2dc1867c" data-name="Layer 2">
    <g id="b5344c90-d92f-4c62-9786-ede7d4a2e2bf" data-name="facebook">
      <g>
        <path d="M4,.5H26A3.54,3.54,0,0,1,29.5,4V26A3.54,3.54,0,0,1,26,29.5H4A3.54,3.54,0,0,1,.5,26V4A3.54,3.54,0,0,1,4,.5Z" fill="none" stroke="#fff" opacity="0.5" style="isolation: isolate"/>
        <g opacity="0.5">
          <path d="M17.6,8H12.4A4.44,4.44,0,0,0,8,12.4v5.2A4.44,4.44,0,0,0,12.4,22h5.2A4.44,4.44,0,0,0,22,17.6V12.4A4.44,4.44,0,0,0,17.6,8Zm3.1,9.6a3.12,3.12,0,0,1-3.1,3.1H12.4a3.12,3.12,0,0,1-3.1-3.1V12.4a3.12,3.12,0,0,1,3.1-3.1h5.2a3.12,3.12,0,0,1,3.1,3.1Z" fill="#fff"/>
          <path d="M15,11.5A3.5,3.5,0,1,0,18.5,15,3.54,3.54,0,0,0,15,11.5Zm0,5.7A2.2,2.2,0,1,1,17.2,15,2.22,2.22,0,0,1,15,17.2Z" fill="#fff"/>
          <circle cx="18.8" cy="11.2" r="0.9" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
