<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 16.1" style="enable-background:new 0 0 20 16.1;" xml:space="preserve">
<path style="fill:#302F2C;" d="M19,13.8c0.6,0,1,0.6,1,1.1c0,0.6-0.4,1.1-1,1.2H1c-0.6,0-1-0.6-1-1.2c0-0.6,0.4-1.1,1-1.1H19z M19,6.9
	c0.6,0,1,0.6,1,1.2c0,0.6-0.4,1.1-1,1.1H1c-0.6,0-1-0.6-1-1.1c0-0.6,0.4-1.1,1-1.2H19z M19,0c0.6,0,1,0.6,1,1.1c0,0.6-0.4,1.1-1,1.1
	H1c-0.6,0-1-0.6-1-1.1C0,0.6,0.4,0,1,0H19z"/>
</svg>
