<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="e94800da-70b0-4873-ad1e-f21a395639b9" data-name="Layer 2">
    <g id="f0d6d846-7208-401c-bd53-36aca96638c9" data-name="facebook">
      <g>
        <path d="M4,.5H26A3.54,3.54,0,0,1,29.5,4V26A3.54,3.54,0,0,1,26,29.5H4A3.54,3.54,0,0,1,.5,26V4A3.54,3.54,0,0,1,4,.5Z" fill="none" stroke="#fff" opacity="0.5" style="isolation: isolate"/>
        <path d="M13.4,17.7V13.1l4.2,2.3Zm9.3-6.1a2,2,0,0,0-1.4-1.4q-3.15-.3-6.3-.3t-6.3.3a2,2,0,0,0-1.4,1.4,24.22,24.22,0,0,0,0,7.6,2,2,0,0,0,1.4,1.4,44.31,44.31,0,0,0,6.3.3q3.15,0,6.3-.3a2,2,0,0,0,1.4-1.4,23.4,23.4,0,0,0,.3-3.8A24.33,24.33,0,0,0,22.7,11.6Z" fill="#fff" opacity="0.5" style="isolation: isolate"/>
      </g>
    </g>
  </g>
</svg>
