<svg xmlns="http://www.w3.org/2000/svg" width="16" height="12.84" viewBox="0 0 16 12.84">
  <path id="Path_Copy_4" data-name="Path Copy 4" d="M16,1.52a6.615,6.615,0,0,1-1.885.51A3.258,3.258,0,0,0,15.558.237a6.622,6.622,0,0,1-2.085.786A3.3,3.3,0,0,0,11.077,0,3.263,3.263,0,0,0,7.794,3.241a3.2,3.2,0,0,0,.085.739A9.358,9.358,0,0,1,1.114.593a3.2,3.2,0,0,0-.445,1.63,3.231,3.231,0,0,0,1.46,2.7A3.291,3.291,0,0,1,.643,4.515c0,.014,0,.028,0,.041A3.254,3.254,0,0,0,3.276,7.734a3.336,3.336,0,0,1-1.482.056A3.281,3.281,0,0,0,4.86,10.041,6.64,6.64,0,0,1,.783,11.429,6.693,6.693,0,0,1,0,11.383,9.371,9.371,0,0,0,5.031,12.84a9.214,9.214,0,0,0,9.34-9.223c0-.14,0-.28-.01-.419A6.611,6.611,0,0,0,16,1.52Z" fill="#fff"/>
</svg>