<svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8"><path d="M3.168,1.248a1,1,0,0,1,1.664,0l2.131,3.2A1,1,0,0,1,6.131,6H1.869a1,1,0,0,1-.832-1.555Z" transform="translate(6) rotate(90)" fill="#e6e3e0"/></svg>