<svg xmlns="http://www.w3.org/2000/svg" width="9.01" height="11.91" viewBox="0 0 9.01 11.91">
  <g id="b1523ba3-b8cc-4cea-9c15-ffdd0d9c406d" data-name="Layer 2">
    <g id="f44f0bb1-7ff6-4a14-b756-a05020a9b592" data-name="facebook">
      <g id="e84f77b0-43ec-440e-9495-d32ba5d60122" data-name="ICON-3" opacity="0.7">
        <g id="a631d745-9456-454d-b1b7-c37f2baf619e" data-name="Group 2788">
          <g id="a69326de-7912-48dc-9339-c1888d2776b1" data-name="Group 2787">
            <path id="abb20d50-5f02-49f3-bfa2-5bd153690d40" data-name="Path 377" d="M8.09,1.77A4.52,4.52,0,0,0,1.75.94a4.08,4.08,0,0,0-.83.83,4.52,4.52,0,0,0,0,5.47l3.59,4.67L8.09,7.24A4.52,4.52,0,0,0,8.09,1.77ZM4.51,2A2.36,2.36,0,1,1,2.15,4.39h0A2.36,2.36,0,0,1,4.51,2Z" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
