<svg xmlns="http://www.w3.org/2000/svg" width="19.529" height="19.529" viewBox="0 0 19.529 19.529">
  <path id="Path_696" data-name="Path 696" d="M21.765,964.362a1.285,1.285,0,0,0-1.285,1.285v7.2H13.285a1.285,1.285,0,1,0,0,2.569H20.48v7.2a1.285,1.285,0,0,0,2.57,0v-7.2h7.195a1.285,1.285,0,1,0,0-2.569H23.049v-7.2A1.285,1.285,0,0,0,21.765,964.362Z" transform="translate(-12 -964.362)" fill="#302f2c"/>
</svg>
