<svg xmlns="http://www.w3.org/2000/svg" width="7.031" height="12.5" viewBox="0 0 7.031 12.5">
  <path id="Path" d="M6.766,0,5.08,0A2.9,2.9,0,0,0,1.961,3.076V4.495H.265A.26.26,0,0,0,0,4.75V6.8a.26.26,0,0,0,.265.255h1.7v5.186a.26.26,0,0,0,.265.255H4.438a.26.26,0,0,0,.265-.255V7.06H6.686A.26.26,0,0,0,6.951,6.8V4.75a.25.25,0,0,0-.078-.18.271.271,0,0,0-.188-.075H4.7v-1.2c0-.578.143-.871.927-.871H6.766a.26.26,0,0,0,.265-.255V.257A.26.26,0,0,0,6.766,0Z" fill="#fff"/>
</svg>