<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.26 8.56"><path d="M6,2,9.26,5.25,6,8.53M9.26,5.25H1" transform="translate(0 -0.97)" style="fill:none;stroke:#302f2c;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"/></svg>