<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11.04" viewBox="0 0 11 11.04">
  <g id="e09900b3-e9fd-44f1-8eba-6115266d5a51" data-name="Layer 2">
    <g id="b53d2ec6-c04c-450c-9197-7b9e071f5338" data-name="facebook">
      <path id="e0c15105-fde2-4bd9-82e1-1fc17fd00899" data-name="Path 547" d="M8.33,6.63a.87.87,0,0,0-.26-.15l-.9-.43C7.06,6,7,6,6.87,6.12s-.34.43-.42.52-.15.1-.28,0A4,4,0,0,1,5.1,6a4.23,4.23,0,0,1-.73-.91c-.08-.13,0-.2.06-.27l.2-.23a1.59,1.59,0,0,0,.13-.22.27.27,0,0,0,0-.23c0-.07-.3-.71-.41-1S4.12,3,4,3L3.78,3a.53.53,0,0,0-.35.17A1.46,1.46,0,0,0,3,4.22a2.53,2.53,0,0,0,.54,1.36,5.35,5.35,0,0,0,2.26,2c1.35.53,1.35.35,1.59.33a1.31,1.31,0,0,0,.89-.63,1.09,1.09,0,0,0,.08-.62ZM5.6.9A4.52,4.52,0,0,0,1.06,5.4,4.46,4.46,0,0,0,1.92,8L1.36,9.71,3.1,9.16a4.52,4.52,0,0,0,5-7.5A4.57,4.57,0,0,0,5.6.89ZM11,5.4a5.4,5.4,0,0,1-8,4.69L0,11,1,8.17A5.4,5.4,0,1,1,11,5.4Z" fill="#fff" fill-rule="evenodd" opacity="0.7" style="isolation: isolate"/>
    </g>
  </g>
</svg>
