<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="20" viewBox="0 0 60 20">
  <defs>
    <clipPath id="fb5c984e-191a-4ad4-9dca-580c6b9da427" transform="translate(0 0)">
      <path d="M35.3,0C31,0,28,2.23,27.93,5.42h0c0,2.36,2.16,3.67,3.82,4.46h0c1.7.8,2.27,1.31,2.26,2h0c0,1.1-1.36,1.59-2.61,1.6h0a9.28,9.28,0,0,1-4.48-1h0l-.79,3.59a13.6,13.6,0,0,0,4.85.87h0c4.58,0,7.58-2.2,7.6-5.61h0c0-4.32-6.16-4.56-6.11-6.49h0c0-.59.59-1.22,1.85-1.37h0a8.39,8.39,0,0,1,4.3.73h0L39.38.72A12.09,12.09,0,0,0,35.3,0ZM46.75.3A2,2,0,0,0,44.9,1.5h0L38.35,16.68h4.58l.91-2.44h5.6L50,16.68h4L50.48.3Zm.64,4.43,1.33,6.15H45.1ZM22.38.3,18.77,16.68h4.36L26.74.3ZM15.92.3,11.38,11.45,9.54,2A2,2,0,0,0,7.53.3H.1L0,.78A18.16,18.16,0,0,1,4.3,2.17h0a1.81,1.81,0,0,1,1,1.44h0L8.82,16.69h4.61L20.5.3Z" fill="none"/>
    </clipPath>
    <clipPath id="baa1263e-9138-4717-b66d-8b23b0b1bfce" transform="translate(0 0)">
      <rect x="0.41" width="54" height="17" fill="none"/>
    </clipPath>
    <clipPath id="f177f266-4fe6-4623-8766-03924f095c1a" transform="translate(0 0)">
      <rect width="54" height="17" fill="none"/>
    </clipPath>
  </defs>
  <g id="a321c309-9fce-4678-84f1-c4f85484882b" data-name="Layer 2">
    <g id="ba8568a3-c15f-455b-9445-5f18a53b6532" data-name="facebook">
      <g clip-path="url(#fb5c984e-191a-4ad4-9dca-580c6b9da427)">
        <g id="a6e46501-0a94-43dc-958e-7c90cf886bef" data-name="visa" opacity="0.5">
          <g id="fea1ff2e-b6e3-4b18-8853-552b4e7c0df8" data-name="Group 77">
            <g clip-path="url(#baa1263e-9138-4717-b66d-8b23b0b1bfce)">
              <g id="a20315b5-bd04-4e30-964f-bdfbfd215ad0" data-name="Group 76">
                <g clip-path="url(#fb5c984e-191a-4ad4-9dca-580c6b9da427)">
                  <g id="fc4232a2-33c2-4009-8813-dd31d181acc6" data-name="Group 75">
                    <g clip-path="url(#f177f266-4fe6-4623-8766-03924f095c1a)">
                      <g id="a917a24d-10e9-4d78-b9e3-96ab5d15ec5c" data-name="Group 74">
                        <g id="f5cb150c-029a-4701-bd16-629ec147e4a7" data-name="Group 73">
                          <path id="bf4fd090-93d3-479e-acaf-dfe9002168e2" data-name="Path 25" d="M-748-22H619V38H-748Z" transform="translate(0 0)" fill="#fff"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
