<svg xmlns="http://www.w3.org/2000/svg" width="10.569" height="10.5" viewBox="0 0 10.569 10.5">
  <g id="arrow_outline_left" transform="translate(10.569 10.5) rotate(180)">
    <g id="arrow_outline_left-2" data-name="arrow_outline_left">
      <rect id="bg" width="10.5" height="10.5" fill="none"/>
      <path id="arrow" d="M3.281,6.563,0,3.281,3.281,0" transform="translate(1.313 1.969)" fill="none" stroke="#302f2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
      <path id="arrow-2" data-name="arrow" d="M0,.5H8.257" transform="translate(1.313 4.75)" fill="none" stroke="#302f2c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
    </g>
  </g>
</svg>