<svg xmlns="http://www.w3.org/2000/svg" width="14.686" height="14.093" viewBox="0 0 14.686 14.093">
<g transform="translate(0.5 0.549)"><path style="fill:none;stroke:#90bf44;fill-rule:evenodd;" d="M3.329-6.58a.653.653,0,0,1-.88-.277.715.715,0,0,1-.07-.416l.67-3.9L.2-13.917a.638.638,0,0,1-.014-.915.661.661,0,0,1,.377-.194L4.5-15.6l1.76-3.537a.655.655,0,0,1,.866-.305.722.722,0,0,1,.307.305L9.194-15.6l3.938.569a.653.653,0,0,1,.545.735.685.685,0,0,1-.182.361l-2.849,2.774.67,3.9a.637.637,0,0,1-.517.749.686.686,0,0,1-.433-.069L6.862-8.411Z" transform="translate(0 19.5)"/></g></svg>