<svg version="1.1" class="pinterest-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 31 31" xml:space="preserve">
    <path id="base" d="M4.5,1h22C28.4,1,30,2.6,30,4.5v22c0,1.9-1.6,3.5-3.5,3.5h-22C2.6,30,1,28.4,1,26.5v-22
        C1,2.6,2.6,1,4.5,1z" stroke="#919B95" fill="none"/>
    <path id="icon" d="M21.4,8c-1.4-1.3-3.3-2-5.2-2c-2.3-0.1-4.5,0.7-6.1,2.3C8.8,9.5,8,11.2,8,13c0,2.1,0.9,3.8,2.4,4.4
        c0.1,0,0.2,0.1,0.3,0.1c0.3,0,0.6-0.2,0.7-0.5c0.1-0.2,0.2-0.7,0.2-0.9c0.1-0.3,0-0.7-0.2-0.9c-0.4-0.5-0.7-1.2-0.6-1.9
        c0-1.3,0.5-2.6,1.5-3.5c1-0.9,2.2-1.4,3.6-1.3c2.6,0,4.2,1.5,4.2,3.8c0,1.3-0.3,2.7-0.9,3.9c-0.4,0.9-1.3,1.5-2.2,1.5
        c-0.5,0-0.9-0.2-1.2-0.5c-0.3-0.3-0.3-0.8-0.2-1.2c0.1-0.5,0.3-1,0.4-1.5c0.3-0.8,0.5-1.6,0.5-2.4c0-0.5-0.1-1-0.5-1.4
        c-0.3-0.4-0.8-0.6-1.3-0.6c-1.4,0-2.4,1.4-2.4,3.1c0,0.6,0.1,1.2,0.3,1.7c-0.2,0.7-1.2,4.9-1.4,5.7c-0.1,0.5-0.8,4.1,0.3,4.4
        c1.2,0.3,2.4-3.3,2.5-3.7c0.1-0.3,0.4-1.6,0.6-2.3c0.7,0.6,1.6,1,2.5,1c1.8,0,3.4-0.8,4.5-2.2c1.2-1.6,1.8-3.5,1.7-5.4
        C23.4,10.7,22.6,9.1,21.4,8z" fill="#919B95"/>
</svg>
