<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="f8229e52-e30e-4b0c-b555-09e4440d8fdc" data-name="Layer 2">
    <g id="e6dc1301-c07c-450e-9764-793e05740e80" data-name="facebook">
      <g>
        <path d="M4,.5H26A3.54,3.54,0,0,1,29.5,4V26A3.54,3.54,0,0,1,26,29.5H4A3.54,3.54,0,0,1,.5,26V4A3.54,3.54,0,0,1,4,.5Z" fill="none" stroke="#fff" opacity="0.5" style="isolation: isolate"/>
        <path d="M17.7,9H16.3c-1.6,0-2.6,1.1-2.6,2.9v1.3H12.3a.22.22,0,0,0-.2.2v2a.22.22,0,0,0,.2.2h1.4v4.9a.22.22,0,0,0,.2.2h1.9a.22.22,0,0,0,.2-.2V15.6h1.7a.22.22,0,0,0,.2-.2v-2c0-.1,0-.1-.1-.2a.35.35,0,0,0-.2-.1H15.9V12c0-.5.1-.8.8-.8h1a.22.22,0,0,0,.2-.2V9.2A.22.22,0,0,0,17.7,9Z" fill="#fff" opacity="0.5" style="isolation: isolate"/>
      </g>
    </g>
  </g>
</svg>
