<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11.39" height="12.69" viewBox="0 0 11.39 12.69">
  <defs>
    <clipPath id="b7593641-2e77-4537-a95e-b45b271d47fc" transform="translate(0.64 0.64)">
      <path d="M9.89,8.67C9.19,8.09,7.77,7,7.66,6.94c-.45-.24-1.1.92-1.27,1.21h0a.69.69,0,0,1-.94.24,1,1,0,0,1-.19-.17h0A24.77,24.77,0,0,1,2.92,5.44c-.55-.73-.13-1.13,0-1.22l0,0h0A2.37,2.37,0,0,0,3.23,4a3.1,3.1,0,0,0,.85-1.29A.63.63,0,0,0,4,2.09L2.64.25A.62.62,0,0,0,2.23,0a.59.59,0,0,0-.46.12,4.28,4.28,0,0,0-1.6,2A3.93,3.93,0,0,0,0,2.82,4.65,4.65,0,0,0,.17,4.48,7.88,7.88,0,0,0,.92,6.34,10,10,0,0,0,2.5,8.48s.68.77,1.22,1.26a6.21,6.21,0,0,0,2.4,1.47,3,3,0,0,0,1.61.14A2.78,2.78,0,0,0,9,10.7,4.31,4.31,0,0,0,10,9.46a.63.63,0,0,0-.14-.79Z" fill="none"/>
    </clipPath>
  </defs>
  <g id="bf99e121-d27e-452c-9432-37d78b60cd03" data-name="Layer 2">
    <g id="f0cbd020-4e0e-4f1a-963f-d7e0b504a2ea" data-name="facebook">
      <g id="a48da1f9-a461-473e-a842-8649ef80d26a" data-name="ICON" opacity="0.7">
        <g clip-path="url(#b7593641-2e77-4537-a95e-b45b271d47fc)">
          <g id="bfda2f10-5ce3-4319-a504-dbc769f399c2" data-name="Group 2634">
            <path id="a048d776-3640-46fb-8e6f-d4dbcc2d944d" data-name="Path 300" d="M-.64-.64h11.4V12.05H-.64Z" transform="translate(0.64 0.64)" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
