<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
<g id="Group_3873" transform="translate(-1031 -214)">
	<g id="checkbox" transform="translate(1031 214)">
		<g id="checkbox-2">
			<g id="bg">
				<path fill="#FBF8F6" d="M2,0h16c1.1,0,2,0.9,2,2v16c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V2C0,0.9,0.9,0,2,0z"/>
				<path fill="#E6E3E0" d="M18,20H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v16C20,19.1,19.1,20,18,20z M2,1
					C1.4,1,1,1.4,1,2v16c0,0.6,0.4,1,1,1h16c0.6,0,1-0.4,1-1V2c0-0.6-0.4-1-1-1H2z"/>
			</g>
		</g>
	</g>
	<g id="Icon_Check" transform="translate(1035 220)" opacity="0.4">
		<path id="Mask-2" fill="#747475" d="M10.2,0.2c0.2-0.2,0.6-0.2,0.8,0s0.2,0.6,0,0.8L4,8.1c-0.2,0.2-0.6,0.2-0.8,0c0,0,0,0,0,0
			L0.2,5.1c-0.2-0.2-0.2-0.6,0-0.8c0.2-0.2,0.6-0.2,0.8,0l2.5,2.5L10.2,0.2z"/>
		<g>
			<defs>
				<path id="SVGID_1_" d="M10.2,0.2c0.2-0.2,0.6-0.2,0.8,0s0.2,0.6,0,0.8L4,8.1c-0.2,0.2-0.6,0.2-0.8,0c0,0,0,0,0,0L0.2,5.1
					c-0.2-0.2-0.2-0.6,0-0.8c0.2-0.2,0.6-0.2,0.8,0l2.5,2.5L10.2,0.2z"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  overflow="visible"/>
			</clipPath>
			<g id="Icon_Check-2" transform="translate(0)" clip-path="url(#SVGID_2_)">
				<g id="Color" transform="translate(-3.537 -4.716)">
					<rect id="Icon_Fill_Accent" x="0" y="0" fill="#747475" width="17.7" height="17.7"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
