<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="52.54" height="26.15" viewBox="0 0 52.54 26.15">
  <defs>
    <clipPath id="f0516f5f-d775-43b4-a0ed-2a8e6190fa7d" transform="translate(0.57 0.6)">
      <path d="M2,21.75l-.09.67a.57.57,0,0,0,.49.62h21.9a.56.56,0,0,0,.57-.55v-.07l-.1-.67a1,1,0,0,1,.85-1.06,1,1,0,0,1,1.05.84h0l.08.65a2.24,2.24,0,0,1-1.69,2.69,2.12,2.12,0,0,1-.44.05H2.19A2.24,2.24,0,0,1,0,22.64a1.74,1.74,0,0,1,.06-.45l.08-.65a1,1,0,0,1,1-.85h0A1,1,0,0,1,2,21.75" fill="none"/>
    </clipPath>
    <clipPath id="af32ed0e-749b-465b-abb3-09276848e09c" transform="translate(0.57 0.6)">
      <path d="M22.21,16.69A1.8,1.8,0,0,0,24.1,15V14.9a1.88,1.88,0,0,0-2-1.72H19.93a.88.88,0,0,1-.86-.89h0a.86.86,0,0,1,.86-.88h1.43a1.68,1.68,0,0,0,1.75-1.54,1.7,1.7,0,0,0-1.69-1.71H17.83v8.52Zm2.63-6.82a2.82,2.82,0,0,1-.84,2l-.05.06L24,12a3.46,3.46,0,0,1,1.81,2.91,3.57,3.57,0,0,1-3.51,3.63H17a.93.93,0,0,1-.93-1V7.35A.93.93,0,0,1,17,6.4h0l4.35,0a3.43,3.43,0,0,1,3.54,3.34v.12" fill="none"/>
    </clipPath>
    <clipPath id="b04082be-cdf9-4c1b-bda7-6651861c7014" transform="translate(0.57 0.6)">
      <path d="M7.84,15l0,.08,0-.08c.24-.67.54-1.42.85-2.23s.64-1.67,1-2.45.64-1.5.93-2.12a7.17,7.17,0,0,1,.72-1.3A1.44,1.44,0,0,1,12.5,6.4h.21a1.06,1.06,0,0,1,.69.22.77.77,0,0,1,.28.48L15,17.67a.83.83,0,0,1-.23.64.89.89,0,0,1-.66.22,1,1,0,0,1-.69-.2.71.71,0,0,1-.32-.53c-.05-.35-.09-.74-.13-1.17s-.27-2.27-.33-2.74-.44-3.46-.57-4.55V9.25l-.44.92c-.15.31-.31.69-.49,1.13s-.35.91-.52,1.4-1,2.89-1,2.89c-.08.22-.23.66-.36,1.07a8.64,8.64,0,0,1-.3.83,1.18,1.18,0,0,1-1.08.67,1.19,1.19,0,0,1-1.1-.67c0-.07-.16-.43-.3-.83s-.28-.85-.36-1.07c0,0-.84-2.41-1-2.89s-.36-.95-.53-1.4-.34-.82-.48-1.13l-.44-.92v.09c-.14,1.09-.52,4.07-.57,4.55s-.28,2.31-.33,2.74-.09.82-.14,1.17a.73.73,0,0,1-.31.53,1.07,1.07,0,0,1-.69.2.89.89,0,0,1-.66-.22.84.84,0,0,1-.24-.64L2,7.1a.79.79,0,0,1,.28-.47A1,1,0,0,1,3,6.41h.23a1.39,1.39,0,0,1,1.14.51,7.52,7.52,0,0,1,.72,1.3c.3.62.6,1.32.93,2.12s.64,1.6,1,2.45.6,1.56.85,2.24" fill="none"/>
    </clipPath>
    <clipPath id="bbf17975-7304-48ae-9cad-e2ee65769190" transform="translate(0.57 0.6)">
      <path d="M5.16,0H21.75c1.56,0,2.34,1.17,2.52,2.72l.07.5a1,1,0,0,1-.86,1.06,1,1,0,0,1-1-.85h0L22.37,3c-.07-.59-.32-1-.92-1h-16c-.6,0-.84.45-.91,1l-.07.47a.94.94,0,0,1-1,.86h0a1,1,0,0,1-.86-1.06l.07-.5C2.82,1.17,3.6,0,5.16,0" fill="none"/>
    </clipPath>
    <clipPath id="e66a5e7e-6716-46eb-9e3e-20c24910458a" transform="translate(0.57 0.6)">
      <path d="M35,11.14c-.11.45-.23.92-.36,1.42s-.25,1-.37,1.45-.23.86-.34,1.2a3.39,3.39,0,0,1-.28.71.68.68,0,0,1-.67.34,1.49,1.49,0,0,1-.36-.05.64.64,0,0,1-.36-.31,4.78,4.78,0,0,1-.27-.75c-.11-.37-.22-.8-.35-1.28s-.24-1-.36-1.53l-.33-1.5c-.09-.47-.18-.86-.24-1.19l-.11-.58s0-.06,0-.09V8.93a.39.39,0,0,1,.16-.33.58.58,0,0,1,.38-.13.65.65,0,0,1,.36.1.51.51,0,0,1,.19.31,3.38,3.38,0,0,0,.07.36c0,.21.1.49.17.83s.14.71.23,1.13.17.85.26,1.28.19.84.28,1.25.18.75.26,1l.27-.93c.1-.35.19-.71.29-1.09s.19-.75.28-1.12.17-.72.25-1,.14-.61.2-.86l.13-.56a.72.72,0,0,1,.23-.36.67.67,0,0,1,1.07.36c.09.4.18.84.29,1.33s.21,1,.33,1.47.23,1,.35,1.47.24.9.35,1.28c.08-.29.17-.64.26-1s.19-.82.28-1.25.19-.85.28-1.26.17-.8.25-1.13.13-.61.17-.82.07-.32.07-.32a.51.51,0,0,1,.19-.32.64.64,0,0,1,.35-.1.68.68,0,0,1,.39.13.44.44,0,0,1,.16.33V9s0,.06,0,.09,0,.26-.12.58-.15.73-.25,1.19-.2,1-.32,1.5-.24,1-.36,1.52-.23.91-.34,1.28a5.05,5.05,0,0,1-.27.74.65.65,0,0,1-.37.32,1.53,1.53,0,0,1-.36.07l-.14,0a.8.8,0,0,1-.21-.05.65.65,0,0,1-.22-.11.58.58,0,0,1-.17-.21,6.81,6.81,0,0,1-.26-.76c-.1-.35-.21-.75-.32-1.2s-.24-.91-.35-1.4-.22-.94-.31-1.37" fill="none"/>
    </clipPath>
    <clipPath id="f8b63864-7dcb-4140-a0d6-4960dc2faabb" transform="translate(0.57 0.6)">
      <path d="M41.33,14c-.13.39-.23.74-.33,1.07s-.18.6-.26.81a.5.5,0,0,1-.53.35.46.46,0,0,1-.53-.49.41.41,0,0,1,0-.16s.07-.21.15-.49l.33-1c.14-.42.29-.88.46-1.38s.33-1,.51-1.48.35-.94.53-1.36a7.83,7.83,0,0,1,.47-1,.55.55,0,0,1,.26-.28,1.1,1.1,0,0,1,.44-.07,1,1,0,0,1,.45.08.51.51,0,0,1,.27.29c.11.24.25.57.4,1s.33.85.5,1.32.35.95.52,1.44.33.95.47,1.37L45.82,15c.1.29.16.49.19.57a.88.88,0,0,1,0,.16.44.44,0,0,1-.15.36.58.58,0,0,1-.42.14.45.45,0,0,1-.31-.1.67.67,0,0,1-.16-.25c-.08-.21-.18-.49-.29-.81s-.22-.69-.34-1.08ZM44,13c-.17-.52-.34-1-.49-1.44s-.31-.86-.47-1.26c0-.08-.08-.18-.13-.3a1.3,1.3,0,0,0-.08-.21,1.19,1.19,0,0,0-.08.2c0,.12-.08.23-.12.32-.16.39-.32.81-.47,1.25s-.31.92-.48,1.44Z" fill="none"/>
    </clipPath>
    <clipPath id="e9207dce-36de-4b75-a74f-9d4b86d49cd3" transform="translate(0.57 0.6)">
      <path d="M48.12,13.22,48,13.09a1.77,1.77,0,0,1-.12-.17c-.11-.16-.23-.36-.37-.59s-.27-.47-.4-.73-.26-.52-.38-.78-.24-.5-.34-.72l-.26-.59A2.13,2.13,0,0,1,46,9.16l0-.09V9a.44.44,0,0,1,.15-.36.57.57,0,0,1,.42-.15.44.44,0,0,1,.34.12.92.92,0,0,1,.15.25l.12.26.22.51.3.66c.11.24.23.48.35.72s.23.45.34.67a5.39,5.39,0,0,0,.3.52,6.41,6.41,0,0,0,.5-.88c.18-.36.35-.7.51-1.05l.42-.92c.12-.27.19-.43.21-.5a1,1,0,0,1,.15-.24.42.42,0,0,1,.35-.12.6.6,0,0,1,.42.14.51.51,0,0,1,.15.36.28.28,0,0,1,0,.09.19.19,0,0,1,0,.1c0,.06-.07.18-.14.35s-.15.36-.25.59-.21.47-.34.73-.25.52-.39.78-.26.5-.4.73a4.92,4.92,0,0,1-.37.6,1.43,1.43,0,0,1-.23.27v2.5a.54.54,0,0,1-.15.4.56.56,0,0,1-.39.15.52.52,0,0,1-.55-.55v-2.5Z" fill="none"/>
    </clipPath>
  </defs>
  <g id="a80713ab-a42d-4a19-86a0-b4cdb798cf76" data-name="Layer 2">
    <g id="e4e0ab02-9a0b-4dcb-a4d1-eaaf6a56428f" data-name="facebook">
      <g id="a68d1d85-b7ad-4b7d-9486-64157b743fad" data-name="mbway" opacity="0.5">
        <g id="b6fd582b-cd46-487c-bf4a-eb8a32bd211f" data-name="Group 151">
          <g clip-path="url(#f0516f5f-d775-43b4-a0ed-2a8e6190fa7d)">
            <g id="a75922e1-6c25-4866-9d94-9f76662c28ba" data-name="Group 144">
              <path id="ac5a6f33-9dd0-4104-a557-ed606d2ef614" data-name="Path 105" d="M-.57,20.09h28v5.45h-28Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#af32ed0e-749b-465b-abb3-09276848e09c)">
            <g id="eabca237-e746-4cf9-81f5-7ac77c9cc22a" data-name="Group 145">
              <path id="fe8f3c33-e91d-4fe8-bf8f-2ce307b26abb" data-name="Path 107" d="M15.41,5.79h11V19.14h-11Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#b04082be-cdf9-4c1b-bda7-6651861c7014)">
            <g id="a3a8a9fd-a06a-40b3-ba19-f5bbe8cc2934" data-name="Group 146">
              <path id="e392dce2-815c-438b-8ca3-bbcd41286481" data-name="Path 109" d="M.08,5.8H15.64V19.13H.08Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#bbf17975-7304-48ae-9cad-e2ee65769190)">
            <g id="f7c5f1b7-5026-445f-ac22-f8a29c33bf78" data-name="Group 147">
              <path id="e1da1cfe-f96b-477d-87c6-ee0c2ff41964" data-name="Path 111" d="M2-.6h23V4.89H2Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#e66a5e7e-6716-46eb-9e3e-20c24910458a)">
            <g id="be9627c9-ade8-4a88-adbd-dfd7736615a0" data-name="Group 148">
              <path id="a1c29a6e-6000-4468-ae31-4a62ec5afcca" data-name="Path 113" d="M30,7.87H40v9H30Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#f8b63864-7dcb-4140-a0d6-4960dc2faabb)">
            <g id="e9a88f18-b9fb-4cc5-be2c-4162baf11625" data-name="Group 149">
              <path id="b5e2d490-8294-4983-a68d-c496f74271a4" data-name="Path 115" d="M39.07,7.87h7.56v9H39.07Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
          <g clip-path="url(#e9207dce-36de-4b75-a74f-9d4b86d49cd3)">
            <g id="b8d22dbf-b146-4788-9dd6-7dbcc272063d" data-name="Group 150">
              <path id="b63a3d70-92ab-4b8d-bb97-d93397cde194" data-name="Path 117" d="M45.36,7.87H52v9H45.36Z" transform="translate(0.57 0.6)" fill="#fff"/>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
