<?xml version="1.0" encoding="UTF-8"?>
<svg width="92px" height="23px" viewBox="0 0 92 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>logo/paypal</title>
    <defs>
        <polygon id="path-1" points="0.11288348 0.162066667 14.4008891 0.162066667 14.4008891 17.6666667 0.11288348 17.6666667"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="nav/footer" transform="translate(-624.000000, -408.000000)">
            <g id="logos_pagamento_cores" transform="translate(0.000000, 389.000000)">
                <g id="Group-12" transform="translate(624.000000, 19.000000)">
                    <g id="Group-3" opacity="0.7" transform="translate(4.380952, 5.225667)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M3.64530935,0.162066667 L9.93197601,0.162066667 C13.3067697,0.162066667 14.5775704,1.9169 14.3814011,4.4994 C14.0578596,8.75656667 11.5519549,11.1107333 8.22827231,11.1107333 L6.55020529,11.1107333 C6.0947485,11.1107333 5.78824409,11.4199 5.66411711,12.2604 L4.9441806,17.1410667 C4.8976127,17.4579 4.73519295,17.6440667 4.49131993,17.6667333 L0.549436332,17.6667333 C0.178515697,17.6667333 0.0466003527,17.3752333 0.143630335,16.7439 L2.55088254,1.08823333 C2.64726349,0.460733333 2.98151393,0.162066667 3.64530935,0.162066667" id="Fill-1" fill="#00A2D3" mask="url(#mask-2)"></path>
                    </g>
                    <path d="M54.2167196,9.9098 L52.1153228,9.9098 C51.6798236,9.9098 51.5028007,10.2371333 51.6413686,10.6534667 L54.2600423,18.5308 L51.6794991,22.2773 C51.4641834,22.5899667 51.6303351,22.8761333 51.9342434,22.8761333 L54.3051499,22.8761333 C54.6591958,22.8761333 54.8316755,22.7833 55.0098342,22.5208 L63.0636473,10.6534667 C63.3119012,10.2878 63.1947513,9.9053 62.788134,9.90496667 L60.5465467,9.90263214 C60.1618342,9.90213333 60.0073651,10.0584667 59.7863704,10.3874667 L56.4269912,15.3936333 L54.9324374,10.3788 C54.8404374,10.0696333 54.6207407,9.9098 54.2167196,9.9098 L54.2167196,9.9098 Z M43.7504621,17.2459667 C42.3693263,17.2459667 41.4068148,16.1146333 41.6076896,14.7273 C41.8087266,13.3401333 43.098836,12.2088 44.4799718,12.2088 C45.8609453,12.2088 46.823619,13.3401333 46.622582,14.7273 C46.4217072,16.1146333 45.1314356,17.2459667 43.7504621,17.2459667 L43.7504621,17.2459667 Z M45.4909982,18.5153 C45.7046914,18.3161333 45.9230899,18.2116333 45.8912875,18.4581333 L45.815351,19.0486333 C45.7757601,19.3563 45.8950194,19.5208 46.1747513,19.5208 L48.2545679,19.5208 C48.6043951,19.5208 48.7754145,19.3751333 48.8617354,18.8188 L50.1434074,10.5551333 C50.2078236,10.1399667 50.1099824,9.9363 49.8029912,9.9363 L47.516134,9.9363 C47.3099048,9.9363 47.2099541,10.0553 47.1559224,10.3788 L47.071224,10.8874667 C47.0269277,11.1529667 46.9088042,11.1988 46.7987937,10.9318 C46.4105115,9.9878 45.420903,9.56463333 44.0329524,9.59396667 C40.8244727,9.6618 38.661418,12.1634667 38.4302011,15.3703 C38.251231,17.8509667 39.9820317,19.7989667 42.2625608,19.7989667 C43.9172628,19.7988 44.6574815,19.2921333 45.4909982,18.5153 L45.4909982,18.5153 Z M31.5026173,11.9186333 L33.4097919,11.9189667 C34.6018977,11.8726333 35.3948501,11.0244667 35.4743563,9.49413333 C35.5236825,8.54896667 34.9023986,7.87296667 33.9131146,7.87760932 L32.1177354,7.8858 L31.5026173,11.9186333 Z M35.3163175,5.09846667 C37.437672,5.09846667 39.3943351,6.2798 39.1266102,9.2258 C38.8090723,12.7181333 36.9766984,14.6631333 34.0946808,14.6709667 L31.5806631,14.6709667 C31.2181799,14.6709667 31.0440776,14.9736333 30.9488325,15.5966333 L30.4636825,18.7751333 C30.3905044,19.2549667 30.1511746,19.4919667 29.7961552,19.4919667 L27.4547795,19.4919667 C27.081425,19.4919667 26.9511323,19.2468 27.0343704,18.6988 L28.9697778,5.95813333 C29.0650229,5.33146667 29.2983492,5.09846667 29.7119436,5.09846667 L35.3163175,5.09846667 Z" id="Fill-4" fill="#1C3D92"></path>
                    <path d="M89.4741376,19.5356 L87.0733757,19.5356 C86.8827231,19.5356 86.750321,19.3821 86.7792028,19.1944333 L88.8903351,5.4686 C88.9192169,5.28093333 89.098836,5.12743333 89.2896508,5.12743333 L91.6902504,5.12743333 C91.8810653,5.12743333 92.0133051,5.28093333 91.9847478,5.4686 L89.8734533,19.1944333 C89.8444092,19.3821 89.6649524,19.5356 89.4741376,19.5356 L89.4741376,19.5356 Z M79.8798519,17.2459333 C78.4988783,17.2459333 77.5363668,16.1146 77.7370794,14.7272667 C77.9381164,13.3401 79.228388,12.2087667 80.6093616,12.2087667 C81.9903351,12.2087667 82.9530088,13.3401 82.7519718,14.7272667 C82.551097,16.1146 81.2609877,17.2459333 79.8798519,17.2459333 L79.8798519,17.2459333 Z M81.620388,18.5152667 C81.8340811,18.3161 82.052642,18.2116 82.0206772,18.4581 L81.9447407,19.0486 C81.9053122,19.3562667 82.0244092,19.5207667 82.3041411,19.5207667 L84.3839577,19.5207667 C84.7337848,19.5207667 84.9049665,19.3751 84.9911252,18.8187667 L86.2729594,10.5551 C86.3372134,10.1399333 86.2393721,9.93626667 85.932381,9.93626667 L83.6456861,9.93626667 C83.4392945,9.93626667 83.3393439,10.0552667 83.2854744,10.3787667 L83.2006138,10.8874333 C83.1563175,11.1529333 83.038194,11.1987667 82.9281834,10.9317667 C82.5399012,9.98776667 81.5502928,9.5646 80.1623422,9.59393333 C76.9538624,9.66176667 74.79097,12.1636 74.5595908,15.3702667 C74.3807831,17.8511 76.1115838,19.7989333 78.3919506,19.7989333 C80.0466526,19.7987667 80.7870335,19.2921 81.620388,18.5152667 L81.620388,18.5152667 Z M67.6320071,11.9186 L69.5391817,11.9189333 C70.7312875,11.8726 71.5242399,11.0246 71.6039083,9.4941 C71.6530723,8.54893333 71.0317884,7.87293333 70.0425044,7.87757599 L68.2472875,7.88593333 L67.6320071,11.9186 Z M71.4458695,5.09843333 C73.567224,5.09843333 75.5237249,6.27976667 75.256,9.22576667 C74.9384621,12.7181 73.1060882,14.6631 70.2240705,14.6711 L67.7100529,14.6711 C67.3475697,14.6711 67.1734674,14.9736 67.0783845,15.5966 L66.5930723,18.7752667 C66.5198942,19.2549333 66.2805644,19.4919333 65.925545,19.4919333 L63.5841693,19.4919333 C63.2108148,19.4919333 63.0806843,19.2469333 63.1639224,18.6987667 L65.0991675,5.9581 C65.1944127,5.33143333 65.427739,5.09843333 65.8413333,5.09843333 L71.4458695,5.09843333 Z" id="Fill-6" fill="#00A2D3"></path>
                    <path d="M4.09610935,5e-05 L10.3889418,5e-05 C12.1612804,5e-05 14.2633263,0.05905 15.669612,1.33305 C16.6089206,2.18405 17.1018589,3.53988333 16.9879541,4.99538333 C16.6021058,9.93105 13.7278765,12.6953833 9.87361199,12.6953833 L6.76995062,12.6953833 C6.24180247,12.6953833 5.89165079,13.05505 5.74253616,14.0287167 L4.8765679,19.6878833 C4.82042681,20.0552167 4.6654709,20.2713833 4.38265608,20.29755 L0.506162257,20.29755 C0.0760176367,20.29755 -0.0768289242,19.95955 0.0357777778,19.22755 L2.82693122,1.07388333 C2.93888889,0.346383333 3.32619753,5e-05 4.09610935,5e-05" id="Fill-8" fill="#1C3D92" opacity="0.798192224"></path>
                    <path d="M5.8328649,13.4583 L6.93183492,6.3138 C7.02821587,5.68646667 7.36246631,5.3878 8.02626173,5.3878 L14.3129284,5.3878 C15.3534857,5.3878 16.1943041,5.55463333 16.8532317,5.86213333 C16.2215633,10.2548 13.455722,12.6954667 9.83348571,12.6954667 L6.7299866,12.6954667 C6.32142222,12.6954667 6.01621587,12.9099667 5.8328649,13.4583" id="Fill-10" fill="#1C2E7E"></path>
                </g>
            </g>
        </g>
    </g>
</svg>