<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g id="f9ab08fb-d89f-46aa-aed2-614c5a67ecab" data-name="Layer 2">
    <g id="a4fdacc3-9d72-4588-9901-0f2a648b7280" data-name="facebook">
      <g>
        <path d="M4,.5H26A3.54,3.54,0,0,1,29.5,4V26A3.54,3.54,0,0,1,26,29.5H4A3.54,3.54,0,0,1,.5,26V4A3.54,3.54,0,0,1,4,.5Z" fill="none" stroke="#fff" opacity="0.5" style="isolation: isolate"/>
        <path d="M21,11.2a5.73,5.73,0,0,1-1.4.4,2.59,2.59,0,0,0,1.1-1.4,4.42,4.42,0,0,1-1.6.6,2.5,2.5,0,0,0-1.8-.8,2.48,2.48,0,0,0-2.5,2.5,1.27,1.27,0,0,0,.1.6,7.27,7.27,0,0,1-5.1-2.6,2.77,2.77,0,0,0-.3,1.3,2.61,2.61,0,0,0,1.1,2.1,2,2,0,0,1-1.1-.3h0a2.56,2.56,0,0,0,2,2.5,1.27,1.27,0,0,1-.6.1h-.5A2.59,2.59,0,0,0,12.7,18a4.89,4.89,0,0,1-3.1,1.1H9a7,7,0,0,0,10.8-6v-.4A13.06,13.06,0,0,0,21,11.2Z" fill="#fff" opacity="0.5" style="isolation: isolate"/>
      </g>
    </g>
  </g>
</svg>
