<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="39.97" height="32.94" viewBox="0 0 39.97 32.94">
  <defs>
    <clipPath id="b2bb016c-3c85-4d27-bc3f-598c5d3a6cd3" transform="translate(5 5)">
      <path d="M6.48,21.67a.75.75,0,0,1,.69-.79h.06a.74.74,0,0,1,.75.73.13.13,0,0,1,0,.06.74.74,0,0,1-.71.78h0a.75.75,0,0,1-.75-.75Zm2,0V20.45H8v.3a1,1,0,0,0-.77-.35,1.23,1.23,0,0,0-1.24,1.21v.06a1.24,1.24,0,0,0,1.18,1.27h.06A.87.87,0,0,0,8,22.58v.3h.54Zm18.06,0a.74.74,0,0,1,.69-.79h.06a.74.74,0,0,1,.74.73v.06a.74.74,0,0,1-.72.78h0a.75.75,0,0,1-.75-.75Zm2,0V19.49H28v1.27a.93.93,0,0,0-.77-.36A1.22,1.22,0,0,0,26,21.61v.06a1.24,1.24,0,0,0,1.18,1.27h.06a.87.87,0,0,0,.77-.36v.3h.54Zm-13.4-.81a.6.6,0,0,1,.62.58H14.46a.64.64,0,0,1,.67-.58Zm0-.46a1.2,1.2,0,0,0-1.24,1.15v.12A1.21,1.21,0,0,0,15,22.94h.13a1.6,1.6,0,0,0,1-.33l-.25-.38a1.33,1.33,0,0,1-.72.25.7.7,0,0,1-.75-.58h1.83v-.2a1.14,1.14,0,0,0-.94-1.29Zm6.46,1.27a.74.74,0,0,1,.68-.79h.06a.74.74,0,0,1,.75.73v.06a.74.74,0,0,1-.72.78h0a.74.74,0,0,1-.74-.75Zm2,0V20.45H23v.3a.93.93,0,0,0-.77-.36A1.24,1.24,0,0,0,21,21.61v.05a1.23,1.23,0,0,0,1.17,1.28h.06a.86.86,0,0,0,.77-.36v.3h.55Zm-5,0a1.22,1.22,0,0,0,1.18,1.27h.13a1.37,1.37,0,0,0,.87-.28l-.26-.43a1.05,1.05,0,0,1-.64.22.72.72,0,0,1-.75-.7v-.08a.75.75,0,0,1,.72-.79h0a1,1,0,0,1,.64.23l.26-.43a1.27,1.27,0,0,0-.88-.28,1.23,1.23,0,0,0-1.31,1.14v.13Zm6.89-1.27a.71.71,0,0,0-.64.36v-.3h-.55v2.43h.55V21.52c0-.41.18-.64.51-.64a1.88,1.88,0,0,1,.33.05l.16-.5a2.19,2.19,0,0,0-.36,0Zm-14.36.25a1.76,1.76,0,0,0-1-.25c-.61,0-1,.3-1,.79s.31.63.85.71l.26,0c.28,0,.44.13.44.26s-.21.3-.57.3a1.43,1.43,0,0,1-.82-.26L9,22.63a1.87,1.87,0,0,0,1.06.3c.72,0,1.13-.33,1.13-.79s-.34-.66-.85-.73l-.26,0c-.23,0-.41-.08-.41-.23s.18-.28.46-.28a2,2,0,0,1,.78.2ZM18,20.4a.71.71,0,0,0-.64.36v-.3h-.54v2.43h.54V21.52c0-.41.18-.64.52-.64a1.88,1.88,0,0,1,.33.05l.15-.5a2.19,2.19,0,0,0-.36,0Zm-4.58.05h-.87v-.73H12v.73h-.49v.48H12v1.12c0,.56.23.89.85.89a1.6,1.6,0,0,0,.67-.18l-.16-.46a.84.84,0,0,1-.46.13c-.26,0-.36-.15-.36-.41V20.93h.87Zm-8,2.44V21.36a.9.9,0,0,0-.83-1H4.48a1,1,0,0,0-.88.43.9.9,0,0,0-.82-.43.82.82,0,0,0-.72.36v-.3H1.52v2.43h.54V21.54a.55.55,0,0,1,.46-.63.29.29,0,0,1,.13,0c.36,0,.54.23.54.63v1.35h.54V21.54a.56.56,0,0,1,.49-.63h.1c.36,0,.54.23.54.63v1.35Z" fill="none"/>
    </clipPath>
    <clipPath id="a963939f-d63c-45aa-9183-95a2dbaca70b" transform="translate(5 5)">
      <rect width="29.97" height="22.94" fill="none"/>
    </clipPath>
    <clipPath id="e5000abc-6a8b-42bc-8e45-bdd05ca738e3" transform="translate(5 5)">
      <rect y="-1" width="30" height="20" fill="none"/>
    </clipPath>
    <clipPath id="befc5b4d-1ffb-46e5-88e2-3cdd7e2b6d96" transform="translate(5 5)">
      <path d="M11.45,9.13A9.11,9.11,0,0,1,15,2,9.28,9.28,0,0,0,0,9.12H0a9.19,9.19,0,0,0,9.25,9.14h0a9.29,9.29,0,0,0,5.71-2,9.07,9.07,0,0,1-3.52-7.18" fill="none"/>
    </clipPath>
    <clipPath id="e87674c2-6e6c-44f0-9037-01fbf274c816" transform="translate(5 5)">
      <rect width="30" height="23" fill="none"/>
    </clipPath>
    <clipPath id="a25c25cf-6750-4fd6-9814-a5bae18f1141" transform="translate(5 5)">
      <path d="M15,2a9.11,9.11,0,0,1,3.52,7.18A9,9,0,0,1,15,16.31h0a9.07,9.07,0,0,1-3.52-7.18A9.17,9.17,0,0,1,15,2Z" fill="none"/>
    </clipPath>
    <clipPath id="f5377d67-81da-456e-af8e-9ac29841b6d6" transform="translate(5 5)">
      <path d="M30,9.13a9.19,9.19,0,0,1-9.25,9.14h0a9.29,9.29,0,0,1-5.71-2,9,9,0,0,0,3.52-7.18A9.11,9.11,0,0,0,15,2,9.34,9.34,0,0,1,20.71,0,9.21,9.21,0,0,1,30,9.13" fill="none"/>
    </clipPath>
  </defs>
  <g id="ea89e8a0-a5a3-4fd4-b32e-db4896a32b5e" data-name="Layer 2">
    <g id="bc44971f-9648-486e-a747-3cbfd8ec51fd" data-name="facebook">
      <g id="b509e0e9-b773-4a97-9579-2592124ac212" data-name="maestro">
        <g id="be574fcf-4c49-4752-ba0c-88cf53de57fe" data-name="Group 2610" opacity="0.5">
          <g id="aa41c2e8-0e44-4e3b-926d-b15b13969a9e" data-name="Group 2598">
            <g id="a73a6001-253b-4605-85a5-0b4b4915442f" data-name="Group 2611">
              <g clip-path="url(#b2bb016c-3c85-4d27-bc3f-598c5d3a6cd3)">
                <g id="b7f77721-2ffa-40f8-9ca7-380de384b8df" data-name="Group 2596">
                  <g id="bfb38255-5457-4840-8c32-abe407e09324" data-name="Group 2612">
                    <path id="a97816f8-6336-4ca3-9999-8c081de32e9c" data-name="Path 255" d="M-3.48,14.49h37V27.94h-37Z" transform="translate(5 5)" fill="#fff"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g clip-path="url(#a963939f-d63c-45aa-9183-95a2dbaca70b)">
          <g id="af462886-5ce7-4436-ab8d-0aeb9b768afb" data-name="Group 2608">
            <g id="a6131871-20cd-419a-90ce-b50e2394b69e" data-name="Group 2607">
              <g clip-path="url(#e5000abc-6a8b-42bc-8e45-bdd05ca738e3)">
                <g id="b2315a42-64fe-4962-a0e5-d0d40b736aba" data-name="Group 2606">
                  <g clip-path="url(#befc5b4d-1ffb-46e5-88e2-3cdd7e2b6d96)">
                    <g id="f74625b1-a1c2-444d-bd79-f625f5a520a4" data-name="Group 2601">
                      <g clip-path="url(#e87674c2-6e6c-44f0-9037-01fbf274c816)">
                        <g id="ff893f0b-6756-4418-b7a7-1febab6aafd1" data-name="Group 2600" opacity="0.7">
                          <path id="a242ede3-1c39-470c-bc70-7554cf12ecd7" data-name="Path 259" d="M-5-5H20V23.27H-5Z" transform="translate(5 5)" fill="#fff"/>
                        </g>
                      </g>
                    </g>
                  </g>
                  <g clip-path="url(#a25c25cf-6750-4fd6-9814-a5bae18f1141)">
                    <g id="a6c72dcf-e5f4-40d0-b8f6-9a610a523553" data-name="Group 2603">
                      <g clip-path="url(#e87674c2-6e6c-44f0-9037-01fbf274c816)">
                        <g id="b1e1d7b1-232c-4c75-91f3-a556cd735a04" data-name="Group 2602" opacity="0.5">
                          <path id="a213ac25-0818-448b-a67b-5963503fce7b" data-name="Path 262" d="M6.45-3H23.52V21.31H6.45Z" transform="translate(5 5)" fill="#969696"/>
                        </g>
                      </g>
                    </g>
                  </g>
                  <g clip-path="url(#f5377d67-81da-456e-af8e-9ac29841b6d6)">
                    <g id="ff1bf266-f32a-4bd8-897c-fb45761b821a" data-name="Group 2605">
                      <g clip-path="url(#e87674c2-6e6c-44f0-9037-01fbf274c816)">
                        <g id="a2208589-8446-4e41-b3ca-81523ffcba2b" data-name="Group 2604">
                          <path id="fe6cb42e-6ade-4e90-8f94-068788879b89" data-name="Path 265" d="M10-5H35V23.27H10Z" transform="translate(5 5)" fill="#969696"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
