<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="118.29" height="29.76" viewBox="0 0 118.29 29.76">
  <defs>
    <clipPath id="a096ed42-a611-452b-a7e6-d7ca05ed1916" transform="translate(2.41 2.41)">
      <path d="M5.31,0H21.88A2.18,2.18,0,0,1,24,2.24V3.31a1,1,0,1,1-2,0V2.73a.67.67,0,0,0-.2-.48.65.65,0,0,0-.49-.19H4.69A.67.67,0,0,0,4,2.73V3.3A1,1,0,0,1,3.2,4.42a1,1,0,0,1-1.11-.81,1.22,1.22,0,0,1,0-.27V2.24A2.19,2.19,0,0,1,4.18,0Zm7.6,24.94H23.66c2.45,0,2.48-2.6,2.23-3.86a.93.93,0,0,0-1.77,0v1a.84.84,0,0,1-.85.81H2.7a.84.84,0,0,1-.83-.84v-1a.93.93,0,0,0-1.77,0c-.25,1.29-.22,3.86,2.23,3.86H12.92Z" fill="none"/>
    </clipPath>
    <clipPath id="a52e1b17-90f2-4af6-ad74-2bd9353a46dd" transform="translate(2.41 2.41)">
      <path d="M19.55,11.45h1.7a1.65,1.65,0,0,0,1.38-1.61h0A1.63,1.63,0,0,0,21,8.21H17.57V16.7h4.35A1.68,1.68,0,0,0,23.59,15h0a1.68,1.68,0,0,0-1.67-1.68H19.55a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1Zm4,.83a3.26,3.26,0,0,1,1.93,2.93h0A3.36,3.36,0,0,1,22,18.49H16.63a.9.9,0,0,1-.92-.86V7.38a.9.9,0,0,1,.9-.9H21.1a3.45,3.45,0,0,1,3.44,3.44h0A3.42,3.42,0,0,1,23.57,12.28Z" fill="none"/>
    </clipPath>
    <clipPath id="a4414738-c1c5-4730-92c7-4bd53b0162b7" transform="translate(2.41 2.41)">
      <path d="M14.85,17.46a1.08,1.08,0,0,1-2.14.23l-.89-8.15-3.13,8h0v0h0a1,1,0,0,1-.21.28h0a1.07,1.07,0,0,1-.19.13h-.1a.81.81,0,0,1-.31.06H7.63a1,1,0,0,1-.35-.07h0a.66.66,0,0,1-.17-.12h0l0,0H7l-.14.07h0l0,0h0a1.25,1.25,0,0,1-.12-.17h0v0h0L3.52,9.54l-.88,8.14a1.08,1.08,0,1,1-2.15-.22l1-9.61h0a1.14,1.14,0,0,1,.07-.32,1.79,1.79,0,0,1,.13-.32,1.77,1.77,0,0,1,1.35-.93h.06a1.22,1.22,0,0,1,.27,0h0a1.24,1.24,0,0,1,.33,0A1.76,1.76,0,0,1,5,7.41L7.66,14.2l2.68-6.79a1.76,1.76,0,0,1,1.25-1.13,1.93,1.93,0,0,1,.34,0h0a1.22,1.22,0,0,1,.27,0h.06a1.77,1.77,0,0,1,1.34.93,1.27,1.27,0,0,1,.13.32,1.65,1.65,0,0,1,.07.32h0Z" fill="none"/>
    </clipPath>
    <clipPath id="b06bed2c-fb9f-49ee-910e-a7879e2a03b4" transform="translate(2.41 2.41)">
      <path d="M49.77,8.41a.93.93,0,0,1,.92-.85.91.91,0,0,1,.91.85v4.94h0a4.09,4.09,0,0,1-4.1,4.1h0a4.12,4.12,0,0,1-4.1-4.1h0V8.41a.93.93,0,0,1,.92-.85.91.91,0,0,1,.91.85v4.94h0a2.31,2.31,0,0,0,2.28,2.29h0a2.31,2.31,0,0,0,2.28-2.29h0Z" fill="none"/>
    </clipPath>
    <clipPath id="bfa94a75-2cef-477d-b6b9-ec33c5c89774" transform="translate(2.41 2.41)">
      <path d="M58.42,15.63A.92.92,0,0,1,59.27,17a.94.94,0,0,1-.85.44H55.9a3.48,3.48,0,0,1-2.44-1,3.41,3.41,0,0,1-1-2.45h0V8.4a.92.92,0,0,1,1.83,0V14h0a1.63,1.63,0,0,0,1.61,1.61h2.52Z" fill="none"/>
    </clipPath>
    <clipPath id="ba45a82b-3d9f-4ac7-96ae-331083f36f0f" transform="translate(2.41 2.41)">
      <path d="M43.05,16.42a.91.91,0,0,1-1.81.21l-.78-6.56-2.8,6.47a.91.91,0,0,1-.84.56.9.9,0,0,1-.84-.56h0l-2.79-6.47-.78,6.58a.93.93,0,0,1-1,.79.91.91,0,0,1-.78-1l.9-7.65a1.46,1.46,0,0,1,.8-1.13l.18-.08h.07l.27-.06h0a1.59,1.59,0,0,1,1.27.4,1.3,1.3,0,0,1,.19.22c0,.05.07.11.11.17l0,.1,2.37,5.49,2.37-5.49a1.47,1.47,0,0,1,1.07-.86,1.1,1.1,0,0,1,.27,0h.27A1.48,1.48,0,0,1,42,8.21h0a1,1,0,0,1,.12.26,1.21,1.21,0,0,0,0,.18.24.24,0,0,1,0,.12h0Z" fill="none"/>
    </clipPath>
    <clipPath id="b7881d48-7f10-47ff-aa0a-63685d9b58e3" transform="translate(2.41 2.41)">
      <path d="M62.4,16.54a.91.91,0,0,1-.91.91h0a.91.91,0,0,1-.91-.91h0V9.29H58a.91.91,0,0,1-.91-.91h0A.91.91,0,0,1,58,7.47h7a.91.91,0,0,1,.91.91h0a.91.91,0,0,1-.91.91h-2.6Z" fill="none"/>
    </clipPath>
    <clipPath id="bcedfaf1-b998-4a02-b741-ac45d9e82d10" transform="translate(2.41 2.41)">
      <path d="M68.1,16.54a.91.91,0,0,1-.91.91h0a.91.91,0,0,1-.91-.91V8.41a.92.92,0,0,1,.91-.92h0a.92.92,0,0,1,.91.92h0Z" fill="none"/>
    </clipPath>
    <clipPath id="b9347b0e-16b5-4ffb-aad2-d960981bae95" transform="translate(2.41 2.41)">
      <path d="M86.85,16.41a.94.94,0,0,1-.34.87.93.93,0,0,1-.92.11.9.9,0,0,1-.55-.75l-.32-2.59H81.55a.91.91,0,1,1,0-1.82h2.94l-.08-.64h0v-.07a2.73,2.73,0,0,0-.1-.48,2.82,2.82,0,0,0-.19-.48,2.06,2.06,0,0,0-1.85-1.24h0a2,2,0,0,0-.48.06,1.56,1.56,0,0,0-.41.15,2.54,2.54,0,0,0-1.26,2.06l-.58,5.08a.91.91,0,1,1-1.81-.2l.57-5.08a4.39,4.39,0,0,1,2.26-3.46,3.58,3.58,0,0,1,1.7-.4h0a3.84,3.84,0,0,1,3.47,2.24,4.37,4.37,0,0,1,.31.78,6.08,6.08,0,0,1,.16.74v.09h0Z" fill="none"/>
    </clipPath>
    <clipPath id="ed3e6edc-f045-4cf0-80ab-3109cf8b4b01" transform="translate(2.41 2.41)">
      <path d="M89.65,16.54a.91.91,0,0,1-1.39.85.94.94,0,0,1-.44-.85V9h0V8.83a1.38,1.38,0,0,1,.08-.29h0A.36.36,0,0,1,88,8.37h0a1.31,1.31,0,0,1,.71-.6l.16,0h.1a.74.74,0,0,1,.21,0h0a1.27,1.27,0,0,1,1,.48L95,14.41v-6a.92.92,0,0,1,.91-.92h0a.92.92,0,0,1,.92.92h0v7.52a1.3,1.3,0,0,1-.49,1l-.19.13-.11.05h0l-.08,0h0a1.28,1.28,0,0,1-1-.05L94.89,17a.86.86,0,0,1-.18-.14l-.12-.12,0,0h0l-4.9-6.21Z" fill="none"/>
    </clipPath>
    <clipPath id="ae348878-aac1-4f09-833b-8522843f8e16" transform="translate(2.41 2.41)">
      <path d="M103.93,15.63a.91.91,0,0,1,.85.91.93.93,0,0,1-.85.92h-2.69a3.63,3.63,0,0,1-3.61-3.6h0V11.11h0a3.61,3.61,0,0,1,3.6-3.6h2.7a.91.91,0,0,1,.91.91h0a.91.91,0,0,1-.91.91h-2.7a1.78,1.78,0,0,0-1.77,1.78h0v2.74h0a1.78,1.78,0,0,0,.52,1.26,1.81,1.81,0,0,0,1.26.52Z" fill="none"/>
    </clipPath>
    <clipPath id="a5b9a374-70c7-4215-8e14-16f3af4e32cd" transform="translate(2.41 2.41)">
      <path d="M109.22,7.49h0a4.34,4.34,0,0,1,3,1.2,4.07,4.07,0,0,1,1.25,2.93h0v1.7h0a4.1,4.1,0,0,1-1.27,2.94,4.31,4.31,0,0,1-3,1.2h0a4.32,4.32,0,0,1-3-1.2A4.06,4.06,0,0,1,105,13.33h0v-1.7h0a4,4,0,0,1,1.27-2.93,4.32,4.32,0,0,1,3-1.2h0Zm0,1.83h0a2.46,2.46,0,0,0-1.73.69,2.19,2.19,0,0,0-.7,1.61h0v1.7h0a2.18,2.18,0,0,0,.7,1.61,2.47,2.47,0,0,0,1.73.7h0a2.42,2.42,0,0,0,1.72-.7,2.18,2.18,0,0,0,.7-1.61h0v-1.7h0a2.19,2.19,0,0,0-.7-1.61,2.46,2.46,0,0,0-1.73-.69Z" fill="none"/>
    </clipPath>
    <clipPath id="bc0b8afd-0c0f-4950-9ef3-0d2b30d8c230" transform="translate(2.41 2.41)">
      <path d="M68.87,12.42v-4h0A1.17,1.17,0,0,1,69,8.08a1.06,1.06,0,0,1,.21-.31h0a.89.89,0,0,1,.6-.26h3.58a2.9,2.9,0,0,1,2.9,2.9h0A2.94,2.94,0,0,1,75.79,12a2.54,2.54,0,0,1,.52.41l0,.06a3,3,0,0,1,.85,2.06h0a3,3,0,0,1-3,3H69.79a.92.92,0,0,1-.91-.92Zm1.83-3.1v6.31h3.53a1.18,1.18,0,0,0,1.15-1.16h0a1.11,1.11,0,0,0-.3-.77l0,0a1.2,1.2,0,0,0-.81-.35H73a.9.9,0,0,1-.91-.91h0A.91.91,0,0,1,73,11.5h.42a1.14,1.14,0,0,0,.69-.32h0a1.12,1.12,0,0,0,.32-.77h0a1.09,1.09,0,0,0-1.1-1.09Z" fill="none"/>
    </clipPath>
  </defs>
  <g id="acb5771e-660f-407f-9251-862ad35f9d95" data-name="Layer 2">
    <g id="b934430e-2337-439b-825a-998cfc50e2ac" data-name="facebook">
      <g id="abd0fe51-f749-43a5-a668-d61ec0838195" data-name="multibanco" opacity="0.5">
        <g clip-path="url(#a096ed42-a611-452b-a7e6-d7ca05ed1916)">
          <g id="fc252d02-0695-458d-a105-f19df3398e57" data-name="Group 2616">
            <path id="aaa7354e-aab9-4900-a087-c4035f75d7c9" data-name="Path 271" d="M-2.41-2.41H28.4V27.35H-2.41Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#a52e1b17-90f2-4af6-ad74-2bd9353a46dd)">
          <g id="fad75451-499d-4e2f-8caf-6a5527fa8a82" data-name="Group 2617">
            <path id="b9ebe598-901e-4272-89cc-1ad269287d48" data-name="Path 273" d="M13.3,4.06H27.92V20.9H13.3Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#a4414738-c1c5-4730-92c7-4bd53b0162b7)">
          <g id="f8597a1c-d835-4b4b-93ca-2a20385c2e2a" data-name="Group 2618">
            <path id="b701a844-a322-429b-bce8-47965cdefa55" data-name="Path 275" d="M-1.93,3.85h19.2V21.07H-1.93Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#b06bed2c-fb9f-49ee-910e-a7879e2a03b4)">
          <g id="b977d8ed-7f94-47a1-aaa0-be04af296730" data-name="Group 2619">
            <path id="a03be089-b26c-4d6c-8fb3-09ce435a58e7" data-name="Path 277" d="M41,5.14H54V19.87H41Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#bfa94a75-2cef-477d-b6b9-ec33c5c89774)">
          <g id="a4ea0ce1-f552-4a26-97d1-e504bab6e03c" data-name="Group 2620">
            <path id="b671c7e7-f266-49f9-9fa0-9e2a3ac40b4d" data-name="Path 279" d="M50,5.14H61.82V19.88H50Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#ba45a82b-3d9f-4ac7-96ae-331083f36f0f)">
          <g id="b49418c1-03cb-4a14-89c2-769d2f9647dc" data-name="Group 2621">
            <path id="f0dc43e7-da53-4646-8f38-58a5484d997c" data-name="Path 281" d="M28.18,5.07h17.3V19.86H28.18Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#b7881d48-7f10-47ff-aa0a-63685d9b58e3)">
          <g id="a6edb59a-fe1c-40ab-8d64-358f855c9ecf" data-name="Group 2622">
            <path id="bd2492f7-14b9-4996-82d4-f9bc19188f6e" data-name="Path 283" d="M54.65,5.06H68.33V19.87H54.65Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#bcedfaf1-b998-4a02-b741-ac45d9e82d10)">
          <g id="ab9ecfa2-3a7c-4b88-a3ec-608df657aa8e" data-name="Group 2623">
            <path id="a885d379-af66-4ece-89f1-190422986a14" data-name="Path 285" d="M63.87,5.08h6.65V19.87H63.87Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#b9347b0e-16b5-4ffb-aad2-d960981bae95)">
          <g id="b5a339d9-6a81-4809-8496-6fe26086a689" data-name="Group 2624">
            <path id="b8054c65-de14-4ad3-a21e-2e8150d6d593" data-name="Path 287" d="M75.3,5.11h14V20h-14Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#ed3e6edc-f045-4cf0-80ab-3109cf8b4b01)">
          <g id="aeaa0ab9-be73-4cd6-a9cc-d47b2110f4d1" data-name="Group 2625">
            <path id="e8e3e338-fb98-490e-9152-ea4caab6b067" data-name="Path 289" d="M85.41,5.08H99.25V19.94H85.41Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#ae348878-aac1-4f09-833b-8522843f8e16)">
          <g id="b87f7339-70bf-4f3a-8024-235cb3b0776a" data-name="Group 2626">
            <path id="a7aae944-1aff-4e1c-8a26-e2907b41c0de" data-name="Path 291" d="M95.22,5.09h12V19.87h-12Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#a5b9a374-70c7-4215-8e14-16f3af4e32cd)">
          <g id="ad4d3032-2249-4c80-b77b-f6b5048ddc2d" data-name="Group 2627">
            <path id="fe7bcbdf-12e2-413c-90a7-7ef5816bbcf1" data-name="Path 293" d="M102.53,5.08h13.34V19.87H102.53Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
        <g clip-path="url(#bc0b8afd-0c0f-4950-9ef3-0d2b30d8c230)">
          <g id="edab9429-312e-4513-86ea-1e8c5e3e3824" data-name="Group 2628">
            <path id="f86fb655-2926-4e83-aa6f-496621ef590a" data-name="Path 295" d="M66.46,5.09H79.62V19.87H66.46Z" transform="translate(2.41 2.41)" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
