<?xml version="1.0" encoding="UTF-8"?>
<svg width="54px" height="17px" viewBox="0 0 54 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>logo/visa</title>
    <defs>
        <path d="M35.299,7.28571429e-05 C30.98625,7.28571429e-05 27.9505,2.22755857 27.926,5.41627286 L27.926,5.41627286 C27.89725,7.77611571 30.0925,9.09118714 31.7465,9.87585857 L31.7465,9.87585857 C33.44575,10.6787443 34.016,11.1938443 34.0095,11.9119729 L34.0095,11.9119729 C33.99675,13.0118729 32.6535,13.4966157 31.3975,13.5155586 L31.3975,13.5155586 C29.204,13.54883 27.9305,12.9397443 26.91625,12.4802586 L26.91625,12.4802586 L26.12625,16.0709014 C27.14475,16.5252871 29.02675,16.9218729 30.9785,16.9413014 L30.9785,16.9413014 C35.56275,16.9413014 38.56075,14.7424729 38.575,11.3349443 L38.575,11.3349443 C38.5945,7.01087286 32.41925,6.77214429 32.46175,4.83997286 L32.46175,4.83997286 C32.4755,4.25250143 33.0515,3.62787286 34.31275,3.46783 L34.31275,3.46783 C34.937,3.38865857 36.661,3.32745857 38.6145,4.20077286 L38.6145,4.20077286 L39.38125,0.726701429 C38.3305,0.356101429 36.98025,7.28571429e-05 35.299,7.28571429e-05 Z M46.753,0.299758571 C45.91525,0.299758571 45.209,0.772601429 44.8955,1.50141571 L44.8955,1.50141571 L38.348,16.6850871 L42.92875,16.6850871 L43.8395,14.2370871 L49.437,14.2370871 L49.9645,16.6850871 L54,16.6850871 L50.4775,0.299758571 L46.753,0.299758571 Z M47.3925,4.72704429 L48.7145,10.8793443 L45.09525,10.8793443 L47.3925,4.72704429 Z M22.37475,0.299758571 L18.765,16.6850871 L23.129,16.6850871 L26.73725,0.299758571 L22.37475,0.299758571 Z M15.919,0.299758571 L11.3775,11.4520014 L9.54,1.97013 C9.32525,0.91103 8.47375,0.299758571 7.528,0.299758571 L7.528,0.299758571 L0.10275,0.299758571 L0,0.774787143 C1.52375,1.09705857 3.25575,1.61580143 4.3045,2.16903 L4.3045,2.16903 C4.94675,2.50781571 5.12975,2.80313 5.34125,3.60844429 L5.34125,3.60844429 L8.82025,16.6850871 L13.4325,16.6850871 L20.50225,0.299758571 L15.919,0.299758571 Z" id="path-1"></path>
        <linearGradient x1="0%" y1="49.9997898%" x2="100%" y2="49.9997898%" id="linearGradient-3">
            <stop stop-color="#231E5C" offset="0%"></stop>
            <stop stop-color="#044DA1" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="nav/footer" transform="translate(-748.000000, -411.000000)">
            <g id="logos_pagamento_cores" transform="translate(0.000000, 389.000000)">
                <g id="Group-3" transform="translate(748.000000, 22.000000)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <path d="M35.299,7.28571429e-05 C30.98625,7.28571429e-05 27.9505,2.22755857 27.926,5.41627286 L27.926,5.41627286 C27.89725,7.77611571 30.0925,9.09118714 31.7465,9.87585857 L31.7465,9.87585857 C33.44575,10.6787443 34.016,11.1938443 34.0095,11.9119729 L34.0095,11.9119729 C33.99675,13.0118729 32.6535,13.4966157 31.3975,13.5155586 L31.3975,13.5155586 C29.204,13.54883 27.9305,12.9397443 26.91625,12.4802586 L26.91625,12.4802586 L26.12625,16.0709014 C27.14475,16.5252871 29.02675,16.9218729 30.9785,16.9413014 L30.9785,16.9413014 C35.56275,16.9413014 38.56075,14.7424729 38.575,11.3349443 L38.575,11.3349443 C38.5945,7.01087286 32.41925,6.77214429 32.46175,4.83997286 L32.46175,4.83997286 C32.4755,4.25250143 33.0515,3.62787286 34.31275,3.46783 L34.31275,3.46783 C34.937,3.38865857 36.661,3.32745857 38.6145,4.20077286 L38.6145,4.20077286 L39.38125,0.726701429 C38.3305,0.356101429 36.98025,7.28571429e-05 35.299,7.28571429e-05 Z M46.753,0.299758571 C45.91525,0.299758571 45.209,0.772601429 44.8955,1.50141571 L44.8955,1.50141571 L38.348,16.6850871 L42.92875,16.6850871 L43.8395,14.2370871 L49.437,14.2370871 L49.9645,16.6850871 L54,16.6850871 L50.4775,0.299758571 L46.753,0.299758571 Z M47.3925,4.72704429 L48.7145,10.8793443 L45.09525,10.8793443 L47.3925,4.72704429 Z M22.37475,0.299758571 L18.765,16.6850871 L23.129,16.6850871 L26.73725,0.299758571 L22.37475,0.299758571 Z M15.919,0.299758571 L11.3775,11.4520014 L9.54,1.97013 C9.32525,0.91103 8.47375,0.299758571 7.528,0.299758571 L7.528,0.299758571 L0.10275,0.299758571 L0,0.774787143 C1.52375,1.09705857 3.25575,1.61580143 4.3045,2.16903 L4.3045,2.16903 C4.94675,2.50781571 5.12975,2.80313 5.34125,3.60844429 L5.34125,3.60844429 L8.82025,16.6850871 L13.4325,16.6850871 L20.50225,0.299758571 L15.919,0.299758571 Z" id="Fill-1" fill="url(#linearGradient-3)" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>