<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="23px" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>logo/mastercard</title>
    <defs>
        <polygon id="path-1" points="0.111597656 0.0166663317 27.1234336 0.0166663317 27.1234336 3.46733668 0.111597656 3.46733668"></polygon>
        <polygon id="path-3" points="0 22.9364322 29.9702344 22.9364322 29.9702344 -3.28492119e-15 0 -3.28492119e-15"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="nav/footer" transform="translate(-835.000000, -410.000000)">
            <g id="logos_pagamento_cores" transform="translate(0.000000, 389.000000)">
                <g id="Group-8" transform="translate(835.000000, 21.000000)">
                    <g id="Group-3" transform="translate(1.406250, 19.469095)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M5.07659766,2.19877688 C5.07659766,1.7674402 5.35960547,1.41215377 5.82261328,1.41215377 C6.25995703,1.41215377 6.56862891,1.74201307 6.56862891,2.19877688 C6.56862891,2.62999799 6.25995703,2.98528442 5.82261328,2.98528442 C5.35960547,2.95985729 5.07659766,2.62999799 5.07659766,2.19877688 L5.07659766,2.19877688 Z M7.08319922,2.19877688 L7.08319922,0.980817085 L6.54296484,0.980817085 L6.54296484,1.28536482 C6.36284766,1.05698291 6.10562109,0.930078392 5.77116797,0.930078392 C5.07659766,0.930078392 4.53636328,1.46289246 4.53636328,2.19877688 C4.53636328,2.93454573 5.07659766,3.4673598 5.77116797,3.4673598 C6.13128516,3.4673598 6.38862891,3.34045528 6.54296484,3.11207337 L6.54296484,3.41662111 L7.08319922,3.41662111 L7.08319922,2.19877688 Z M25.1424961,2.19877688 C25.1424961,1.7674402 25.4255039,1.41215377 25.8886289,1.41215377 C26.3258555,1.41215377 26.6346445,1.74201307 26.6346445,2.19877688 C26.6346445,2.62999799 26.3258555,2.98528442 25.8886289,2.98528442 C25.4255039,2.95985729 25.1424961,2.62999799 25.1424961,2.19877688 L25.1424961,2.19877688 Z M27.1234336,2.19877688 L27.1234336,0.0166663317 L26.583082,0.0166663317 L26.583082,1.28536482 C26.403082,1.05698291 26.1458555,0.930078392 25.8114023,0.930078392 C25.116832,0.930078392 24.5764805,1.46289246 24.5764805,2.19877688 C24.5764805,2.93454573 25.116832,3.4673598 25.8114023,3.4673598 C26.1715195,3.4673598 26.4287461,3.34045528 26.583082,3.11207337 L26.583082,3.41662111 L27.1234336,3.41662111 L27.1234336,2.19877688 Z M13.7203477,1.38684221 C14.0548008,1.38684221 14.2863633,1.58968141 14.3378086,1.9702794 L13.0515586,1.9702794 C13.1030039,1.64053568 13.3344492,1.38684221 13.7203477,1.38684221 L13.7203477,1.38684221 Z M13.7203477,0.930078392 C13.0001133,0.930078392 12.485543,1.4375809 12.485543,2.19877688 C12.485543,2.95985729 13.0001133,3.4673598 13.7460117,3.4673598 C14.1062461,3.4673598 14.4664805,3.36588241 14.7493711,3.1375005 L14.4921445,2.75690251 C14.2863633,2.90911859 14.0291367,3.01059598 13.771793,3.01059598 C13.437457,3.01059598 13.1030039,2.8583799 13.0257773,2.42715879 L14.8522617,2.42715879 L14.8522617,2.22408844 C14.878043,1.4375809 14.4150352,0.930078392 13.7203477,0.930078392 L13.7203477,0.930078392 Z M20.1774961,2.19877688 C20.1774961,1.7674402 20.4603867,1.41215377 20.9236289,1.41215377 C21.3608555,1.41215377 21.6696445,1.74201307 21.6696445,2.19877688 C21.6696445,2.62999799 21.3608555,2.98528442 20.9236289,2.98528442 C20.4603867,2.95985729 20.1774961,2.62999799 20.1774961,2.19877688 L20.1774961,2.19877688 Z M22.1584336,2.19877688 L22.1584336,0.980817085 L21.618082,0.980817085 L21.618082,1.28536482 C21.4379648,1.05698291 21.1808555,0.930078392 20.8462852,0.930078392 C20.151832,0.930078392 19.6114805,1.46289246 19.6114805,2.19877688 C19.6114805,2.93454573 20.151832,3.4673598 20.8462852,3.4673598 C21.2065195,3.4673598 21.4637461,3.34045528 21.618082,3.11207337 L21.618082,3.41662111 L22.1584336,3.41662111 L22.1584336,2.19877688 Z M17.1676523,2.19877688 C17.1676523,2.93454573 17.6821055,3.4673598 18.4795664,3.4673598 C18.8396836,3.4673598 19.0970273,3.39119397 19.3542539,3.1882392 L19.0970273,2.75690251 C18.8912461,2.90911859 18.6854648,2.98528442 18.4537852,2.98528442 C18.0165586,2.98528442 17.7077695,2.68085226 17.7077695,2.19877688 C17.7077695,1.74201307 18.0165586,1.4375809 18.4537852,1.41215377 C18.6854648,1.41215377 18.8912461,1.4883196 19.0970273,1.64053568 L19.3542539,1.20919899 C19.0970273,1.00624422 18.8396836,0.930078392 18.4795664,0.930078392 C17.6821055,0.930078392 17.1676523,1.46289246 17.1676523,2.19877688 L17.1676523,2.19877688 Z M24.0620273,0.930078392 C23.7533555,0.930078392 23.5475742,1.08241005 23.4189023,1.28536482 L23.4189023,0.980817085 L22.878668,0.980817085 L22.878668,3.41662111 L23.4189023,3.41662111 L23.4189023,2.0465608 C23.4189023,1.64053568 23.5990195,1.41215377 23.9333555,1.41215377 C24.0363633,1.41215377 24.1650352,1.4375809 24.2679258,1.46289246 L24.4222617,0.955505528 C24.3192539,0.930078392 24.1650352,0.930078392 24.0620273,0.930078392 L24.0620273,0.930078392 Z M9.70714453,1.18388744 C9.44991797,1.00624422 9.08980078,0.930078392 8.70390234,0.930078392 C8.08655859,0.930078392 7.67487891,1.23451055 7.67487891,1.71658593 C7.67487891,2.12261106 7.98355078,2.35087739 8.52378516,2.42715879 L8.78101172,2.45235477 C9.06401953,2.50320905 9.21835547,2.5792593 9.21835547,2.70616382 C9.21835547,2.88380704 9.01257422,3.01059598 8.65245703,3.01059598 C8.29222266,3.01059598 8.00933203,2.88380704 7.82921484,2.75690251 L7.57198828,3.16292764 C7.85487891,3.36588241 8.24077734,3.4673598 8.62667578,3.4673598 C9.34702734,3.4673598 9.75870703,3.1375005 9.75870703,2.68085226 C9.75870703,2.2494 9.42425391,2.02113367 8.90968359,1.94508342 L8.65245703,1.91965628 C8.42089453,1.89422915 8.24077734,1.84349045 8.24077734,1.69127437 C8.24077734,1.51363116 8.42089453,1.41215377 8.70390234,1.41215377 C9.01257422,1.41215377 9.32136328,1.53905829 9.47569922,1.61510854 L9.70714453,1.18388744 Z M16.6273008,0.930078392 C16.3187461,0.930078392 16.1128477,1.08241005 15.9841758,1.28536482 L15.9841758,0.980817085 L15.4440586,0.980817085 L15.4440586,3.41662111 L15.9841758,3.41662111 L15.9841758,2.0465608 C15.9841758,1.64053568 16.164293,1.41215377 16.4987461,1.41215377 C16.6016367,1.41215377 16.7301914,1.4375809 16.833082,1.46289246 L16.9875352,0.955505528 C16.8846445,0.930078392 16.7301914,0.930078392 16.6273008,0.930078392 L16.6273008,0.930078392 Z M12.0481992,0.980817085 L11.1735117,0.980817085 L11.1735117,0.245048241 L10.6332773,0.245048241 L10.6332773,0.980817085 L10.1444883,0.980817085 L10.1444883,1.46289246 L10.6332773,1.46289246 L10.6332773,2.5792593 C10.6332773,3.1375005 10.8648398,3.4673598 11.4823008,3.4673598 C11.7137461,3.4673598 11.9710898,3.39119397 12.1510898,3.28971658 L11.9967539,2.83295276 C11.842418,2.93454573 11.6623008,2.95985729 11.5337461,2.95985729 C11.2764023,2.95985729 11.1735117,2.80775678 11.1735117,2.55394774 L11.1735117,1.46289246 L12.0481992,1.46289246 L12.0481992,0.980817085 Z M4.04757422,3.41662111 L4.04757422,1.89422915 C4.04757422,1.31067638 3.68745703,0.930078392 3.06999609,0.930078392 C2.76132422,0.930078392 2.42687109,1.03155578 2.19530859,1.36141508 C2.01519141,1.08241005 1.75796484,0.930078392 1.37206641,0.930078392 C1.11483984,0.930078392 0.857613281,1.00624422 0.651832031,1.28536482 L0.651832031,0.980817085 L0.111597656,0.980817085 L0.111597656,3.41662111 L0.651832031,3.41662111 L0.651832031,2.07187236 C0.651832031,1.64053568 0.883277344,1.4375809 1.24351172,1.4375809 C1.60362891,1.4375809 1.78374609,1.66596281 1.78374609,2.07187236 L1.78374609,3.41662111 L2.32398047,3.41662111 L2.32398047,2.07187236 C2.32398047,1.64053568 2.58120703,1.4375809 2.91566016,1.4375809 C3.27577734,1.4375809 3.45589453,1.66596281 3.45589453,2.07187236 L3.45589453,3.41662111 L4.04757422,3.41662111 Z" id="Fill-1" fill="#000000" mask="url(#mask-2)"></path>
                    </g>
                    <mask id="mask-4" fill="white">
                        <use xlink:href="#path-3"></use>
                    </mask>
                    <g id="Clip-5"></g>
                    <path d="M11.4478711,9.13393568 C11.4478711,6.21617186 12.8370117,3.62815176 14.9722852,1.9536593 C13.4030273,0.735699497 11.4220898,-6.93467337e-05 9.26115234,-6.93467337e-05 C4.14181641,-6.93467337e-05 5.859375e-05,4.0848 5.859375e-05,9.13393568 C5.859375e-05,14.1829558 4.14181641,18.2679407 9.26115234,18.2679407 C11.4220898,18.2679407 13.4030273,17.5321719 14.9722852,16.3142121 C12.8370117,14.6651467 11.4478711,12.0518151 11.4478711,9.13393568" id="Fill-6" fill="#EB001B" opacity="0.799895531" mask="url(#mask-4)"></path>
                    <path d="M14.9980195,1.9536593 C17.1331758,3.62815176 18.5224336,6.21617186 18.5224336,9.13393568 C18.5224336,12.0518151 17.158957,14.6397196 14.9980195,16.3142121 L14.9980195,16.3142121 L14.9722852,16.3142121 L14.9722852,16.3142121 C12.8370117,14.6651467 11.4478711,12.0518151 11.4478711,9.13393568 C11.4478711,6.21617186 12.8370117,3.62815176 14.9722852,1.9536593 Z" id="Combined-Shape" fill="#FF5F00" opacity="0.7" mask="url(#mask-4)"></path>
                    <path d="M29.9702461,9.13393568 C29.9702461,14.1829558 25.8284883,18.2679407 20.7091523,18.2679407 C18.5480977,18.2679407 16.5672773,17.5321719 14.9980195,16.3142121 C17.158957,14.6397196 18.5224336,12.0518151 18.5224336,9.13393568 C18.5224336,6.21617186 17.1331758,3.62815176 14.9980195,1.9536593 C16.5672773,0.735699497 18.5480977,-6.93467337e-05 20.7091523,-6.93467337e-05 C25.8284883,-6.93467337e-05 29.9702461,4.11022714 29.9702461,9.13393568" id="Fill-7" fill="#F79E1B" opacity="0.6" mask="url(#mask-4)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>