<svg xmlns="http://www.w3.org/2000/svg" width="10.91" height="7.09" viewBox="0 0 10.91 7.09">
  <g id="b604b4a4-f26d-40ff-a014-f34588a93a14" data-name="Layer 2">
    <g id="b6f377e3-9601-43ee-ae52-23c10e907e5a" data-name="facebook">
      <g id="b073f364-551c-4d34-9ea0-2b6be8e59769" data-name="ICON-2" opacity="0.7">
        <path id="e0f1b494-53e1-46a1-98be-05a78cd109b4" data-name="Path 376" d="M.82,0a.77.77,0,0,0-.3.06l4.62,4a.43.43,0,0,0,.6,0l0,0,4.63-4a.8.8,0,0,0-.3-.06ZM0,.7A.49.49,0,0,0,0,.82V6.27a.82.82,0,0,0,.81.82h9.28a.82.82,0,0,0,.82-.81h0V.82s0-.08,0-.12l-4.61,4a1.28,1.28,0,0,1-1.68,0Z" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
