<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="92px" height="23px" viewBox="0 0 92 23" style="enable-background:new 0 0 92 23;" xml:space="preserve">
<style type="text/css">
	.st0{opacity:0.4;fill:#FCFDFF;}
	.st1{opacity:0.3;fill:#FFFFFF;fill-opacity:0.5;}
	.st2{opacity:0.6;fill:#FFFFFF;fill-opacity:0.5;}
	.st3{opacity:0.5;}
	.st4{fill:#FFFFFF;}
</style>
<g>
	<g>
		<path class="st0" d="M17,5.7c0.3-1.7,0-2.9-0.9-4C15,0.5,13.2,0,10.8,0H3.9C3.4,0,3,0.4,2.9,0.8L0,19.1c-0.1,0.4,0.2,0.7,0.6,0.7
			h4.3l-0.3,1.9c0,0.3,0.2,0.6,0.5,0.6h3.6c0.4,0,0.8-0.3,0.9-0.7l0-0.2l0.7-4.3l0-0.2c0.1-0.4,0.4-0.7,0.9-0.7h0.5
			c3.5,0,6.2-1.4,7-5.5C19,8.9,18.9,7.4,18,6.4C17.7,6.1,17.4,5.9,17,5.7L17,5.7"/>
		<path class="st1" d="M7.1,5.7c0-0.3,0.2-0.5,0.5-0.6C7.7,5,7.8,4.9,7.9,4.9h5.4c0.6,0,1.2,0,1.8,0.1c0.2,0,0.3,0.1,0.5,0.1
			c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.1,0,0.2,0.1c0.3,0.1,0.5,0.2,0.8,0.3c0.3-1.7,0-2.9-0.9-4C15,0.5,13.2,0,10.8,0H3.9
			C3.4,0,3,0.4,2.9,0.8L0,19.1c-0.1,0.4,0.2,0.7,0.6,0.7h4.3L5.9,13L7.1,5.7z"/>
		<path class="st2" d="M17,5.7c0.3-1.7,0-2.9-0.9-4C15,0.5,13.2,0,10.8,0H3.9C3.4,0,3,0.4,2.9,0.8L0,19.1c-0.1,0.4,0.2,0.7,0.6,0.7
			h4.3L5.9,13l0,0.2c0.1-0.5,0.5-0.8,1-0.8h2c4,0,7.1-1.6,8-6.3C17,5.9,17,5.8,17,5.7"/>
	</g>
	<g class="st3">
		<g>
			<g>
				<g>
					<path class="st4" d="M71,5h-5c-0.3,0-0.6,0.2-0.7,0.6l-2,12.9c0,0.3,0.2,0.5,0.4,0.5h2.6c0.2,0,0.4-0.2,0.5-0.4l0.6-3.7
						c0.1-0.3,0.3-0.6,0.7-0.6h1.6c3.3,0,5.2-1.6,5.7-4.8c0.2-1.4,0-2.5-0.6-3.2C73.9,5.4,72.7,5,71,5z M71.6,9.7
						c-0.3,1.8-1.7,1.8-3,1.8h-0.8l0.5-3.4c0-0.2,0.2-0.4,0.4-0.4h0.3c0.9,0,1.8,0,2.2,0.5C71.6,8.6,71.7,9.1,71.6,9.7z"/>
					<path class="st4" d="M35.1,5h-5c-0.3,0-0.6,0.2-0.7,0.6l-2,12.9c0,0.3,0.2,0.5,0.4,0.5h2.4c0.3,0,0.6-0.3,0.7-0.6l0.5-3.5
						c0.1-0.3,0.3-0.6,0.7-0.6h1.6c3.3,0,5.2-1.6,5.7-4.8c0.2-1.4,0-2.5-0.6-3.2C38.1,5.4,36.8,5,35.1,5z M35.7,9.7
						c-0.3,1.8-1.7,1.8-3,1.8H32l0.5-3.4c0-0.2,0.2-0.4,0.4-0.4h0.3c0.9,0,1.8,0,2.2,0.5C35.7,8.6,35.8,9.1,35.7,9.7z"/>
					<path class="st4" d="M50.2,9.6h-2.4c-0.2,0-0.4,0.1-0.4,0.4l-0.1,0.7l-0.2-0.2c-0.5-0.8-1.7-1-2.8-1c-2.7,0-4.9,2-5.4,4.8
						c-0.2,1.4,0.1,2.8,0.9,3.7c0.7,0.9,1.8,1.2,3,1.2c2.1,0,3.3-1.4,3.3-1.4L46,18.5c0,0.3,0.2,0.5,0.4,0.5h2.2
						c0.3,0,0.6-0.2,0.7-0.6l1.3-8.2C50.6,9.9,50.4,9.6,50.2,9.6z M46.8,14.3c-0.2,1.4-1.3,2.3-2.7,2.3c-0.7,0-1.3-0.2-1.6-0.6
						c-0.4-0.4-0.5-1-0.4-1.7c0.2-1.4,1.3-2.3,2.7-2.3c0.7,0,1.2,0.2,1.6,0.7C46.8,13,46.9,13.6,46.8,14.3z"/>
					<path class="st4" d="M86,9.6h-2.4c-0.2,0-0.4,0.1-0.4,0.4l-0.1,0.7l-0.2-0.2c-0.5-0.8-1.7-1-2.8-1c-2.7,0-4.9,2-5.4,4.8
						c-0.2,1.4,0.1,2.8,0.9,3.7c0.7,0.9,1.8,1.2,3,1.2c2.1,0,3.3-1.4,3.3-1.4l-0.1,0.7c0,0.3,0.2,0.5,0.4,0.5h2.2
						c0.3,0,0.6-0.2,0.7-0.6l1.3-8.2C86.5,9.9,86.3,9.6,86,9.6z M82.6,14.3c-0.2,1.4-1.3,2.3-2.7,2.3c-0.7,0-1.3-0.2-1.6-0.6
						c-0.4-0.4-0.5-1-0.4-1.7c0.2-1.4,1.3-2.3,2.7-2.3c0.7,0,1.2,0.2,1.6,0.7C82.6,13,82.8,13.6,82.6,14.3z"/>
					<path class="st4" d="M63,9.6h-2.4c-0.2,0-0.4,0.1-0.6,0.3l-3.3,4.9l-1.4-4.7c-0.1-0.3-0.4-0.5-0.7-0.5h-2.4
						c-0.3,0-0.5,0.3-0.4,0.6l2.7,7.8l-2.5,3.5c-0.2,0.3,0,0.7,0.3,0.7h2.4c0.2,0,0.4-0.1,0.6-0.3l8-11.6C63.5,10,63.3,9.6,63,9.6z"
						/>
					<path class="st4" d="M88.8,5.3l-2.1,13.1c0,0.3,0.2,0.5,0.4,0.5h2.1c0.3,0,0.6-0.3,0.7-0.6l2-12.9C92,5.2,91.8,5,91.6,5h-2.3
						C89,5,88.9,5.1,88.8,5.3z"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
