<div class="media-two">
  <div class="media-two__container">
    <a href="{{info.url_left}}" class="media-two__item _left">
      <div class="media-two__border"></div>
      {% if info.image_left %}
        <div class="media-two__image">
          <div class="media-two__overlay"></div>
          {% include 'responsive-image' with
            image: info.image_left,
            max_width: 1138,
            max_height: 634,
            allow_oversize: true
          %}
        </div>
      {% endif %}
      <div class="media-two__info">
        {% if info.pretitle_left != blank %}
          <span>{{info.pretitle_left}}</span>
        {% endif %}
        {% if info.title_left != blank %}
          <h2>{{info.title_left}}</h2>
        {% endif %}
      </div>
    </a>

    <a href="{{info.url_right}}" class="media-two__item _right">
      <div class="media-two__border"></div>
      {% if info.image_right %}
        <div class="media-two__image">
          <div class="media-two__overlay"></div>
          {% include 'responsive-image' with
            image: info.image_right,
            max_width: 1138,
            max_height: 634,
            allow_oversize: true
          %}
        </div>
      {% endif %}
      <div class="media-two__info">
        {% if info.pretitle_right != blank %}
          <span>{{info.pretitle_right}}</span>
        {% endif %}
        {% if info.title_right != blank %}
          <h2>{{info.title_right}}</h2>
        {% endif %}
      </div>
    </a>
  </div>
</div>