<div class="media-column">
  <div class="media-column__container">

    <div class="media-column__item">

      {% if columns.column_image_left %}
        <div class="media-column__image">
          {% include 'responsive-image' with
            image: columns.column_image_left,
            max_width: 160,
            max_height: 160,
            allow_oversize: true
          %}
        </div>
      {% endif %}

      <div class="media-column__info">
        {% if columns.column_title_left != blank %}
          <h3>{{ columns.column_title_left }}</h3>
        {% endif %}

        {% if columns.column_subtitle_left != blank %}
          <p>{{ columns.column_subtitle_left }}</p>
        {% endif %}
      </div>

    </div>

    <div class="media-column__item">

      {% if columns.column_image_center %}
        <div class="media-column__image">
          {% include 'responsive-image' with
            image: columns.column_image_center,
            max_width: 160,
            max_height: 160,
            allow_oversize: true
          %}
        </div>
      {% endif %}

      <div class="media-column__info">
        {% if columns.column_title_center != blank %}
          <h3>{{ columns.column_title_center }}</h3>
        {% endif %}

        {% if columns.column_subtitle_center != blank %}
          <p>{{ columns.column_subtitle_center }}</p>
        {% endif %}
      </div>

    </div>

    <div class="media-column__item">

      {% if columns.column_image_right %}
        <div class="media-column__image">
          {% include 'responsive-image' with
            image: columns.column_image_right,
            max_width: 160,
            max_height: 160,
            allow_oversize: true
          %}
        </div>
      {% endif %}

      <div class="media-column__info">
        {% if columns.column_title_right != blank %}
          <h3>{{ columns.column_title_right }}</h3>
        {% endif %}

        {% if columns.column_subtitle_right != blank %}
          <p>{{ columns.column_subtitle_right }}</p>
        {% endif %}
      </div>

    </div>

  </div>
</div>