
{% if shop.metafields.pagefly.acceptTracking %}
<script>window.__pagefly_analytics_settings__={
	acceptNewTracking: true, 
	enableTrackingRevenue: {{shop.metafields.pagefly.enableTrackingRevenue | default: false}}, 
	sessionTimeout: {{ shop.metafields.pagefly.sessionTimeout | default: 30 }},
	timezoneOffset: {{ shop.metafields.pagefly.timezoneOffset | default: 0 }}
};
  // load pagefly analytics new verion
    if(typeof analyticsSrc === 'undefined'){
    let analyticsSrc = "https://cdn.pagefly.io/pagefly/core/analytics.js"
    const scriptPFAnalytic = document.createElement('script')
    scriptPFAnalytic.src = analyticsSrc
    scriptPFAnalytic.async = true
    scriptPFAnalytic.defer = false
    scriptPFAnalytic.onload = () => {
      console.log("load analytics new version sucessfully")
    }
    scriptPFAnalytic.onerror = () => {
      console.log("load analytics new version unsuccessfully")
    }
    document.body.appendChild(scriptPFAnalytic)
    }
</script>
{% endif %}
{% if shop.metafields.pagefly.globalSetting %}{{ shop.metafields.pagefly.globalSetting }}{% endif %}
{{ 'pagefly-main.css' | asset_url | stylesheet_tag: preload: true }}
