<div class="pagination-wrapper" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  {% if paginate.previous.is_link %}
    <a class="prev" href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">{% include 'icon-arrow-outline-black.svg' %}</a>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <a href="{{ part.url }}" title="">{{ part.title }}</a>
    {% else %}
      {% if part.title == paginate.current_page %}
        <span class="current">{{ part.title }}</span>
      {% else %}
        <span>{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next.is_link %}
    <a class="next" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">{% include 'icon-arrow-outline-black.svg' %}</a>
  {% endif %}
</div>