<div class="pagination-wrapper" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">

  {% if paginate.previous.is_link %}
    <span class="prev" title="{{ paginate.previous.title }}" data-action-previous>{% include 'icon-arrow-outline-black.svg' %}</span>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <span title="{{ part.title }}" data-action-page data-index-page="{{forloop.index}}">{{ part.title }}</span>
    {% else %}
      {% if part.title == paginate.current_page %}
        <span class="current">{{ part.title }}</span>
      {% else %}
        <span>{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next.is_link %}
    <span class="next" title="{{ paginate.next.title }}" data-action-next>{% include 'icon-arrow-outline-black.svg' %}</span>
  {% endif %}

</div>