<div class="products-slider lazyload">

  <div class="products-slider__title">
    <h2>{{ info.settings.prod_slider_title }}</h2>
  </div>
  
  <div class="products-slider__block">
    <div class="products-slider__slider-container swiper-container">
      <div class="products-slider__slider-wrapper swiper-wrapper">

        {% if info.settings.prod_type == 'bestseller' and collections.best-sellers.products.size > 0 %}
          {% for product in collections.best-sellers.products limit: 6 %}
            <div class="products-slider__slide swiper-slide">
              <div class="products-slider__slide-info">

                <a href="{{ product.url }}" class="products-slider__item">
                  <div class="products-slider__item-image">
                    {% if product.featured_image != blank %}
                      {% include 'responsive-image' with
                        image: product.featured_image,
                        max_width: 742,
                        max_height: 708,
                        allow_oversize: true
                      %}
                    {% endif %}
                    <div href="{{ product.url }}" class="products-slider__button btn btn-orange btn-small btn-arrow">
                      Ver Produto
                      {% include 'icon-arrow.svg' %}
                    </div>
                  </div>
                  <div class="products-slider__item-info">
                    {% if product.title != blank %}
                      <h3>{{ product.title }}</h3>
                    {% endif %}
                    {% if product.price != blank %}
                      <p>{{ product.price | money }}</p>
                    {% endif %}
                  </div>
                </a>

              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% if info.settings.prod_type == 'custom' %}
          {% for block in info.blocks %}
            {% assign product_item = all_products[block.settings.product] %}

            <div class="products-slider__slide swiper-slide">
              <div class="products-slider__slide-info">

                <a href="{{ product_item.url }}" class="products-slider__item">
                  <div class="products-slider__item-image">
                    {% if product_item.featured_image != blank %}
                      {% include 'responsive-image' with
                        image: product_item.featured_image,
                        max_width: 742,
                        max_height: 708,
                        allow_oversize: true
                      %}
                    {% endif %}
                    <div href="{{ product_item.url }}" class="products-slider__button btn btn-orange btn-small btn-arrow">
                      Ver Produto
                      {% include 'icon-arrow.svg' %}
                    </div>
                  </div>
                  <div class="products-slider__item-info">
                    {% if product_item.title != blank %}
                      <h3>{{ product_item.title }}</h3>
                    {% endif %}
                    {% if block.settings.prod_subtitle!= blank %}
                      <p>{{ block.settings.prod_subtitle }}</p>
                    {% endif %}
                  </div>
                </a>

              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
      <div class="products-slider__pagination swiper-pagination"></div>
    </div>

    <div class="products-slider__button-prev swiper-button-prev">
      {% include 'icon-arrow_big.svg' %}
    </div>
    <div class="products-slider__button-next swiper-button-next">
      {% include 'icon-arrow_big.svg' %}
    </div>

  </div>

</div>