<div class="collection__product-item" data-aos="fade-in" data-aos-delay="450">
    <div class="collection__product-image">
    {% if product.featured_image != blank %}
        <a href="{{ product.url | within: collection }}">
        {% include 'responsive-image' with
            image: product.featured_image,
            max_width: 544,
            max_height: 520,
            allow_oversize: true
        %}
        </a>
    {% endif %}
    </div>

    <span class="collection__product-title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </span>
    <script>	
        var yotpoIsReady = false;	
        (function checkForYotpo() {	
            setTimeout(function() {
                if (typeof yotpo !== "undefined") {	
                    if (yotpo.initialized === true) {	
                        yotpoIsReady = true;	
                        yotpo.refreshWidgets();	
                        console.log('Yotpo reloaded');	
                    }	
                } else {	
                    console.log('Checking for Yotpo...');	
                }	
                if (yotpoIsReady === false) checkForYotpo();	
            }, 1000);	
        })();	
    </script>	
              
    {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}	
        <div class="yotpo bottomLine" style="display:block"	
            data-product-id="{{ product.id }}"	
            data-name="{{ product.title }}">	
        </div>	
                
    {% else %}	
        <div class="yotpo bottomline" >	
            <div class="yotpo-bottomline pull-left  star-clickable" style="display: block !important">  	
                <span class="yotpo-stars"> 	
                    <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>	
                    <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>	
                    <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>	
                    <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span>	
                    <span class="yotpo-icon yotpo-icon-empty-star pull-left"></span> 
                </span>      	
                <div class="yotpo-clr"></div> 
            </div>
        </div><br>	
    {% endif %}
    
    <span class="collection__product-description">
    {% if product.compare_at_price > product.price %}

        {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
        {{ 'products.product.on_sale' | t }}
        {{ product.price | money }}
        {% endif %}

    {% else %}

        {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
        {{ product.price | money }}
        {% endif %}

    {% endif %}

    {% if product.compare_at_price > product.price %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s>{{ product.compare_at_price | money }}</s>
    {% endif %}

    {% unless product.available %}
        {{ 'products.product.sold_out' | t }}
    {% endunless %}
    </span>
</div>
