<div class="quick-cart" data-role="quick-cart">
  <form action="/cart" method="post" novalidate>
    <div class="quick-cart__box">
      <div class="quick-cart__header">
        <div class="quick-cart__title">
          O seu Cesto de Compras ( <span data-role="cart-qtd">{{ cart.item_count }}</span> )
        </div>
        <a href="#" data-action="close" class="quick-cart__close">
          {% include 'icon-close' %}
        </a>
      </div>
      <div class="quick-cart__items" data-role="cart-items">
        {% include 'quick-cart-items' %}
      </div>
      <div class="quick-cart__subtotal">
        <div class="quick-cart__label">
          Subtotal
        </div>
        <div class="quick-cart__value">
          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
          <span data-role="cart-total">{{ cart.total_price | money }}</span>
        </div>
      </div>
      <div class="quick-cart__control">
        <a href="/cart" class="quick-cart__link-cart">Visualizar carrinho</a>
        <div class="quick-cart__submit-container">
          <input type="submit" name="checkout" class="btn btn-arrow btn-green btn-medium quick-cart__checkout-btn" value="Finalizar Compra" data-action="go-checkout">
          {% include 'icon-arrow.svg' %}
        </div>
        {% comment %} {% if additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %} {% endcomment %}
      </div>

      <div class="quick-cart__payment-container">
        {% assign enabled_payment_types = 'visa,master,paypal,mbway,multibanco,multibanco-mobile' | remove: ' ' | split: ',' %}
        {% for type in enabled_payment_types %}
          {%- assign payment_handle = type | handleize -%}
          {% capture payment_icon %}icon-color-{{ payment_handle }}{% endcapture %}
          <span class="_{{payment_handle}}">
            {% include payment_icon %}
          </span>
        {% endfor %}
      </div>
    </div>
  </form>
</div>
