{% for item in cart.items %}
<div class="quick-cart-items">
  <div class="quick-cart-items__thumb">
    {% if item.image != blank %}
      <a href="{{ item.url | within: collections.all }}">
        {{ item | img_url: '200x200' | img_tag: item.title }}
      </a>
    {% endif %}
  </div>
  <div class="quick-cart-items__info">
    <div class="quick-cart-items__options-thumb">
      <div class="quick-cart-items__thumb _responsive">
        {% if item.image != blank %}
          <a href="{{ item.url | within: collections.all }}">
            {{ item | img_url: '200x200' | img_tag: item.title }}
          </a>
        {% endif %}
      </div>
      <div class="quick-cart-items__options-container">
        <div class="quick-cart-items__name">
          <h3>{{ item.product.title }} {{ item.properties['size'] }}</h3>
          <a href="#" class="quick-cart-items__remove" data-action="remove-cart-line" data-cart-line-key="{{ item.key }}">Remover</a>
        </div>
        <div class="quick-cart-items__options">
          {% unless item.product.has_only_default_variant %}
            {% for option in item.options_with_values %}
              <div class="quick-cart-items__option-item">
                {% include 'icon-check-disabled.svg' %}
                <span>{{ option.name }} {{ option.value }}</span>
              </div>
            {% endfor %}
          {% endunless %}
          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>
          {%- assign propertySize = item.properties | size -%}
          {% if propertySize > 0 %}
            {% for p in item.properties %}
              {% assign first_character_in_key = p.first | truncate: 1, '' %}
              {% unless p.last == blank or first_character_in_key == '_' %}
                <div class="quick-cart-items__option-item">
                  {% include 'icon-check-disabled.svg' %}
                  {% comment %} <span>{{ p | first | capitalize }} {{ p | last }}</span> {% endcomment %}
                  <span>{{ p.first }} {{ p.last }}</span>
                </div>
              {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
        <a href="#" class="quick-cart-items__remove _responsive" data-action="remove-cart-line" data-cart-line-key="{{ item.key }}">Remover</a>
      </div>
    </div>
    
    <div class="quick-cart-items__info-qtd">
      <div class="quick-cart-items__item-qtd quantity-btn">
        <div class="quantity-button quantity-down" data-action="quick-quantity-down" data-id="{{ item.id }}">{% include 'icon-minus.svg' %}</div>
        <input 
          type="number" 
          id="quick_updates_{{ item.key }}"
          name="quick_updates[]"
          data-role="quick-quantity" 
          value="{{ item.quantity }}" 
          data-cart-key="{{ item.key }}" 
          data-cart-product-id="{{ item.id }}" 
          min="1" 
          step="1"
        >
        <div class="quantity-button quantity-up" data-action="quick-quantity-up" data-id="{{ item.id }}">{% include 'icon-plus.svg' %}</div>
      </div>
      <span class="quick-cart-items__price">
        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>
        <span>{{ item.line_price | money }}</span>
      </span>
    </div>
    <span class="quick-cart-items__tax-note">
      IVA incluído à taxa legal em vigor
    </span>
  </div>
</div>
{% else %}
  <div class="empty-cart">Cesto vazio. Os produtos que adicionar ao seu Cesto aparecerão aqui. Boas compras!</div>
{% endfor %}
