<div 
  class="review-slider lazyload"
  data-bgset="{% include 'responsive-bg-image', image: info.settings.review_background %}"
>
  <div class="review-slider__title">
    <h1>{{ info.settings.review_title }}</h1>
    <div class="review-slider__title-underline"></div>
  </div>

  <div class="review-slider__block">
    <div class="review-slider__slider-container swiper-container">
      <div class="review-slider__slider-wrapper swiper-wrapper">
        {% for block in info.blocks %}
          <div class="review-slider__slide swiper-slide">
            <div class="review-slider__slide-info">

              {% if block.settings.item_image != blank %}
                <div class="review-slider__img-container">
                  {% include 'responsive-image' with
                    image: block.settings.item_image,
                    max_width: 50,
                    max_height: 50
                  %}
                </div>
              {% endif %}

              {% if block.settings.item_name != blank %}
                <h4>{{ block.settings.item_name }}</h4>
              {% endif %}

              <div class="review-slider__stars-container">
                {% assign stars = block.settings.review_stars %}
                {% assign floorStars = stars | floor %}
                {% assign modStars = stars | modulo: floorStars | ceil %}

                {% if stars == 0 %}
                  {% for i in (0..4) %}
                    {% include 'icon-star-empty.svg' %}
                  {% endfor %}
                {% elsif stars == 5 %}
                  {% for i in (0..4) %}
                    {% include 'icon-star-fill.svg' %}
                  {% endfor %}
                {% else %}
                  {% if floorStars == 0 %}
                    {% include 'icon-star-half.svg' %}
                    {% for i in (1..4) %}
                      {% include 'icon-star-empty.svg' %}
                    {% endfor %}
                  {% else %}
                    {% for i in (1..floorStars) %}
                      {% include 'icon-star-fill.svg' %}
                    {% endfor %}
                    {% if modStars == 0 %}
                      {% for i in (floorStars..4) %}
                        {% include 'icon-star-empty.svg' %}
                      {% endfor %}
                    {% else %}
                      {% include 'icon-star-half.svg' %}
                      {% for i in (floorStars..3) %}
                        {% include 'icon-star-empty.svg' %}
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>

              {% if block.settings.item_description != blank %}
                <p class="review-slider__description">{{ block.settings.item_description }}</p>
              {% endif %}

            </div>
          </div>
        {% endfor %}
      </div>

      <div class="review-slider__pagination swiper-pagination"></div>
    </div>

    <div class="review-slider__button-prev swiper-button-prev">
      {% include 'icon-arrow_big.svg' %}
    </div>
    <div class="review-slider__button-next swiper-button-next">
      {% include 'icon-arrow_big.svg' %}
    </div>
  </div>

</div>