
{%- if layout == 'theme' -%}
<script type="text/javascript" src="{{ 'vendors@layout.theme.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@layout.theme.js' | asset_url }}" as="script">
{%- endif -%} {%- if layout == 'theme' -%}
<script type="text/javascript" src="{{ 'layout.theme.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'layout.theme.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'article' or template == 'article.generic' or template == 'blog' or template == 'blog.tutorials' or template == 'index' or template == 'page.about' or template == 'page.contact' or template == 'page.projects' or template == 'product' -%}
<script type="text/javascript" src="{{ 'vendors@template.article@template.article.generic@template.blog@template.blog.tutorials@template.index@template.page.about@template.page.contact@template.page.projects@template.product.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@template.article@template.article.generic@template.blog@template.blog.tutorials@template.index@template.page.about@template.page.contact@template.page.projects@template.product.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'article.generic' -%}
<script type="text/javascript" src="{{ 'template.article.generic.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.article.generic.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'article' -%}
<script type="text/javascript" src="{{ 'template.article.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.article.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'blog' -%}
<script type="text/javascript" src="{{ 'template.blog.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.blog.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'blog.tutorials' -%}
<script type="text/javascript" src="{{ 'template.blog.tutorials.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.blog.tutorials.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'cart' -%}
<script type="text/javascript" src="{{ 'template.cart.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.cart.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'collection' -%}
<script type="text/javascript" src="{{ 'template.collection.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.collection.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'gift_card' -%}
<script type="text/javascript" src="{{ 'vendors@template.gift_card.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'vendors@template.gift_card.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'gift_card' -%}
<script type="text/javascript" src="{{ 'template.gift_card.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.gift_card.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'index' -%}
<script type="text/javascript" src="{{ 'template.index.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.index.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'page.about' -%}
<script type="text/javascript" src="{{ 'template.page.about.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.page.about.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'page.contact' -%}
<script type="text/javascript" src="{{ 'template.page.contact.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.page.contact.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'page.projects' -%}
<script type="text/javascript" src="{{ 'template.page.projects.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.page.projects.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'product' -%}
<script type="text/javascript" src="{{ 'template.product.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.product.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'customers/addresses' -%}
<script type="text/javascript" src="{{ 'template.addresses.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.addresses.js' | asset_url }}" as="script">
{%- endif -%} {%- if template == 'customers/login' -%}
<script type="text/javascript" src="{{ 'template.login.js' | asset_url }}" defer="defer"></script>
{%- else -%}
<link rel="prefetch" href="{{ 'template.login.js' | asset_url }}" as="script">
{%- endif -%}
