<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">

  <div class="social-sharing__container">
    <p>Partilhar</p>

    {% if settings.share_facebook %}
      <a class="facebook" target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
        {% include 'icon-facebook-blog.svg' %}
        <span aria-hidden="true">Partilhar</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a class="twitter" target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
        {% include 'icon-twitter-blog.svg' %}
        <span aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_pinterest %}
      <a class="pinterest" target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        {% include 'icon-pinterest-blog.svg' %}
        <span aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
      </a>
    {% endif %}

  </div>

</div>
