<div class="terms-acceptance checkbox" {% if cart.item_count == 0 %}style="display: none;"{% endif %} data-role="checkout-terms">
  <input type="checkbox" name="terms-acceptance" id="terms-acceptance-{{ boxid }}" data-role="terms-acceptance"/>
  <label for="terms-acceptance-{{ boxid }}">
    I agree to accept the Terms and Conditions and that my data will be processed in compliance with the Privacy Policy of Grass4You.
  </label>
</div>
