.articles-column {
  margin-bottom: 45px;

  &__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-grey;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__article-image {
    width: 98px;
    height: 98px;
    margin-right: 15px;

    .responsive-image__wrapper {
      height: 100%;

      img {
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  &__article-content {
    max-width: 155px;

    span {
      font-size: 13px;
      text-transform: uppercase;
    }

    h4, h4 a {
      font-size: 16px;
      font-weight: 700;
      color: $black;
      text-decoration: none;
      margin: 5px 0 0;
      transition: color $transition-duration $transition-timing;

      &:hover {
        color: $green;
      }
    }
  }
}
