.contact-form-block {
  width: 100%;
  margin: 0 auto 100px;
  background-color: $white;
  padding: 0 20px;

  @include media-query($medium-down) {
    margin: 0 auto 50px;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
    display: flex;
  }

  &__wrapper-empty {
    width: 100%;
    max-width: 270px;
    margin-right: 25px;

    @include media-query($medium-down) {
      display: none;
    }
  }

  &__wrapper-form {
    width: 100%;

    h3 {
      margin: 0 0 5px;
      font-size: 22px;
      line-height: 27px;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .form-container-name-email {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @include media-query($small) {
          flex-wrap: wrap;

          .form-name, .form-email {
            width: 100%;
            margin-right: 0;
          }
        }

        .form-name {
          width: 48%;
          margin-right: 28px;
          display: flex;
          flex-direction: column;

          @include media-query($small) {
            width: 100%;
            margin-right: 0;
          }
        }

        .form-email {
          width: 48%;
          display: flex;
          flex-direction: column;

          @include media-query($small) {
            width: 100%;
          }
        }
      }

      .form-container-btn {
        position: relative;
        display: flex;
        justify-content: flex-end;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 11px;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background-image: url('../assets/img/icon-arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        @include media-query($small) {
          justify-content: center;
        }
      }

      label {
        font-family: $font;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 32px;
        }
      }

      input, textarea {
        margin: 0 0 10px;
        padding: 10px;
        outline: none;
        border-radius: 4px;
        border-color: $light-grey;
        background-color: $beige-light;
      }

      input[type="email"], input[type="text"] {
        height: 58px;
      }

      input[type="submit"] {
        height: 40px;
        width: 198px;
        margin: 0;
        background-color: $green;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        transition: background-color 200ms ease-out;

        &:hover {
          background-color: $green-light;
        }
      }
    }
  }
}
