.footer {
  width: 100%;
  background-color: $green-footer;

  &__container {
    width: 100%;
    padding: 50px 40px;
    display: flex;

    @include media-query($medium-down) {
      flex-direction: column;
      padding: 30px 20px 20px;
    }
  }

  &__column {
    padding: 0 60px;
    width: 100%;
    max-width: calc( 100% / 4 );
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba($color: $white, $alpha: 0.1);

    @include media-query($medium-down) {
      padding: 0;
      max-width: 100%;
      border-right: 0;
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
      margin-bottom: 15px;
    }

    &:last-child {
      border-right: 0;
      border-bottom: 0;
    }

    & span {
      display: block;

      a {
        color: $beige-light;
        text-decoration: unset;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
      }

      &.footer__column-title {
        margin-bottom: 30px;

        @include media-query($medium-down) {
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          & > * {
            pointer-events: none;
          }
        }

        svg {
          width: 11px;
          height: 11px;
          transition: all $transition-duration $transition-timing;

          path, g {
            stroke: $white;
            fill: $white;
          }

          @include media-query($large-up) {
            display: none;
          }
        }

        &._open > svg {
          transform: rotate(405deg);
        }

        & > a  {
          font-size: 17px;
          line-height: 20px;
          font-weight: 700;
        }
      }
    }
  }

  &__extra-items {
    height: 0;
    overflow: hidden;
    transition: height $transition-duration;
  }

  &__column-desktop {
    display: flex;
    flex-direction: column;

    @include media-query($medium-down) {
      display: none;
    }
  }

  &__column-mobile {
    display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all $transition-duration;

    @include media-query($medium-down) {
      display: flex;
      flex-direction: column;
    }
  }

  &__column-contact {

    & > div {
      margin-bottom: 10px;

      &.footer__special-div {
        margin-bottom: 25px;
      }

      span, a {
        display: block;
        color: rgba($color: $beige-light, $alpha: 0.70);
        text-decoration: unset;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;

        ._email {
          word-break: break-all;
        }

        svg {
           margin-right: 5px;
        }
      }

      .footer__column-without-icon {
        padding-left: 20px;
      }
    }
  }

  &__column-subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    font-weight: 500;

    a , a span{
      color: rgba($color: $beige-light, $alpha: 0.70) !important;

      span {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__social-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media-query($medium-down) {
      display: none;
    }

    &._responsive {
      display: none;
  
      @include media-query($medium-down) {
        display: flex;
        justify-content: center;
      }
    }

    span {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: unset;

        svg {
          @include media-query($medium-down) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }


  &__container-copyright {
    background-color: $green-footer-copy;
    padding: 10px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1136px) {
      flex-direction: column-reverse;
      padding: 10px 20px;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    span {
      font-size: 13px;
      line-height: 29px;
      margin: 0 10px 0 0;
      color: rgba($color: $white, $alpha: 0.45);
      font-weight: 400;
      display: inline-block;

      @include media-query($medium-down) {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        display: block;
      }

      &.first {
        margin: 0 3px 0 0;

        @include media-query($medium-down) {
          margin: 0;
        }
      }

      &.second {
        margin: 0 10px 0 0;

        @include media-query($medium-down) {
          margin: 0 0 15px;
        }
      }
    }

    a {
      display: block;
      line-height: 0;
    }
  }

  &__payment-container {
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      max-width: 246px;
      margin: 20px auto;
      flex-wrap: wrap;
      justify-content: center;
    }

    span {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @include media-query($medium-down) {
        margin-right: 18px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__claims-container {
    width: 80px;
    height: 30px;
    background: url('../assets/img/icon-claims.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}