.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transform: translateY(0%);
  height: $header-mobile-height;

  &.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-180%);
  }

  ._open-modal & {
    z-index: 0;
  }

  // @include media-query($large-up) {        
  //   ._show-announcement-bar & {
  //     top: $announcement-bar-height;
  //   }
  // }

  &__announcement-bar {
    width: 100%;
    text-align: center;
    height: $announcement-bar-mobile-height;
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $grid-gutter;
    // background: $mustard;
    background: $green-fluorescent;
  
    @include media-query($medium-down) {
      margin-top: -$announcement-bar-mobile-height;
      transition: margin-top $transition-duration $transition-timing;
  
      ._show-announcement-bar & {
        margin-top: 0;
      }
    }
  
    @include media-query($large-up) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      height: $announcement-bar-height;
      transform: translateY(-101%);
      transition: transform $transition-duration $transition-timing;
  
      ._show-announcement-bar & {
        transform: translateY(0);
      }
    }
  
    p, a {
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      color: $white;
      text-decoration: none;
  
      @include media-query($large-up) {
        font-size: 1.3rem;
        line-height: 2.2rem;
      }
    }
  }

  header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;

    @include media-query($large-up) {
      position: fixed;
      top: 0;
      
      ._show-announcement-bar & {
        top: $announcement-bar-height;
      }
    }
  }

  &__contact-bar {
    width: 100%;
    max-width: $max-width-container;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 20px;

    @include media-query($medium-down) {
      background-color: $green-dark;
    }

    @include media-query($small) {
      justify-content: center;
    }

    span {
      margin: 0;
      font-size: 13px;
      line-height: 16px;
      color: $white;
      padding: 0 7px;
      border-right: 1px solid rgba($color: $beige-light, $alpha: 0.1);

      @include media-query($large-up) {
        border-right: 1px solid $color-border;
        color: $black;
      }

      &:last-child {
        border-right: 0;
        padding: 0 0px 0 7px;
      }

      svg {
        width: 11px;
        position: relative;
        top: 1px;

        @include media-query($medium-down) {
          path, g {
            fill: $white !important;
          }
        }
      }

      @include media-query($small) {
        padding: 0 14px;

        &:first-child {
          padding: 0 14px 0 0;
        }

        &:last-child {
          padding: 0 0 0 14px;
        }
      }

      a {
        font-family: $font;
        font-size: 13px;
        line-height: 16px;
        color: $white;
        font-weight: 400;
        text-decoration: unset;
        //display: block;

        @include media-query($large-up) {
          color: $black;
          display: inline-block;
        }
      }
    }
  }

  &__upper {
    width: 100%;
    max-width: $max-width-container;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 20px;

    @include media-query($large-up) {
      
    }

    @include media-query($medium-down) {
      box-shadow: -10px 16px 48px rgba(0, 0, 0, 0.06);
    }
  }

  &__search-wrapper {
    display: block;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .header__close > svg {
      transform: rotate(45deg);
    }

    @include media-query($large-up) {
      display: none;
    }

    @include media-query($small) {
      padding: 10px 20px;
    }
  }

  &__search-container {
    position: relative;
    width: 100%;
    max-width: 310px;

    &.desktop {
      @include media-query($medium-down) {
        display: none;
      }
    }

    &.mobile {
      display: block;
      max-width: 260px;

      @include media-query($large-up) {
        display: none;
      }
    }

    input {
      width: 100%;
      height: 48px;
      background-color: $light-grey;
      border-radius: 30px;
      padding: 0 40px 0 20px;
    }

    button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0;

      svg {
        width: 17px;
      }
    }
  }

  &__logo-image {

    @include media-query($large-up) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    @include media-query($medium-down) {
      position: relative;
    }

    .desktop svg {
      height: 70px;
      width: 260px;
    }

    .mobile svg {
      height: 40px;

      @include media-query($small) {
        max-width: 100%;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__account-menu {
    svg {
      margin-left: 20px;
      width: 18px;
      height: 20px;
    }
  }

  &__ask-budget {
    text-transform: capitalize;

    @include media-query($small) {
      display: none;
    }
  }

  &__bag-menu {
    margin-left: 20px;
    position: relative;
    margin-right: 10px;
    svg {
      width: 23px;
    }
    span {
      position: absolute;
      background-color: $green-light;
      border-radius: 100%;
      padding: 2px 4px;
      color: $white;
      display: flex;
      align-items: center;
      font-size: 9px;
      top: -7px;
      right: -7px;
    }
  }

  &__lower {
    width: 100%;
    position: relative;
    height: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0px 20px;

    @include media-query($large-up) {
      background-color: $green-dark;
      height: 45px;
    }
  }

  &__fold {
    position: absolute;
    right: 0;
    top: 100%;
    left: 0;
    height: 0;
    background: $beige-light;
    transition: height $transition-duration $transition-timing;
    transform: translateZ(0);
  }

  &__menu {
    width: 100%;
  }

  &__menu-overlay {
    content: " ";
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all $transition-duration $transition-timing;

    ._menu-open & {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__menu-holder {
    margin: 0 auto;
    max-width: $max-width-container;
    width: 100%;

    @include media-query($medium-down) {
      position: fixed;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      pointer-events: none;

      ._menu-open & {
        pointer-events: all;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
  
      @include media-query($large-up) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
      }
  
      li {
        list-style: none;
      }
    }

    .header__dropmenu ul {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    a {
      text-decoration: none;
      text-decoration: underline solid transparent;

      @include media-query($large-up) {
        z-index: 1;
        margin-left: 50px;
      }

      &:hover {
        text-decoration: $white;
        text-decoration: underline solid $white;
      }
    }
  }

  &__first-level {
    margin-bottom: 15px;

    @include media-query($medium-down) {
      position: relative;
      // margin-bottom: 3rem;
      margin-bottom: 0;
      padding: 0 20px 15px !important;

      // &:first-child  {
      //   padding-top: 20px;
      // }
    }

    @include media-query($large-up) {
      margin-bottom: 0;
    }

    & > a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      position: relative;
      color: $white;
      opacity: 1;
      transition: all $transition-duration $transition-timing;

      svg {
        position: relative;
        top: -1px;
        width: 9px;

        path, g {
          stroke: $white !important;
          fill: $white !important;
        }
      }
  
      @include media-query($large-up) {
        &::before {
          content: " ";
          position: absolute;
          bottom: -2px;
          left: 50%;
          width: 0;
          height: 2px;
          opacity: 0;
          background: $white;
          transform: translateX(-50%);
          transition: all 0.2 $transition-timing;
        }
      }
    }

    &:first-child > a {
      margin-left: 0px;
    }

    &:hover > a {
      text-decoration: none;
      opacity: 0.7;
  
      @include media-query($large-up) {
        &::before {
          //width: 100%;
          opacity: 1;
        }
      }
    }
  }

  &__submenu {
    @include media-query($large-up) {
      position: fixed;
      padding: 50px 0;
      opacity: 0;
      pointer-events: none;
      transition: all 400ms $transition-timing;
      transition-delay: 200ms;
      transform: translate(-50%, -10px);
      left: 50%;

      &.active {
        opacity: 1;
        transition-duration: $transition-duration;
        pointer-events: all;
        transform: translate(-50%, 0px);
        left: 50%;
      }
    }

    @include media-query($medium-down) {
      overflow: hidden;
      height: 0;
      transition: height $transition-duration $transition-timing;

      .header__submenu-column {
        transition: opacity 300ms ease-out;
        opacity: 0;
      }
    }
  }

  ._open {
    background-color: rgba($color: $green-darker, $alpha: 0.3);

    .header__submenu-column, .header__dropmenu-column {
      opacity: 1;
    }

    & > a > svg {
      transform: rotate(180deg);
    }
  }

  &__submenu-title {
    color: $black;
    transition: all $transition-duration $transition-timing;

    @include media-query($large-up) {
      margin-top: 27px;
      margin-bottom: 20px;
      display: block;
    }

    &:hover {
      color: $green;
    }
  }

  &__submenu-image {
    display: none;

    @include media-query($large-up) {
      display: block;
      padding-top: 0;
      max-width: 173px;
      max-height: 97px;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  &__submenu-column {
    @include media-query($large-up) {
      margin-right: 25px;
      min-width: 150px;
    }

    @include media-query($medium-down) {
      &:first-child {
        padding-top: 10px;
      }
      
      // &:last-child a {
      //   margin-bottom: 22px !important;
      // }
    }

    .header__submenu-items {
      display: flex;
      flex-direction: column;

      a {
        color: $dark-grey;
        margin-bottom: 10px;
        display: block;
        transition: color $transition-duration $transition-timing;

        &:hover {
          color: $green;
        }
      }
    }

    li {
      margin: 6px 0;
    }

    a {
      font-size: 14px;
      margin-left: 0px;
    }
  }

  &__dropmenu {
    @include media-query($large-up) {
      position: fixed;
      padding: 40px 0;
      opacity: 0;
      pointer-events: none;
      transition: all 400ms $transition-timing;
      transition-delay: 200ms;
      transform: translateY(-10px);
      background-color: $beige-light;
      margin-top: 0px;
      margin-left: -4px;
      min-width: 255px;

      &.active {
        opacity: 1;
        transition-duration: $transition-duration;
        pointer-events: all;
        transform: translateY(0);
      }

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $beige-light;
        border-width: 5px;
        margin-left: -5px;
      }
    }

    @include media-query($medium-down) {
      overflow: hidden;
      height: 0;
      transition: height $transition-duration $transition-timing;

      .header__dropmenu-column {
        transition: opacity 300ms ease-out;
        opacity: 0;
      }
    }
  }

  &__dropmenu-column {
    @include media-query($large-up) {
      padding: 0 35px;
      min-width: 150px;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include media-query($medium-down) {
      &:first-child {
        padding-top: 10px;
      }
    }

    li {
      margin: 6px 0;
    }

    a {
      font-size: 14px;
      margin-left: 0px;
      transition: all $transition-duration $transition-timing;

      &:hover {
        color: $green;
      }
    }
  }

  nav {
    @include media-query($medium-down) {
      position: absolute;
      overflow-y: auto;
      z-index: 10;
      top: 0;
      right: 0;
      width: 450px;
      max-width: 100%;
      height: 100vh;
      background: $green-dark;
      transform: translateX(100%);
      transition: transform $transition-duration $transition-timing;
      padding: 0;
      flex-direction: column;
      display: flex;


      ._menu-open & {
        transform: translateX(0);
      }

      // a {
      //   display: block;
      // }

      > ul {
        flex: 1;

        & > li {
          padding: 0 20px;

          & > a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            padding: 15px 0 0;

            svg {
              transition: transform $transition-duration $transition-timing;
            }
          }

          li {
            padding: 0 15px;
          }
        }
      }

      .header__submenu-title, .header__dropmenu-title {
        color: rgba($color: $white, $alpha: 0.7);
        font-size: 13px;
        font-weight: 400;
        margin: 12px 0 12px;
        display: block;
      }
      
      .header__submenu-items {
        display: none;
      }
    }
  }

  &__mobile-menu-toggle {
    position: relative;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: 15px;

    @include media-query($large-up) {
      display: none;
    }

    .header__open {
      transition: all 300ms ease-out 200ms;

      ._menu-open & {
        opacity: 0;
        transition: all 300ms ease-out 0s;
      }

      svg {
        fill: $black;
        width: 100%;
        height: 100%;
      }
    }

    .header__close {
      position: absolute;
      top: 12px;
      left: 12px;
      opacity: 0;
      transition: all 300ms ease-out 0s;

      ._menu-open & {
        opacity: 1;
        transition: all 300ms ease-out 200ms;
      }
    }
  }

  &__mobile-footer {
    display: block;
    padding-bottom: 50px;

    @include media-query($large-up) {
      display: none;
    }
  }

  &__footer-up {
    ul {
      padding: 15px 0 35px 20px;
      
      & > li {
        &:first-child {
          border-top: 1px solid rgba($color: $light-grey, $alpha: 0.1);
        }

        & > a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 13px;
          font-weight: 400;
          padding: 15px 0 0;
          color: rgba($color: $white, $alpha: 0.7);
          text-decoration: unset !important;

        }
      }
    }
  }

  &__footer-lower {
    ul {
      background-color: $green;
      padding: 30px 0 15px 20px;

      @include media-query($medium-down) {
        padding: 10px 0 15px 20px;
      }
      
      & > li {
        border-bottom: 1px solid rgba($color: $light-grey, $alpha: 0.1);

        & > a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          padding: 15px 0;
          color: rgba($color: $beige-light, $alpha: 1.0);
          text-decoration: unset !important;
        }
      }
    }
  }

  &__social-container {
    background-color: $green;
    padding: 15px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .modal-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $white;
    top: 0;
    left: 0;
    z-index: 101;
    padding: 70px;
    transition: all 0.2s;

    @include media-query($medium-down) {
      padding: 40px;
    }

    @include media-query($small) {
      padding: 40px 20px 20px;
    }

    &._hide {
      opacity: 0;
      left: 100%;
    }

    .modal-box__close {
      position: absolute;
      top: 50px;
      right: 50px;
      cursor: pointer;
      z-index: 50;

      @include media-query($medium-down) {
        top: 20px;
        right: 20px;
      }

      @include media-query($small) {
        top: 10px;
        right: 10px;
      }

      & > * {
        pointer-events: none;
      }

      svg {
        transform: rotate(45deg);
      }
    }
  }
}