.newsletter {
  width: 100%;
  max-width: $width-content;
  margin: 60px auto;
  background-color: $green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 8px;

  @include media-query($medium-down) {
    margin: 0 auto;
    border-radius: 0;
  }

  &__title {
    color: $white;
    font-size: 30px;
    font-weight: 800;
    margin: 0 auto;

    @include media-query($medium-down) {
      font-size: 22px;
      max-width: 230px;
    }
  }

  &__subtitle {
    color: $white;
    font-size: 16px;
    line-height: 22px;
    font-size: 400;
    margin: 10px auto 20px;

    @include media-query($medium-down) {
      font-size: 13px;
      line-height: 17px;
      max-width: 240px;
    }
  }

  &__confirm-message {
    color: $white;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  &__form {
    position: relative;
    width: 400px;
    overflow: hidden;
    border: 0;

    @include media-query($medium-down) {
      max-width: 400px;
      width: 100%;
    }

    .errors ul {
      padding: 0;
      font-family: $font-body;
      color: $white;
      list-style-type: none;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }

    input[type="email"]::placeholder {
      font-size: 14px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
      height: 100%;
      border: 0;
      border-radius: 0;
      background-color: #dce8e2;
      padding: 6px 15px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-out;

      @include media-query($medium-down) {
        border-radius: 4px;
        position: unset;
        width: 100%;
        height: 40px;
      }

      &:hover {
        background-color: #c45529;
        
        span {
          color: $white
        }
      }

      // @include media-query($medium-down) {
      //   // position: relative;
      //   // top: unset;
      //   // right: unset;
      //   display: block;
      //   justify-content: unset;
      //   align-items: unset;
      //   position: absolute;
      //   top: 10px;
      //   right: 10px;
      // }

      span {
        color: $green;
        font-family: $font-title;
        text-transform: capitalize;
        font-weight: 500;
        transition: all 0.2s ease-out;
      }
    }
  }

  &__form-content {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }

  &__input {
    height: 30px;
    width: 400px;
    border: 0;
    padding: 5px 131px 5px 10px;

    @include media-query($medium-down) {
      border-radius: 4px;
      height: 40px;
      padding: 10px 15px;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  & > div:first-child {
    text-align: center;
  }
}
