.product {
  width: 100%;

  &__container {
    width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
  }

  &__content {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;
    padding: 40px 0 0;
  }

  &__upper-section {
    display: flex;
    margin-bottom: 50px;

    @include media-query($small-down) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 23px;
    }

    @include media-query($big-down) {
      justify-content: flex-end;
    }
  }

  &__media-container {
    width: 100%;
    max-width: 566px;
    margin-right: 25px;
    position: relative;

    @include media-query($big-down) {
      // max-width: 480px;
      // max-height: 480px;
      max-width: 450px;
      max-height: 480px;
    }

    @include media-query($largest-down) {
      max-width: 450px;
      max-height: 450px;
    }

    @include media-query($medium-down) {
      max-height: 382px;
      max-width: 360px;
    }

    @include media-query($small-down) {
      margin-right: 0;
      margin-bottom: 25px;
    }

    @include media-query($smallest) {
      max-height: 288px;
      max-width: 278px;
    }
  }

  &__media-current {
    width: 100%;
    // height: 500px;
    // overflow: hidden;
    // max-height: 500px;
    border-radius: 8px;
    
    @include media-query($medium-down) {
      display: none;
    }

    img {
      border-radius: 8px;
      cursor: url('../assets/img/icon-zoom.png'), auto;
    }
  }

  &__thumbnail-container {
    position: absolute;
    top: 0;
    left: -100px;
    overflow-y: auto;
    width: calc(74px + 18px);

    @include media-query($medium-down) {
      position: relative;
      top: unset;
      left: unset;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      padding-bottom: 30px;
    }

    @include media-query($small-down) {
      padding-bottom: 22px;
    }

    @include media-query($smallest) {
      padding-bottom: 31px;
    }

    @include media-query($large-up) {
      .swiper-wrapper {
        display: block;
      }
    }

    .swiper-wrapper {
      max-height: 450px;

      @include media-query($medium-down) {
        max-height: 360px;
      }

      @include media-query($smallest) {
        max-height: 266px;
      }
    }
  }

  &__thumbnail-item {
    width: 74px;
    height: 74px;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;

    @include media-query($medium-down) {
      width: 100%;
      height: 100%;
    }
    
    div, img {
      width: 100%;
      height: 100%;
    }
  }

  &__thumbnail-image {
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all $transition-duration $transition-timing;

    @include media-query($large-up) {
      &:hover {
        border-color: $dark-grey;
      }
  
      ._active & {
        border-color: $orange;
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query($large-up) {
      display: none;
    }
  }

  &__bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba($color: $black, $alpha: 0.6);
    transition: all $transition-duration $transition-timing;

    &::before {
      content: "";
      border: 1px solid rgba($color: $black, $alpha: 0.6);
      width: 16px;
      height: 16px;
      position: absolute;
      left: -4px;
      top: -4px;
      border-radius: 100%;
      opacity: 0;
      transition: opacity $transition-duration $transition-timing;
    }
  }

  &__bullet-active {
    background-color: rgba($color: $black, $alpha: 1);

    &::before {
      opacity: 1;
    }
  }

  &__info-container {
    width: 100%;
    max-width: 470px;
    flex: 1;
            
    @include media-query($big-down) {
      max-width: 360px;
    }

    h1 {
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      color: $black;
      margin: 0 0 15px;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 27px;
        margin: 0 0 5px;
      }
    }
  }

  &__review-container {
    display: flex;
    align-items: center;
  }

  &__best-seller-sticker {
    padding: 4px 6px;
    background-color: $dark-mustard;
    text-transform: uppercase;
    font-size: 10px;
    color: $white;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 10px;

    &.mobile{
      display: none;
      @include media-query($medium-down) {
        // display: block;
        display: none;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
      }
    }

    &.desktop{
      @include media-query($medium-down) {
        display: none;
      }
    }
  }

  &__review-stars {
    margin-right: 10px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $light-grey;
    margin: 20px auto;
  }

  &__price-container {

  }

  &__price-full {
    color: $light-grey;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    margin-right: 15px;
  }

  &__price-discount {
    color: $green-light;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
  }

  &__submit-container {
    margin: 30px 0;
    width: 100%;

    @include media-query($medium-down) {
      margin: 25px 0;
    }
  }

  &__quantity-container {
    position: relative;
    width: 120px;
    height: 40px;
    border: 1px solid $light-grey;
    border-radius: 4px;
    margin-right: 20px;
  }

  &__quantity-wrapper {
    margin: 20px 0 0;
    display: flex;

    @include media-query($small-down) {
      flex-direction: column;
    }

    button {
      text-transform: none;
      padding: 0 13px !important;
      height: 40px;

      @include media-query($small-down) {
        flex: none !important;
        margin-top: 18px;
      }

      svg {
        width: 24px;
        margin-right: 12px;
      }

      svg path {
        fill: $white !important;
      }
    }
  }

  &__variant-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-right: 20px;
  }

  &__variant-item-special {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__variant-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    position: relative;
    width: 100%;

    .product__variant-item-special & {
      width: 120px;
      margin-right: 20px;
      margin-bottom: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    label {
      font-family: $font;
      font-size: 16px;
      line-height: 22px;
      color: $black;
      font-weight: 700;
      margin-bottom: 3px;

      @include media-query($medium-down) {
        font-size: 14px;
      }
    }

    select {
      width: 100%;
      font-family: $font;
      font-size: 14px;
      line-height: 22px;
      color: $dark-grey;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid $light-grey;
      padding: 10px;
      height: 42px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    svg {
      position: absolute;
      width: 9px;
      height: 5px;
      bottom: 17px;
      right: 10px;
    }
  }
  
  &__note-container {
    width: 100%;
    display: flex;

    span {
      font-size: 14px;
      line-height: 17px;
      color: $dark-grey;
      margin-left: 15px;

      @include media-query($medium-down) {
        font-size: 13px;
      }
    }

    svg {
      width: 80px;
    }
  }

  &__lower-section {
    @include media-query($small-down) {
      padding-bottom: 40px;
    }
  }

  &__tab-titles {
    position: relative;
    padding: 15px 0;

    @include media-query($small-down) {
      display: none;
    }
  }

  &__tab-border {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: $light-grey;
    z-index: 0;
  }

  &__tab-item {
    position: relative;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0 15px 15px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $dark-grey;
    transition: all $transition-duration $transition-timing;
    
    @include media-query($medium-down) {
      font-size: 16px;
      line-height: 19px;
    }

    &.mobile {
      display: none;
      color: #747474;
      margin-top: 15px;
      margin-right: 0;
      border-bottom: 1px solid #d8d8d8;
      padding: 0 0 15px;
      opacity: 0.5 !important;

      @include media-query($small-down) {
        display: flex;
        justify-content: space-between;

        &._active-tab {
          color: #747474;
        }

        &:after { 
          content: none;
        }
      }

      .open {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-out;

        &._active-tab {
          display: block;
          opacity: 1;
        }

        svg {
          width: 10px;

          path {
            fill: rgba($color: $black, $alpha: 1) !important;
          }
        }
      }

      .close {
        display: none;
        opacity: 0;
        width: 12px;
        transition: opacity 0.5s ease-out;

        &._active-tab {
          display: block;
          opacity: 1;
        }
      }
    }

    &::after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      background: $green;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      z-index: 1;
    }

    &:hover:after { 
      width: 100%; 
      left: 0; 

      @include media-query($small-down) {
        width: 0; 
      }
    }

    &._active-tab {
      color: $black;

      &:after { 
        width: 100%; 
        left: 0; 
      }
    }
  }

  &__tab-content {
    position: relative;
    padding: 25px 0;
    opacity: 1;
    display: block;
    transition: opacity $transition-duration $transition-timing;

    @include media-query($medium-down) {
      padding: 15px 0;
    }

    & > h4 {
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      color: $black;
      margin: 0 0 20px;
    }

    p {
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: $dark-grey;
    }

    &._hide {
      position: absolute;
      opacity: 0;
      display: none;
    }
  }

  &__content-table {
    width: 100;
    background-color: $beige-light;
    margin-top: 10px;
    padding: 30px;
  }

  &__content-row {
    width: 100%;
    max-width: 568px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0;

    &:last-child {
      border: 0;
    }
  }

  &__item-title {
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    color: $black;
    margin-right: 20px;
    text-align: right;
    width: 50%;
    padding-left: 10px;

    @include media-query($medium-down) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__item-description {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: $dark-grey;
    text-align: left;
    width: 50%;
    padding-right: 10px;
    
    @include media-query($medium-down) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__text-format {
    p, span, li, td {
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: $dark-grey;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    th {
      font-size: 17px;
      line-height: 26px;
      font-weight: 700;
      color: $dark-grey;
      margin: 0;
            
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    a {
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: $green-light;
      margin: 0;
            
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    table {
      max-width: 600px;

      @include media-query($small-down) {
        max-width: 400px;
      }

      @include media-query($smallest) {
        max-width: 300px;
      }
    }
  }

  &__custom-details-container {
    width: 100%;
    margin: 0px auto;
    padding: 20px 0;

    @include media-query($medium-down) {
      padding: 0;
    }
  }

  &__custom-details-item {
    width: 100%;
    margin: 20px auto;
  }

  &__custom-details-item-quote {
    width: 100%;
    margin-bottom: 30px;

    h2 {
      font-size: 25px;
      line-height: 36px;
      font-weight: 700;
      color: $black;
      margin: 0 auto;
      text-align: center;
      max-width: 80%;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  &__custom-details-item-text {
    width: 100%;
    margin-bottom: 30px;

    h1, h2, h3 {
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    h4, h5, h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    p, span, li {
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      color: $dark-grey;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    a {
      color: $green-light;
      font-weight: 400;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    li {
      @include media-query($medium-down) {
        margin-bottom: 10px;
      }
    }

    iframe {
      width: 100%;
      min-height: 487px;
    }

    table {
      width: 100%;
      max-width: 100%;
      float: none;

      // @include media-query($small-down) {
      //   max-width: 400px;
      // }

      // @include media-query($smallest) {
      //   max-width: 300px;
      // }
    }
  }

  &__custom-details-item-image-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;
      
      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }

  &__custom-details-item-image-container {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 25px;

    &.product__columns-1 {
      grid-template-columns: repeat( 1, 1fr );
    }

    &.product__columns-2, &.product__columns-4 {
      grid-template-columns: repeat( 2, 1fr );

      @include media-query($small-down) {
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    &.product__columns-3, &.product__columns-5, &.product__columns-6 {
      grid-template-columns: repeat( 3, 1fr );

      @include media-query($medium-down) {
        column-gap: 15px;
        row-gap: 15px;
      }

      @include media-query($small-down) {
        grid-template-columns: repeat( 2, 1fr );
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    .product__custom-details-item-image img {
      max-height: 420px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        max-height: 236px;
      }
  
      @include media-query($small-down) {
        max-height: 128px;
      }
    }
  }
  
  &__custom-details-item-image-banner {
    .product__custom-details-item-image img {
      flex: none;
      min-height: 487px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        height: 236px;
        min-height: unset;
      }
  
      @include media-query($small-down) {
        height: 158px;
      }
    }
  }

  &__custom-details-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      flex: 1;
      width: 100%;
      border-radius: 8px;
    }

    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;
      
      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }

  &__custom-details-item-video{
    iframe {
      width: 100%;
      min-height: 487px;

      @include media-query($medium-down) {
        min-height: unset;
      }
  
      @include media-query($small-down) {
        max-height: 236px;
      }
    }
  }

  &__custom-details-item-green-link-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

    @include media-query($small) {
      flex-direction: column;
      align-items: center;
    }

    &.length-1, &.length-2 {
      justify-content: center;
    }

    &.length-1 {
      .product__custom-details-item-link {
        margin-right: 0;
      }
    }

    .product__custom-details-item-link {
      height: 40px;
      width: 100%;
      max-width: 272px;
      background-color: $green;
      border-radius: 4px;

      &:not(:last-child) {
        margin-right: 25px;

        @include media-query($small) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        padding: 0 12px 0 20px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          width: 11px;
          height: 11px;
          background-image: url('../assets/img/icon-arrow.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &__lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity $transition-duration $transition-timing;

    &._show {
      z-index: 10;
      opacity: 1;
    }
  }

  &__lightbox-container {
    width: 100%;
    height: 100%;
  }

  &__lightbox_slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lightbox_slide-image {
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url('../assets/img/icon-zoom-close.png'), auto;
  }

  &__wrapper-questions {
    .faq-item {
      padding: 22px 0 25px;
      border-bottom: 1px solid #d8d8d8;

      @include media-query($medium-down) {
        padding: 15px 0;
      }

      .colapsible {
        cursor: pointer;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;

        a {
          font-family: $font;
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
          color: $black;
          text-decoration: unset;
          display: flex;
          justify-content: space-between;

          @include media-query($medium-down) {
            font-size: 14px;
            line-height: 23px;
          }

          .open {
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease-out;

            &._active {
              display: block;
              opacity: 1;
            }

            svg {
              width: 10px;

              path {
                fill: rgba($color: $black, $alpha: 1) !important;
              }
            }
          }

          .close {
            display: none;
            opacity: 0;
            width: 12px;
            transition: opacity 0.5s ease-out;

            &._active {
              display: block;
              opacity: 1;
            }
          }
        }
      }

      .colapsible-content {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        p {
          padding: 13px 0 0;
          margin: 0;
          font-family: $font;
          font-size: 16px;
          line-height: 30px;
          color: $black;

          @include media-query($medium-down) {
            font-size: 14px;
            line-height: 23px;
          }
        }

        h1, h2, h3, h4, h5, p, span {
          a {
            color: $green;
            text-decoration: none;
          }
        }
      }
    }
  }

}