.products-column {
  @include media-query($medium-down) {
    padding: 45px 20px;
  }

  h3 {
    @include media-query($medium-down) {
      font-size: 22px;
      line-height: 27px;
      margin: 0 0 40px;
      text-align: center;
    }
  }

  &__container {
  }

  &__product {
    padding: 0 0 20px;
    border-bottom: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-query($medium-down) {
      padding: 0 0 15px;
      justify-content: flex-start;
    }

    @include media-query($large-up) {
      &:first-child {
        display: block;
      }
    }
    
    &:not(:last-child) {
      margin-bottom: 20px;

      @include media-query($medium-down) {
        margin-bottom: 15px;
      }
    }
  }

  &__product-image {
    position: relative;
    width: 100%;
    width: 98px;
    height: 98px;
    margin-right: 15px;
    pointer-events: none;

    @include media-query($large-up) {
      &.link {
        width: 272px;
        height: 262px;
        margin-right: 0;
        transform: scale(1);
        transition: transform $transition-duration $transition-timing;
        pointer-events: visible;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .responsive-image__wrapper {
      height: 100%;
    }

    img {
      border-radius: 8px;
    }
  }

  &__button {
    display: none;

    @include media-query($large-up) {
      position: absolute;
      bottom: 20px;
      display: block;
      width: 100%;
      max-width: calc(100% - 40px);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity $transition-duration $transition-timing;

      .products-column__product-image.link:hover & {
        opacity: 1;
      }
    }
  }

  &__product-content {
    max-width: 170px;
    .products-block__product.first & {
      max-width: 100%;
    }

    h4, h4 a {
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 5px;
      text-decoration: none;
      color: $black;
      transition: color $transition-duration $transition-timing;

      .products-column__product:not(:first-child):hover & {
        color: $green;
      }

      .products-column__product:first-child:hover & {
        pointer-events: none;
        color: $black;

        @include media-query($medium-down) {
          color: $green;
          pointer-events: visible;
        }
      }

      @include media-query($large-up) {
        .products-column__product:first-child & {
          font-family: $font;
          font-weight: 500;
          margin-top: 15px;
        }
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      color: $green;
    }
  }
}
