.related-articles {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 85px 20px 55px;
  background-color: $beige-light;
  box-shadow: 0 5px 20px #0000000d;

  &__container {
    position: relative;
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
  }

  &__title {
    h2 {
      font-size: 30px;
      line-height: 36px;
      color: $black;
      text-align: center;
      margin: 0 0 45px;
    }
  }

  &__blog {
    display: flex;
  }

  &__post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% / 3);
    padding-right: 25px;
    border-radius: 10px;
    overflow: hidden;

    @include media-query($medium-down) {
      max-width: 100%;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0px;
    }
  }

  &__post-image {
    height: 210px;

    .responsive-image__wrapper {
      height: 100%;
      max-width: 100% !important;
      max-height: 100% !important;
      border-top-right-radius: 10px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
      }
    }
  }

  &__info {
    flex: 1;
    padding: 25px;
    background-color: $white;
    border-bottom-right-radius: 10px;

    h3 a {
      font-size: 25px;
      line-height: 29px;
      color: $black;
      margin: 0 0 5px;
      text-decoration: none;

      &:hover {
        color: $green;
      }
    }

    p {
      font-size: 16px;
      line-height: 23px;
      font-weight: 300;
      color: $black;
      margin: 0;
    }
  }

  &__tags-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  &__tag {
    border-radius: 4px;
    border: 1px solid rgba($color: $grey-stroke, $alpha: 0.4);
    padding: 5px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: $dark-grey;
    font-size: 13px;
  }
}
