// Colors
$white: #ffffff;
$black: #302F2C;
$almost-white: #fafafa;
$light-grey: #E6E3E0;
$lighter-grey: #E7EAEE;
$grey: #cccccc;
$background-grey: #F0F0F0;
$grey-stroke: #DDDDDD;
$dark-grey: #747474;
$mustard: #D1AE40;
$dark-mustard: #D6A200;
$orange: #C45529;
$green: #13663D;
$green-footer: #23372B;
$green-footer-copy: #1B2921;
$green-dark: #22372B;
$green-darker: #232323;
$green-light: #0F9249;
$green-fluorescent: #90BF44;
$beige-light: #FBF8F6;

// Text colors
$color-body-text: #302F2C;

// Background colors
$color-body: transparent;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-border: $light-grey;

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-title: "Rubik", "sans-serif";
$font: "Inter", "sans-serif";

$font-heading: $font-title;
$font-body: $font;
$font-body-weight: 400;
$font-body-style: normal;
$font-body-bold-weight: 700;

// Transitions
$transition-duration: 750ms;
$transition-timing: cubic-bezier(0.18, 1, 0.21, 1);

// Grid
$grid-small: 500px;
$grid-medium: 46.85em;
$grid-large: 61.85em; // 989px
$grid-largest: 1025px;
$grid-big: 1220px;
$grid-widescreen: 87.5em;
$grid-large-screen: 1660px;
$grid-max-width: 100%;
$grid-gutter: 24px;
$half-gutter: 12px;
$mobile-gutter: 20px;

// Breakpoints used with the media-query mixin
$smallest: 'smallest';
$small: 'small';
$small-down: "small-down";
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$largest-down: 'largest-down';
$big-down: 'big-down';
$widescreen: 'widescreen';
$large-screen: "large-screen";

$breakpoints: (
  $smallest '(max-width: #{$grid-small})',
  $small '(max-width: #{$grid-medium - 1})',
  $small-down "(max-width: #{$grid-medium})",
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $largest-down '(max-width: #{$grid-largest})',
  $big-down '(max-width: #{$grid-big})',
  $widescreen '(min-width: #{$grid-widescreen})',
  $large-screen "(min-width: #{$grid-large-screen})",
);

// widths
$max-width-container: 1366px;
$max-width-content: 1162px;
$width-content: 964px;

// Header height
$header-height: 151px;
$header-height-scrolled: 151px;
$header-mobile-height: 107px;
$announcement-bar-height: 41px;
$announcement-bar-mobile-height: 41px;

// Footer height
$footer-height: 16.9rem;