.error-page {
  width: 100%;
  margin: 70px auto;
  padding: 0 20px;
 
  &__container {
    margin: 0 auto;
    width: 100%;
    //max-width: $width-content;
    max-width: 1162px;
    display: flex;

    @include media-query($medium-down) {
      flex-wrap: wrap;
      max-width: 480px;
    }
  }

  &__img-container {
    width: 100%;
    max-width: 371px;
    position: relative;
    margin: 0 0 30px 30px;

    @include media-query($medium-down) {
      margin: 0 auto 30px;
      //max-width: calc( 100% - 30px);
      left: 9px;
    }

    @include media-query($smallest) {
      max-width: calc( 100% - 30px);
    }

    & > div {
      border-radius: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -30px;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 1px solid $grey-stroke;

      @include media-query($medium-down) {
        top: 20px;
        left: -20px;
      }
    }
  }

  &__text-container {
    flex: 1;
    margin-left: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 480px;

    @include media-query($medium-down) {
      width: 100%;
      padding: 0 10px 0 20px;
      margin-right: 0;
      min-width: unset;
      margin-top: 40px;
      margin-left: 0;
    }

    h1 {
      font-size: 60px;
      color: $green;
      margin-top: 0;
      margin-bottom: 20px;
    }

    h2 {
      margin: 0 auto 20px;
      max-width: 500px;
    }

    p {
      margin: 0 0 35px
    }

    .link-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      grid-column-gap: 40px;
      align-items: flex-start;
      max-width: 500px;
      margin: 0 auto;

      @include media-query($small) {
        grid-template-columns: 1fr;
      }

      .link svg {
        margin-left: 15px;
      }
    }
  }
}
