.article-block {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px 45px;
  background-color: $white;
  box-shadow: 0 5px 20px #0000000d;

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
  }

  &__container-header {
    h1 {
      margin: 0 auto 8px;
      max-width: 870px;
      text-align: center;
      font-size: 40px;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    ul {
      padding: 0;
      margin: 0 auto 15px;
      width: fit-content;
      list-style: none;

      @include media-query($medium-down) {
        margin: 0 auto 10px;
      }
    }

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: $dark-grey;
      min-height: 32px;
      padding: 0 15px;
      border: 1px solid $light-grey;
      border-radius: 4px;
      margin-bottom: 5px;

      @include media-query($medium-down) {
        font-size: 10px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    .author-date {
      font-size: 14px;
      color: $dark-grey;
      text-align: center;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 11px;
        line-height: 15px;
      }

      span {
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: $green-light;
        display: inline-block;
        margin: 2px 15px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0 0;

    @include media-query($medium-down) {
      margin: 15px 0 0;
      flex-direction: column;
    }
  }

  &__wrapper-sidebar {
    width: 100%;
    max-width: 270px;
    height: fit-content;
    margin-left: 25px;

    @include media-query($medium-down) {
      margin-left: 0;
      height: fit-content;
      border: 1px solid $light-grey;
      border-radius: 8px;
      max-width: unset;
      background-color: $beige-light;
      padding: 15px 20px;
    }
  }

  &__tags {
    margin-bottom: 45px;

    @include media-query($medium-down) {
      margin-bottom: 0;
    }

    &.open {
      .init:after {
        transform: rotate(180deg);
      }
    }

    .init {
      display: none;
      position: relative;
      cursor: pointer;

      @include media-query($medium-down) {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: $black;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.2s ease-out;
        width: 11px;
        height: 6px;
        background-image: url('../assets/img/icons-arrow-down.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    h3 {
      font-size: 18px;
      margin: 0 0 25px;

      @include media-query($medium-down) {
        display: none;
      }
    }

    .article-categories {
      @include media-query($medium-down) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      a {
        position: relative;
        width: fit-content;
        padding-left: 12px;
        display: block;
        text-decoration: unset;
        color: $dark-grey;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        transition: color 100ms ease-out;

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        @include media-query($medium-down) {
          width: 100%;
          padding-left: 0;
          line-height: 17px;
          margin-top: 15px;
          
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
                
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          background-image: url('../assets/img/triangle.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          @include media-query($medium-down) {
            content: none;
          }
        }

        &._active {
          font-size: 16px;
          font-weight: 700;
          color: $black;
          pointer-events: none;

          @include media-query($medium-down) {
            font-size: 14px;
            //display: none;
          }
        }
      }
    }
  }

  &__products {
    @include media-query($medium-down) {
      display: none;
    }
  }

  &__wrapper-content {
    width: 100%;

    .hero-banner {
      min-height: 487px;
      border-radius: 8px;

      @include media-query($medium-down) {
        height: 236px;
        min-height: unset;
      }
  
      @include media-query($small-down) {
        height: 158px;
      }
    }

    @include media-query($medium-down) {
      margin-top: 20px;
    }
  }

  &__custom-details-container {
    width: 100%;
    margin: 0px auto;
    padding: 20px 0;

    @include media-query($medium-down) {
      padding: 10px 0;
    }
  }

  &__custom-details-item {
    width: 100%;
    margin: 20px auto;

    &.not-empty-content {
      h1, h2, h3, h1 span, h2 span, h3 span {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        color: $black;
        margin: 0;

        @include media-query($medium-down) {
          font-size: 18px;
          line-height: 23px;
        }
      }
  
      h4, h5, h6, h4 span, h5 span, h6 span {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: $black;
        margin: 0;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 23px;
        }
      }
  
      p, p span {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: $black;
        margin: 0;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 23px;
        }
      }
  
      a, a span {
        color: $green-light;
        font-weight: 400;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 23px;
        }
      }
  
      li {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 15px;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 23px;
          margin-bottom: 10px;
        }
      }
  
      blockquote {
        margin: 0;
      }
    }
  }

  &__custom-details-item-quote {
    width: 100%;
    margin-bottom: 30px;

    h2 {
      font-size: 25px;
      line-height: 36px;
      font-weight: 700;
      color: $black;
      margin: 0 auto;
      text-align: center;
      max-width: 80%;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  &__custom-details-item-text {
    width: 100%;
    margin-bottom: 30px;

    h1, h2, h3 {
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: $black;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    h4, h5, h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $black;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    p {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: $black;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    a {
      color: $green-light;
      font-weight: 400;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    li {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 15px;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;
      }
    }

    iframe {
      width: 100%;
      min-height: 487px;
    }
  }

  &__custom-details-item-image-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;

      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }

  &__custom-details-item-image-container {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 25px;

    &.article-block__columns-1 {
      grid-template-columns: repeat( 1, 1fr );
    }

    &.article-block__columns-2, &.article-blockt__columns-4 {
      grid-template-columns: repeat( 2, 1fr );

      @include media-query($small-down) {
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    &.article-block__columns-3, &.article-block__columns-5, &.article-block__columns-6 {
      grid-template-columns: repeat( 3, 1fr );

      @include media-query($medium-down) {
        column-gap: 15px;
        row-gap: 15px;
      }

      @include media-query($small-down) {
        grid-template-columns: repeat( 2, 1fr );
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    .article-block__custom-details-item-image img {
      max-height: 420px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        max-height: 236px;
      }
  
      @include media-query($small-down) {
        max-height: 128px;
      }
    }
  }

  &__custom-details-item-image-banner {
    .article-block__custom-details-item-image img {
      flex: none;
      min-height: 487px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        height: 236px;
        min-height: unset;
      }
  
      @include media-query($small-down) {
        height: 158px;
      }
    }
  }
  
  &__custom-details-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      flex: 1;
      width: 100%;
      border-radius: 8px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }

    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;

      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }

  &__custom-details-item-video{
    iframe {
      width: 100%;
      min-height: 487px;

      @include media-query($medium-down) {
        min-height: unset;
      }
  
      @include media-query($small-down) {
        max-height: 236px;
      }
    }
  }

  &__custom-details-item-green-link-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

    @include media-query($small) {
      flex-direction: column;
      align-items: center;
    }

    &.length-1, &.length-2 {
      justify-content: center;
    }

    &.length-1 {
      .article-block__custom-details-item-link {
        margin-right: 0;
      }
    }

    .article-block__custom-details-item-link {
      height: 40px;
      width: 100%;
      max-width: 272px;
      background-color: $green;
      border-radius: 4px;

      &:not(:last-child) {
        margin-right: 25px;

        @include media-query($small) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        padding: 0 12px 0 20px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          width: 11px;
          height: 11px;
          background-image: url('../assets/img/icon-arrow.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &__wrapper-form {
    width: 100%;
    margin: 100px auto 0;
    background-color: $white;

    @include media-query($medium-down) {
      margin: 56px auto 0;
    }

    h3 {
      margin: 0 0 25px;
      font-size: 22px;
      line-height: 27px;

      @include media-query($medium-down) {
        margin: 0 0 15px;
        font-size: 18px;
        line-height: 22px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .form-container-name-email {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @include media-query($small) {
          flex-wrap: wrap;
        }

        .form-name {
          width: 48%;
          margin-right: 28px;
          display: flex;
          flex-direction: column;

          @include media-query($small) {
            width: 100%;
            margin-right: 0;
          }
        }

        .form-email {
          width: 48%;
          display: flex;
          flex-direction: column;

          @include media-query($small) {
            width: 100%;
          }
        }
      }

      p {
        font-size: 13px;
        color: $dark-grey;
        margin: 0 0 5px;

        @include media-query($medium-down) {
          font-size: 10px;
          margin: 0 0 15px;
        }
      }

      .form-container-btn {
        position: relative;
        display: flex;
        justify-content: flex-end;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 11px;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background-image: url('../assets/img/icon-arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        @include media-query($small) {
          justify-content: center;
        }
      }

      label {
        font-family: $font;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 32px;
        }
      }

      input, textarea {
        margin: 0 0 10px;
        padding: 10px;
        outline: none;
        border-radius: 4px;
        border-color: $light-grey;
        background-color: $beige-light;
      }

      textarea {
        height: 158px;
      }

      input[type="email"], input[type="text"] {
        height: 58px;

        @include media-query($medium-down) {
          height: 50px;
        }
      }

      input[type="submit"] {
        height: 40px;
        width: 198px;
        margin: 0;
        background-color: $green;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        transition: background-color 200ms ease-out;

        &:hover {
          background-color: $green-light;
        }
      }
    }
  }

  &__wrapper-comments {
    @include media-query($small-down) {
      margin-top: 55px;
    }

    h3 {
      margin: 0 0 25px;
      font-size: 22px;
      line-height: 27px;

      @include media-query($small-down) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style: none;
    }

    li {
      padding-bottom: 30px;
      border-bottom: 1px solid $light-grey;
      margin-bottom: 30px;

      @include media-query($small-down) {
        padding-bottom: 17px;
        margin-bottom: 17px;
      }
    }

    .author-date {
      font-size: 14px;
      color: $dark-grey;
      margin: 0 0 10px;

      @include media-query($small-down) {
        font-size: 11px;
        line-height: 15px;
      }

      span {
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: $green-light;
        display: inline-block;
        margin: 2px 15px;

        @include media-query($small-down) {
          margin: 2px 7px;
        }
      }
    }

    .comment {
      p {
        font-size: 16px;
        color: $black;
        margin: 0;

        @include media-query($small-down) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  img {
    border-radius: 8px;
  } 

  #shopify-section-newsletter {
    width: 100%;

    .newsletter {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      margin: 0 auto 40px;

      @include media-query($medium-down) {
        flex-direction: column;
      }

      & > div {
        width: 48%;

        @include media-query($medium-down) {
          width: 100%;
        }

        h1 {
          font-size: 18px;
        }

        .newsletter__subtitle {
          font-size: 14px;
          margin: 5px auto 0;

          @include media-query($medium-down) {
            margin: 10px auto 20px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
