.blog-block {
  width: 100%;
  margin: 35px auto 45px;
  background-color: $white;
  padding: 0 20px;

  @include media-query($medium-down) {
    margin: 20px auto 50px;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
    display: flex;
    flex-direction: row-reverse;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__wrapper-sidebar {
    width: 100%;
    max-width: 270px;
    height: fit-content;
    margin-left: 25px;

    @include media-query($medium-down) {
      margin-left: 0;
      height: fit-content;
      border: 1px solid $light-grey;
      border-radius: 8px;
      max-width: unset;
      background-color: $beige-light;
      padding: 15px 20px;
    }
  }

  &__tags {
    margin-bottom: 45px;

    @include media-query($medium-down) {
      margin-bottom: 0;
    }

    &.open {
      .init:after {
        transform: rotate(180deg);
      }
    }

    .init {
      display: none;
      position: relative;
      cursor: pointer;

      @include media-query($medium-down) {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: $black;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.2s ease-out;
        width: 11px;
        height: 6px;
        background-image: url('../assets/img/icons-arrow-down.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    h3 {
      font-size: 18px;
      margin: 0 0 25px;

      @include media-query($medium-down) {
        display: none;
      }
    }

    .blog-categories {
      @include media-query($medium-down) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      a {
        position: relative;
        width: fit-content;
        padding-left: 12px;
        display: block;
        text-decoration: unset;
        color: $dark-grey;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        transition: color 100ms ease-out;
  
        &:not(:last-child) {
          margin-bottom: 25px;
        }
  
        @include media-query($medium-down) {
          width: 100%;
          padding-left: 0;
          line-height: 17px;
          margin-top: 15px;
          
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
                
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          background-image: url('../assets/img/triangle.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
  
          @include media-query($medium-down) {
            content: none;
          }
        }
  
        &._active {
          font-size: 16px;
          font-weight: 700;
          color: $black;
          pointer-events: none;
  
          @include media-query($medium-down) {
            font-size: 14px;
            //display: none;
          }
        }
      }
    }
  }

  &__products {
    @include media-query($medium-down) {
      display: none;
    }
  }

  &__wrapper-list {
    width: 100%;

    @include media-query($medium-down) {
      margin-top: 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: $grid-max-width;
    justify-content: space-between;

    @include media-query($medium-down) {
      #shopify-section-newsletter {
        display: none;
      }
    }
  }

  &__article {
    position: relative;
    width: 50%;
    //height: 236px;
    margin-bottom: 35px;
    padding-bottom: 27px;
    border-bottom: 1px solid #d8d8d8;

    @include media-query($medium-down) {
      width: 100%;
      margin-bottom: 30px;
    }

    &:nth-child(odd) {
      padding-left: 11px;

      @include media-query($medium-down) {
        padding-left: 0;
      }
    }

    &:nth-child(even) {
      padding-right: 11px;

      @include media-query($medium-down) {
        padding-right: 0;
      }
    }

    &.large {
      width: 100%;
      margin-bottom: 40px;
      padding: 0 0 40px;

      @include media-query($medium-down) {
        margin-bottom: 30px;
        padding: 0 0 27px;
      }
    }

    &.margins-2, &.margins-4, &.margins-6 {
      padding-right: 11px;
      padding-left: 0;

      @include media-query($medium-down) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.margins-3, &.margins-5, &.margins-7 {
      padding-left: 11px;
      padding-right: 0;

      @include media-query($medium-down) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__article-image {
    position: relative;
    display: block;
    width: 100%;
    height: 236px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: transform $transition-duration $transition-timing;

    @include media-query($small-down) {
      height: 158px;
    }

    @include media-query($medium-down) {
      margin-bottom: 15px;
    }

    .blog-block__article.large & {
      height: 487px;

      @include media-query($medium-down) {
        height: 236px;
      }

      @include media-query($small-down) {
        height: 158px;
      }
    }

    &:hover {
      transform: scale(1.02);
    }

    .responsive-image__wrapper {
      height: 100%;
      max-width: 100% !important;
      max-height: 100% !important;

      img {
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
        object-fit: cover;
        max-width: 100%;
        border-radius: 8px;
      }
    }
  }

  &__article-content {
    margin-bottom: 15px;

    @include media-query($medium-down) {
      margin-bottom: 5px;
    }

    p, ul {
      margin: 0;
      padding: 0;
      display: inline;
    }

    p {
      color: #666666;

      @include media-query($medium-down) {
        font-size: 11px;
      }
    }

    ul {
      list-style: none;
      margin-right: 10px;
    }

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: $dark-grey;
      min-height: 32px;
      padding: 0 15px;
      border: 1px solid $light-grey;
      border-radius: 4px;
      margin-bottom: 5px;

      @include media-query($medium-down) {
        font-size: 10px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__article-title {
    margin: 0;
    margin-bottom: 15px;

    a {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      text-decoration: none;
      color: #33333a;
      transition: color $transition-duration $transition-timing;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 22px;
      }
  
      &:hover {
        color: $green;
      }
    }
  }

  &__article-excerpt {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 26px;
    color: $dark-grey;

    @include media-query($medium-down) {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 15px;
    }

    p {
      margin: 0;
    }
  }

  &__article-more {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: $green;
    text-decoration: none;

    @include media-query($medium-down) {
      font-size: 14px;
      line-height: 17px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 10.5px;
      height: 10.5px;
      background-image: url('../assets/img/arrow_outline_left.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  #shopify-section-newsletter {
    width: 100%;

    .newsletter {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      margin: 0 auto 30px;

      & > div {
        width: 48%;

        @include media-query($medium-down) {
          width: 100%;
        }

        h1 {
          font-size: 18px;
        }

        .newsletter__subtitle {
          font-size: 14px;
          margin: 5px auto 0;
        }
      }
    }
  }
}

.mobile-only {
  display: none;

  @include media-query($medium-down) {
    display: block;
  }

  .newsletter {
    margin-bottom: 0;
  }
}
