.cart {

  &__container-cart {
    margin: 0 auto;
    max-width: $max-width-content;
    padding: 0 20px;
  }

  &__title {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 30px;
    margin-top: 20px;

    h1 {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      margin: 0;
      color: $black;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light-grey;

    @include media-query($medium-down) {
      border-right: 0;
      border-bottom: 1px solid $light-grey;
      width: 100%;
    }
  }

  &__item-subtotal-container {
    width: 100%;
    max-width: 420px;

    @include media-query($medium-down) {
      max-width: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light-grey;
    margin: 0 60px 0 0;
    padding: 20px 0 20px 0;

    @include media-query($medium-down) {
      margin: 0;
      flex-direction: column;
    }

    &:first-child {
      border-top: 0;
      padding: 0 0 20px 0;
    }
  }

  &__item-image {
    width: 100px;
    height: 100px;

    &._responsive {
      display: none;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: block;
      }
    }
  }

  &__item-info-image {
    display: flex;
    flex: 1;
  }

  &__item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
  }

  &__item-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__options-variant {
    margin-top: 10px;
    color: $grey;

    span {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $black;
      display: block;
      margin-left: 10px;
    }

    button {
      display: none !important;
    }
  }

  &__option-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__item-name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    max-width: 280px;
    padding-right: 20px;
    margin-top: 10px;

    @include media-query($medium-down) {
      margin-top: 0px;
    }
  }

  &__item-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    @include media-query($medium-down) {
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
    }
  }

  &__item-actions {
    display: flex;
    align-items: center;

    .quantity-btn {
      margin: 0;
    }
  }

  &__item-remove {
    margin-right: 20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: $dark-grey;
    transition: all $transition-duration $transition-timing;

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    &._responsive {
      display: none;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: block;
        margin-top: 10px;
      }
    }
  }

  &__item-total-price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: $black;
    font-family: $font-heading;
  }

  &__tax-note {
    margin-top: 25px;

    &._responsive {
      display: none;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: block;
      }
    }
  }
  
  &__shipping-rate {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 20px 0 40px;
    margin: 0 60px 0 0;

    @include media-query($medium-down) {
      margin: 0;
    }

    .cbb-shipping-rates-calculator-change-shipping-address {
      display: none !important;
    }

    .cbb-shipping-rates-calculator-shipping-address-chooser {
      display: flex;
      flex-wrap: wrap;

      @include media-query($small) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }

    .cbb-shipping-rates-error-message {
      padding: 20px !important;
      margin-bottom: 20px !important;
      border: 1px solid #C45529 !important;
      color: #C45529 !important;
      background-color: #FBF8F6 !important;
    }

    select, input {
      font-size: 14px !important;
      line-height: 17px !important;
      color: $black !important;
      font-weight: 700 !important;
      border-radius: 8px !important;
      border: 1px solid $light-grey !important;
      padding: 5px !important;
      height: 42px !important;
      margin-right: 20px !important;

      @include media-query($small) {
        margin-right: 0px !important;
      }
    }

    button {
      border-radius: 4px !important;
      text-decoration: none !important;
      display: inline-flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      border: 0 !important;
      background-color: $green !important;
      color: $white !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      height: 42px;

      @include media-query($small) {
        display: block !important;
      }

      span {
        color: $white !important;
        font-size: 14px !important;
        font-weight: 500 !important;
      }
    }

  }

  &__no-shipping-rate {

    a {
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
      color: $green-light;
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    margin-right: 60px;

    @include media-query($medium-down) {
      margin-right: 0px;
    }

    label {
      font-size: 16px;
      line-height: 40px;
      font-weight: 700;
      color: $black;
    }

    textarea {
      border-radius: 4px;
      border: 1px solid $light-grey;
      background-color: $beige-light;
      padding: 5px;
    }
  }

  &__subtotal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 30px;

    @include media-query($medium-down) {
      padding: 30px 0px 0px 0px;
    }

    h2 {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $black;
    }
  }

  &__total-price {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: $black;
    margin: 10px 0 20px;
    font-family: $font-heading;
  }

  &__price-savings {

  }

  &__shipping-message {
    margin: 20px 0;
    color: $dark-grey;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;

    @include media-query($medium-down) {
      text-align: center;
    }
  }

  &__checkout-container {
    position: relative;

    svg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      path, g {
        stroke: $white !important;
      }
    }
  }

  &__payment-container {
    background-color: $background-grey;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 370px;

    &._responsive {
      display: none;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: flex;
        max-width: 100%;
      }
    }

    span, svg {
      max-width: 60px;
      max-height: 24px;
    }

    span {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &._multibanco-mobile {
        display: none;
      }

      @include media-query($medium-down) {
        &._multibanco-mobile {
          display: block;
        }
        &._multibanco {
          display: none;
        }
      }
    }
  }
  
}