.collection {

  &__title {
    width: 100%;
    background-color: $beige-light;
    padding: 0 20px;

    h1 {
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      color: $black;
      width: 100%;
      margin: 0 auto;

      @include media-query($medium-down) {
        font-size: 20px;
        line-height: 24px;
      }

      @include media-query($smallest) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__title-container {
    max-width: $max-width-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;

    @include media-query($smallest) {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
    }
  }

  &__sort-select {
    padding: 0 10px;
    position: relative;
    width: 220px;

    @include media-query($medium-down) {
      padding: 0;
      display: none;
    }

    select {
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      color: $dark-grey;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid $light-grey;
      padding: 10px;
      height: 42px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    svg {
      position: absolute;
      width: 9px;
      height: 5px;
      bottom: 17px;
      right: 20px;
    }
  }

  &__container {
    width: 100%;
    max-width: $max-width-content;
    display: flex;
    align-items: flex-start;
    margin: 35px auto;
    padding: 0 20px;

    @include media-query($medium-down) {
      margin: 20px auto 35px;
      flex-direction: column;
    }

    @include media-query($small) {
      margin: 10px auto 35px;
    }
  }

  &__filter {
    width: 100%;
    max-width: 270px;
    border: 1px solid $light-grey;
    border-radius: 8px;
    height: auto;
    margin-right: 25px;
    padding: 20px 0 0;

    @include media-query($medium-down) {
      max-width: 100%;
      border: 0;
      border-radius: 0px;
      margin-right: 0px;
      padding: 13px 0 0;
    }
  }

  &__filter-category {
    
  }

  &__filter-open-container {
    display: none;

    @include media-query($medium-down) {
      display: block;
    }
  }
  
  &__filter-open-mobile {
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $light-grey;
    color: $dark-grey;
    text-transform: capitalize;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 10px;
    }
  }

  &__filter-container {

    @include media-query($medium-down) {
      position: fixed;
      top: 0;
      background-color: $white;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      z-index: 20;
      left: 100%;
      opacity: 0;
      transition: all 0.4s;

      &._open-filter {
        left: 0%;
        opacity: 1;
      }
    }
  }

  &__category-title {
    display: block;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: $font-title;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgba($color: $dark-grey, $alpha: 0.5);
    margin-bottom: 10px;

    @include media-query($medium-down) {
      display: none;
    }
  }

  &__category-select {
    padding: 0 10px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;

    @include media-query($medium-down) {
      padding: 0;
    }

    select {
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      color: $dark-grey;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid $light-grey;
      padding: 10px;
      height: 42px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    svg {
      position: absolute;
      width: 9px;
      height: 5px;
      bottom: 17px;
      right: 20px;
    }
  }

  &__group-list {
    margin-bottom: 15px;

    button {
      display: block;
      text-decoration: none;
      color: $dark-grey;
      font-size: 14px;
      padding: 0;
      line-height: 17px;
      font-weight: 500;
      font-family: $font;
      letter-spacing: 0;
      padding: 10px 25px;
      position: relative;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      text-transform: unset;

      &:before {
        left: 15px;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(230, 227, 224, 0);
        border-left-color: $light-grey;
        border-width: 4px;
        margin-top: -4px;
      }

      &._hide {
        display: none;
      }

      &._selected {
        color: $black;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  &__filter-title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $light-grey;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      font-family: $font-title;
      text-transform: uppercase;
      color: rgba($color: $dark-grey, $alpha: 0.5);

      @include media-query($medium-down) {
        color: $black;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        font-family: $font-heading;
      }
    }

    @include media-query($medium-down) {
      background-color: $beige-light;
      border-top: 0;
      border-bottom: 0;
    }
  }

  &__filter-clear-button {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    text-transform: uppercase;
    color: $green-light;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-family: $font-title;

    &._responsive {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: block;
      }
    }
  }

  &__filter-close-button {
    border: 1px solid $light-grey;
    background-color: $white;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      width: 13px;
      height: 13px;
      flex: 1;
      transform: rotate(45deg);
    }

    @include media-query($medium-down) {
      &._responsive {
        display: flex;
      }
    }
  }

  &__filter-results-button {
    border-radius: 8px;
    background-color: $orange;
    color: $white;
    width: calc(100% - 40px);
    height: 40px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
    text-transform: capitalize;
    display: none;

    @include media-query($medium-down) {
      display: block;
    }
  }

  &__filter-options-container {
    position: relative;

    @include media-query($medium-down) {
      padding-top: 40px;
    }
  }

  &__filter-accordion {
    border-bottom: 1px solid $light-grey;

    @include media-query($medium-down) {
      margin: 0 20px;
      border-bottom: 0;
      border-top: 1px solid $light-grey;

      &:nth-child(2) {
        border-top: 0;
      }

      &._open {
        margin: 0;
      }
    }

    &._show:last-child {
      border-bottom: 0;
    }

    &._hide {
      display: none;
    }
  }

  &__accordion-title {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @include media-query($medium-down) {
      padding: 15px 0px;
      ._open & {
        padding: 15px 20px;
        background-color: $beige-light;
        transition: background-color 0.2s;
      }
    }

    & > * {
      pointer-events: none;
    }

    span {
      flex: 1;
    }
  }

  &__accordion-icon {
    width: 12px;
    transition: transform 0.2s;
    ._open & {
      transform: rotate(180deg);
    }
  }

  &__accordion-options {
    padding: 0 20px;
    overflow: hidden;
    height: 0px;
    transition: opacity 0.2s, height 0.2s;
  }

  &__accordion-option {
    margin-bottom: 15px;

    &:first-child {
      margin-top: 15px;
    }

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
      color: #747474;
      font-size: 14px;
      line-height: 17px;
      font-family: $font;
      font-weight: 500;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #E6E3E0;
      background:#FBF8F6;
      border-radius: 2px;
      -webkit-transition: all .275s;
          transition: all .275s;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 4px;
      width: 20px;
      height: 20px;
      background-image: url('../assets/img/icon-check.png');
      background-repeat: no-repeat;
      -webkit-transition: all .2s;
          transition: all .2s;
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
    }

    [type="checkbox"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
    }

    /* Disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #e9e9e9;
    }

    [type="checkbox"]:disabled:checked + label:after {
      color: #777;
    }

    [type="checkbox"]:disabled + label {
      color: #aaa;
    }

  }

  &__filter-price {

  }

  &__description {
    display: none;
    margin-bottom: 25px;
    opacity: 0;
    transition: all .2s;

    &.collection--show {
      display: block;
      opacity: 1;
    }
  }

  &__product-grid-container {
    width: 100%;
  }

  &__product-grid {
    display: grid;
    grid-template-columns: repeat( 3, calc( (100% - 50px) / 3 ) );
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 65px;
    margin-bottom: 30px;

    @include media-query($large-down) {
      grid-template-columns: repeat( 2, calc( (100% - 25px) / 2 ) );
      //align-items: center;
      justify-items: center;
    }

    @include media-query($medium-down) {
      grid-template-columns: repeat( 2, calc( (100% - 20px) / 2 ) );
      column-gap: 20px;
      row-gap: 40px;
    }
  }

  &__product-item {
    max-width: 272px;
    border-radius: 8px;
    overflow: hidden;

    @include media-query($small) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__product-image {
    width: 272px;
    height: 260px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;

    @include media-query($small) {
      width: 100%;
      margin-bottom: 10px;
      height: calc( (100vw - 60px) / 2 );
    }

    img {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  &__product-title {
    display: block;

    @include media-query($small) {
      overflow: hidden;
      max-height: 34px;
    }

    a {
      color: $black;
      text-decoration: unset;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;

      @include media-query($small) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__product-description {
    color: $green;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;

    @include media-query($small) {
      font-size: 12px;
    }
  }
}