.list-collections {
  margin: 60px auto;
  padding: 0 20px;

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( 3, calc( (100% - 50px) / 3 ) );
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 50px;

    @include media-query($medium-down) {
      grid-template-columns: repeat( 2, calc( (100% - 25px) / 2 ) );
    }
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    opacity: 0;
    transition: opacity $transition-duration;
    
    .aos-animate & {
      opacity: 1;
    }
  }

  &__item-image {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
    transition: transform $transition-duration $transition-timing;

    .list-collections__item:hover & {
      transform: scale(1.02);
    }
  }

  &__button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity $transition-duration $transition-timing;

    .list-collections__item:hover & {
      opacity: 1;
    }
  }

  &__item-info {

    h3 {
      color: $black;
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      margin: 18px 0 9px;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

}
