.projects-block {
  width: 100%;
  margin: 35px auto 45px;
  background-color: $white;
  padding: 0 20px;

  @include media-query($medium-down) {
    margin: 20px auto 40px;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
    display: flex;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__wrapper-categories {
    width: 100%;
    max-width: 270px;
    height: fit-content;
    border: 1px solid $light-grey;
    border-radius: 8px;
    margin-right: 25px;
    padding: 20px;

    @include media-query($medium-down) {
      margin-right: 0;
      max-width: unset;
      background-color: $beige-light;
      padding: 15px 20px;
      margin-bottom: 24px;
    }

    &.open {
      .init:after {
        transform: rotate(180deg);
      }
    }

    .init {
      display: none;
      position: relative;
      cursor: pointer;

      @include media-query($medium-down) {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: $black;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.2s ease-out;
        width: 11px;
        height: 6px;
        background-image: url('../assets/img/icons-arrow-down.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .projects-categories {
      @include media-query($medium-down) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      a {
        position: relative;
        width: fit-content;
        padding-left: 12px;
        display: block;
        text-decoration: unset;
        color: $dark-grey;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        transition: color 100ms ease-out;

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        @include media-query($medium-down) {
          width: 100%;
          padding-left: 0;
          line-height: 17px;
          margin-top: 15px;

          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
                
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          background-image: url('../assets/img/triangle.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          @include media-query($medium-down) {
            content: none;
          }
        }

        &._active {
          font-size: 16px;
          font-weight: 700;
          color: $black;

          @include media-query($medium-down) {
            font-size: 14px;
            display: none;
          }
        }
      }
    }
  }

  &__wrapper-list {
    width: 100%;

    .projects-list {
      display: flex;
      flex-wrap: wrap;
      max-width: $grid-max-width;
      justify-content: space-between;

      .project {
        position: relative;
        width: 48.5%;
        height: 236px;
        text-align: center;
        margin-bottom: 55px;
        opacity: 0;
        display: none;
        overflow: hidden;

        @include media-query($medium-down) {
          margin-bottom: 30px;
        }

        @include media-query($small) {
          width: 100%;
        }

        @include media-query($smallest) {
          height: 156px;
        }

        &._active {
          opacity: 1;
          display: block;
          animation: fadeIn 0.5s ease-out;
        }

        @keyframes fadeIn {
          0% {
              display: none;
              opacity: 0;
          }
      
          1% {
              display: block;
              opacity: 0;
          }
      
          100% {
              display: block;
              opacity: 1;
          }
        }

        &:hover {
          .project-main-content .content {
            bottom: 15px;
           // transition: bottom 0.2s ease-out;
          }
          .project-main-content .content .text {
            max-height: 100%;
            opacity: 1;
           // transition: all 0.2s ease-out;
          }

          .project-main-content img {
            opacity: 0;
          }
        }

        .project-main-content {
          position: relative;
          z-index: 1;
          height: 100%;
          display: block;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 50%;
            border-radius: 8px;
            background: transparent linear-gradient(180deg, #302F2C00 0%, #302F2C 100%) 0% 0% no-repeat padding-box;
          }

          img {
            opacity: 1;
            transition: all 0.2s ease-out;
          }

          .content {
            position: absolute;
            bottom: 0;
            left: 15px;
            z-index: 2;
            text-align: left;
            //transition: bottom 0.2s ease-out;
  
            h4 {
              font-size: 18px;
              line-height: 22px;
              font-weight: 700;
              color: $white;
              margin: 0 0 10px;
            }
  
            p {
              font-size: 18px;
              line-height: 22px;
              font-weight: 500;
              color: $white;
              margin: 0;
            }
  
            .text {
              max-height: 0;
              opacity: 0;
              overflow: hidden;
              //transition: all 0.2s ease-out;
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
          max-width: 100%;
        }

        .hover-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: #302F2C;
            opacity: 0.4;
          }
        }
      }

      .highlight-gallery {
        display: none;
      }
    }
  }
}

.lb-outerContainer {
  border-radius: 8px;
  background: rgba(0,0,0,0.8);
  width: 50% !important;

  @include media-query($small) {
    width: 70% !important;
  }
}

.lb-dataContainer {
  display: none !important;
}

.lightbox .lb-image {
  border-radius: 8px;
  border: none;
  width: 100% !important;
  object-fit: cover;
}

.lb-nav a.lb-next {
  position: absolute;
  right: -70px;
  float: none;
  opacity: 0.7;
  background: url('../assets/img/icon-arrow_big_next.svg') right 48% no-repeat;
  transition: opacity $transition-duration $transition-timing;
  
  @include media-query($small) {
    right: -55px;
  }

  &:hover {
    opacity: 1;
  }
}

.lb-nav a.lb-prev {
  position: absolute;
  left: -70px;
  float: none;
  opacity: 0.7;
  background: url('../assets/img/icon-arrow_big_prev.svg') left 48% no-repeat;
  transition: opacity $transition-duration $transition-timing;
  
  @include media-query($small) {
    left: -55px;
  }

  
  &:hover {
    opacity: 1;
  }
}

.lb-loader {
  display: none !important;
}
