.page-generic-block {
  margin: 0 auto;
  width: 100%;
  max-width:  calc(1162px + 40px);
  padding: 80px 20px 45px;

  &__page-content {
    h1, h2, h3, h1 span, h2 span, h3 span {
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: $black;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    h4, h5, h6, h4 span, h5 span, h6 span {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    p, p span {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    a, a span {
      color: $green-light;
      font-weight: 400;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    li {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 15px;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;
      }
    }

    blockquote {
      margin: 0;
    }
  }

  &__custom-details-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    @include media-query($medium-down) {
      padding: 10px 0;
    }
  }
  
  &__custom-details-item {
    width: 100%;
    margin: 20px auto;
  }
  
  &__custom-details-item-quote {
    width: 100%;
    margin-bottom: 30px;
  
    h2 {
      font-size: 25px;
      line-height: 36px;
      font-weight: 700;
      color: $black;
      margin: 0 auto;
      text-align: center;
      max-width: 80%;

      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
  
  &__custom-details-item-text {
    width: 100%;
    margin-bottom: 30px;
  
    h1, h2, h3 {
      font-size: 25px;
      line-height: 35px;
      font-weight: 700;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 18px;
        line-height: 23px;
      }
    }
  
    h4, h5, h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }
  
    p {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: $black;
      margin: 0;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }
  
    a {
      color: $green-light;
      font-weight: 400;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
      }
    }
  
    li {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 15px;
      
      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;
      }
    }
  }
  
  &__custom-details-item-image-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;
      
      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }
  
  &__custom-details-item-image-container {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 25px;
  
    &.page-generic-block__columns-1 {
      grid-template-columns: repeat( 1, 1fr );
    }

    &.page-generic-block__columns-2, &.page-generic-block__columns-4 {
      grid-template-columns: repeat( 2, 1fr );

      @include media-query($small-down) {
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    &.page-generic-block__columns-3, &.page-generic-block__columns-5, &.page-generic-block__columns-6 {
      grid-template-columns: repeat( 3, 1fr );

      @include media-query($medium-down) {
        column-gap: 15px;
        row-gap: 15px;
      }

      @include media-query($small-down) {
        grid-template-columns: repeat( 2, 1fr );
        column-gap: 7px;
        row-gap: 7px;
      }
    }

    .page-generic-block__custom-details-item-image img {
      max-height: 420px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        max-height: 236px;
      }
  
      @include media-query($small-down) {
        max-height: 128px;
      }
    }
  }

  &__custom-details-item-image-banner {
    .page-generic-block__custom-details-item-image img {
      flex: none;
      min-height: 487px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;

      @include media-query($medium-down) {
        height: 236px;
        min-height: unset;
      }
  
      @include media-query($small-down) {
        height: 158px;
      }
    }
  }
  
  &__custom-details-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    img {
      flex: 1;
      width: 100%;
      border-radius: 8px;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
  
    span {
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $dark-grey;
      margin: 25px auto;
      
      @include media-query($medium-down) {
        font-size: 10px;
        line-height: 14px;
        margin: 15px auto;
      }
    }
  }
  
  &__custom-details-item-video{
    iframe {
      width: 100%;
      min-height: 487px;
      
      @include media-query($medium-down) {
        min-height: unset;
      }
  
      @include media-query($small-down) {
        max-height: 236px;
      }
    }
  }
  
  &__custom-details-item-green-link-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    
    @include media-query($small) {
      flex-direction: column;
      align-items: center;
    }
  
    &.length-1, &.length-2 {
      justify-content: center;
    }
  
    &.length-1 {
      .page-generic-block__custom-details-item-link {
        margin-right: 0;
      }
    }
  
    .page-generic-block__custom-details-item-link {
      height: 40px;
      width: 100%;
      max-width: 272px;
      background-color: $green;
      border-radius: 4px;
  
      &:not(:last-child) {
        margin-right: 25px;
        
        @include media-query($small) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
  
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $white;
        padding: 0 12px 0 20px;
  
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          width: 11px;
          height: 11px;
          background-image: url('../assets/img/icon-arrow.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
