.faqs-block {
  width: 100%;
  margin: 35px auto 105px;
  background-color: $white;
  padding: 0 20px;

  @include media-query($medium-down) {
    margin: 20px auto 40px;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
    display: flex;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__wrapper-categories {
    width: 100%;
    max-width: 270px;
    height: fit-content;
    border: 1px solid $light-grey;
    border-radius: 8px;
    margin-right: 25px;
    padding: 20px;

    @include media-query($medium-down) {
      margin-right: 0;
      max-width: unset;
      background-color: $beige-light;
      padding: 15px 20px;
    }

    &.open {
      .init:after {
        transform: rotate(180deg);
      }
    }

    .init {
      display: none;
      position: relative;
      cursor: pointer;

      @include media-query($medium-down) {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        color: $black;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: transform 0.2s ease-out;
        width: 11px;
        height: 6px;
        background-image: url('../assets/img/icons-arrow-down.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .faqs-categories {
      @include media-query($medium-down) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      a {
        position: relative;
        width: fit-content;
        padding-left: 12px;
        display: block;
        text-decoration: unset;
        color: $dark-grey;
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        transition: color 100ms ease-out;

        &:not(:last-child) {
          margin-bottom: 25px;
        }

        @include media-query($medium-down) {
          width: 100%;
          padding-left: 0;
          line-height: 17px;
          margin-top: 15px;

          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
     
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          background-image: url('../assets/img/triangle.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          @include media-query($medium-down) {
            content: none;
          }
        }

        &._active {
          font-size: 16px;
          font-weight: 700;
          color: $black;

          @include media-query($medium-down) {
            font-size: 14px;
            display: none;
          }
        }
      }
    }
  }

  &__wrapper-questions {
    width: 100%;

    .faqs-questions {
      opacity: 0;
      display: none;

      &._active {
        opacity: 1;
        display: block;
        animation: fadeIn 0.5s ease-out;
      }

      @keyframes fadeIn {
        0% {
            display: none;
            opacity: 0;
        }
    
        1% {
            display: block;
            opacity: 0;
        }
    
        100% {
            display: block;
            opacity: 1;
        }
      }

      .faq {
        &:not(:first-child) h3 {
          margin-top: 50px ;

          @include media-query($medium-down) {
            margin-top: 40px ;
          }
        }

        h3 {
          @include media-query($medium-down) {
            margin-top: 20px ;
          }
        }
      }

      h3 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        color: $green;
        margin: 0 ;

        @include media-query($medium-down) {
          font-size: 22px;
          line-height: 27px;
        }
      }

      .faq-item {
        padding: 22px 0 25px;
        border-bottom: 1px solid #d8d8d8;

        @include media-query($medium-down) {
          padding: 15px 0;
        }

        .colapsible {
          cursor: pointer;
          width: 100%;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;

          a {
            font-family: $font;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            color: $black;
            text-decoration: unset;
            display: flex;
            justify-content: space-between;

            @include media-query($medium-down) {
              font-size: 14px;
              line-height: 23px;
            }

            .open {
              display: none;
              opacity: 0;
              transition: opacity 0.5s ease-out;

              &._active {
                display: block;
                opacity: 1;
              }

              svg {
                width: 10px;

                path {
                  fill: rgba($color: $black, $alpha: 1) !important;
                }
              }
            }

            .close {
              display: none;
              opacity: 0;
              width: 12px;
              transition: opacity 0.5s ease-out;

              &._active {
                display: block;
                opacity: 1;
              }
            }
          }
        }

        .colapsible-content {
          padding: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;

          p {
            padding: 13px 0 0;
            margin: 0;
            font-family: $font;
            font-size: 16px;
            line-height: 30px;
            color: $black;

            @include media-query($medium-down) {
              font-size: 14px;
              line-height: 23px;
            }
          }

          h1, h2, h3, h4, h5, p, span {
            a {
              color: $green;
              text-decoration: none;
            }
          }
        }
      }
    }
    
    .faqs-last {
      display: none;
      opacity: 0;

      &._active {
        opacity: 1;
        display: block;
        animation: fadeIn 0.5s ease-out;
      }

      h3 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        color: $green;
        margin: 50px 0 0 ;

        @include media-query($medium-down) {
          font-size: 22px;
          line-height: 27px;
          margin: 40px 0 0 ;
        }
      }

      a {
        color: $green;

        @include media-query($medium-down) {
          font-size: 14px;
          line-height: 23px;
        }
      }
    }
  }
}
