.search {
  margin: 0 auto;
  width: 100%;
  max-width:  calc(1162px + 40px);
  padding: 80px 20px 45px;

  &__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-query($medium-down) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  h1 {
    color: $black;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    padding-right: 20px;

    @include media-query($medium-down) {
      font-size: 18px;
      line-height: 22px;
      margin-top: 0;
      padding-right: 0px;
    }
  }

  form {
    display: flex;

    input[type="search"] {
      width: 400px;
      height: 40px;
      border: 1px solid #E6E3E0;
      border-top-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
      padding: 10px 20px;

      @include media-query($medium-down) {
        max-width: 400px;
        width: 100%;
      }
    }

    button {
      height: 40px;
      background-color: $green;
      border-top-right-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #c45529;
      }
    }
  }

  &__results-wrapper {
    margin: 60px 0;
  }

  &__results-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 30px;
    justify-items: center;

    // @include media-query($large-down) {
    //   grid-template-columns: 1fr 1fr;
    //   //align-items: center;
    //   justify-items: center;
    // }

    @include media-query($medium-down) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-query($small) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    max-width: 272px;
    border-radius: 8px;
    overflow: hidden;

    // @include media-query($small) {
    //   width: 100%;
    //   max-width: 100%;
    // }
  }

  &__item-image {
    width: 272px;
    height: 260px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    // @include media-query($small) {
    //   width: 100%;
    //   margin-bottom: 10px;
    //   height: calc( (100vw - 60px) / 2 );
    // }

    .responsive-image__wrapper {
      max-height: 260px;

      @include media-query($smallest) {
        max-height: 212px;
      }
    }

    img {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  &__item-title {
    display: block;
    margin: 15px 0 5px;

    @include media-query($small) {
      overflow: hidden;
      max-height: 34px;
    }

    a {
      color: $black;
      text-decoration: unset;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;

      @include media-query($small) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__item-description, &__item-description span {
    color: $green;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;

    @include media-query($small) {
      font-size: 12px;
    }
  }
}
