<div class="account">
  <div class="account__container">

    <div class="account__title">
      <h1>Minha conta</h1>
      <div class="account__logout-button">{{ 'Logout' | customer_logout_link }}</div>
    </div>

    <div class="account__wrapper">

      <div class="account__info-container">
        <div class="account__subtitle">
          <h2>Profile</h2>
        </div>
        <span>{{ customer.first_name }} {{ customer.last_name }}</span>
        <span>{{ customer.email }}</span>
      </div>

      <div class="account__address-container">
        <div class="account__subtitle">
          <h2>Address</h2>
        </div>

        {{ customer.default_address | format_address }}

        <a href="/account/addresses" class="account__address-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </div>

      <div class="account__order-container">
        <div class="account__subtitle">
          <h2>{{ 'customer.orders.title' | t }}</h2>
        </div>

        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}
            <div class="account__order-list">
              {% for order in customer.orders %}
                <div class="account__order-line">
                  <div data-label="{{ 'customer.orders.order_number' | t }}" class="account__link-style">{{ order.name | link_to: order.customer_url }}</div>
                  <div data-label="{{ 'customer.orders.date' | t }}" class="account__text-style">{{ order.created_at | date: "%d.%m.%Y" }}</div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

        {% endpaginate %}
      </div>

    </div>
  </div>
</div>
