<div class="addresses">
  <div class="addresses__container">
    {% paginate customer.addresses by 5 %}

      <div class="addresses__title">
        <h1>Address Book</h1>
        <p>
          <a href="/account">Retornar</a>
        </p>
      </div>

      <div class="addresses__list">
        {% for address in customer.addresses %}

          <div class="addresses__content" data-address>
            
            <div class="addresses__show">
              <span class="addresses__name">{{address.first_name}} {{address.last_name}}</span>
              {% if address.company != blank %}<span class="addresses__info">{{address.company}}</span>{% endif %}
              {% if address.address1 != blank %}<span class="addresses__info">{{address.address1}}</span>{% endif %}
              {% if address.address2 != blank %}<span class="addresses__info">{{address.address2}}</span>{% endif %}
              {% if address.city != blank %}<span class="addresses__info">{{address.city}}</span>{% endif %}
              {% if address.country != blank %}<span class="addresses__info">{{address.country}}</span>{% endif %}
              {% if address.province != blank %}<span class="addresses__info">{{address.province}}</span>{% endif %}
              {% if address.zip != blank %}<span class="addresses__info">{{address.zip}}</span>{% endif %}
              {% if address.phone != blank %}<span class="addresses__info">{{address.phone}}</span>{% endif %}

              {% if address == customer.default_address %}
                <span class="addresses__default">(Default)</span>
              {% endif %}
            </div>

            <div class="addresses__action-buttons">
              <button type="button" data-address-toggle>
                {{ 'customer.addresses.edit' | t }}
              </button>
              <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </form>
            </div>

            <div data-address-form class="hide addresses__checkbox-container">
              {% form 'customer_address', address %}
              <div data-address-fields class="address-form addresses__edit-form">
                <h4>Edit Address</h4>
                <div class="addresses__input-wrapper">
                  <label for="AddressFirstName_{{ form.id }}">
                    {{ 'customer.addresses.first_name' | t }}
                  </label>
                  <input type="text"
                        name="address[first_name]"
                        id="AddressFirstName_{{ form.id }}"
                        value="{{ form.first_name }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressLastName_{{ form.id }}">
                    {{ 'customer.addresses.last_name' | t }}
                  </label>
                  <input type="text"
                        name="address[last_name]"
                        id="AddressLastName_{{ form.id }}"
                        value="{{ form.last_name }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressCompany_{{ form.id }}">
                    {{ 'customer.addresses.company' | t }}
                  </label>
                  <input type="text"
                        name="address[company]"
                        id="AddressCompany_{{ form.id }}"
                        value="{{ form.company }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressAddress1_{{ form.id }}">
                    {{ 'customer.addresses.address1' | t }}
                  </label>
                  <input type="text"
                        name="address[address1]"
                        id="AddressAddress1_{{ form.id }}"
                        value="{{ form.address1 }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressAddress2_{{ form.id }}">
                    {{ 'customer.addresses.address2' | t }}
                  </label>
                  <input type="text"
                        name="address[address2]"
                        id="AddressAddress2_{{ form.id }}"
                        value="{{ form.address2 }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressCity_{{ form.id }}">
                    {{ 'customer.addresses.city' | t }}
                  </label>
                  <input type="text"
                        name="address[city]"
                        id="AddressCity_{{ form.id }}"
                        value="{{ form.city }}"
                        autocapitalize="words">

                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <select
                    name="address[country]"
                    id="AddressCountry_{{ form.id }}"
                    class="address-country-option"
                    data-form-id="{{ form.id }}"
                    data-default="{{ form.country }}">
                  </select>

                  <div class="addresses__input-wrapper">
                    <label for="AddressProvince_{{ form.id }}">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    <select
                      name="address[province]"
                      id="AddressProvince_{{ form.id }}"
                      data-default="{{ form.province }}">
                    </select>
                  </div>
                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressZip_{{ form.id }}">
                    {{ 'customer.addresses.zip' | t }}
                  </label>
                  <input type="text"
                        name="address[zip]"
                        id="AddressZip_{{ form.id }}"
                        value="{{ form.zip }}"
                        autocapitalize="characters">
                </div>
                <div class="addresses__input-wrapper">
                  <label for="AddressPhone_{{ form.id }}">
                    {{ 'customer.addresses.phone' | t }}
                  </label>
                  <input type="tel"
                        name="address[phone]"
                        id="AddressPhone_{{ form.id }}"
                        value="{{ form.phone }}"
                        pattern="[0-9\-]*">
                </div>
              </div>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}">
                {{ 'customer.addresses.set_default' | t }}
              </label>

              <div class="addresses__action-edit"> 
                <button type="submit" class="btn btn-orange btn-full-width">{{ 'customer.addresses.update' | t }}</button>
                <button type="button" class="btn btn-transparent btn-full-width" data-address-toggle data-form-id="{{ form.id }}">
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>

              {% endform %}

            </div>
          </div>

        {% endfor %}
      </div>

      <div class="addresses__new-address addresses__checkbox-container" data-address>
        <button type="button" data-address-toggle class="addresses__add-button">Add new address</button>

        <div data-address-form class="hide">
          {% form 'customer_address', customer.new_address %}
            <h2>{{ 'customer.addresses.add_new' | t }}</h2>

            <div data-address-fields class="address-form">
              <div class="addresses__input-wrapper">
                <label for="AddressFirstNameNew">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                name="address[first_name]"
                id="AddressFirstNameNew"
                value="{{ form.first_name }}"
                autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressLastNameNew">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastNameNew"
                      value="{{ form.last_name }}"
                      autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressCompanyNew">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                      name="address[company]"
                      id="AddressCompanyNew"
                      value="{{ form.company }}"
                      autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressAddress1New">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                      name="address[address1]"
                      id="AddressAddress1New"
                      value="{{ form.address1 }}"
                      autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressAddress2New">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                      name="address[address2]"
                      id="AddressAddress2New"
                      value="{{ form.address2 }}"
                      autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressCityNew">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                      name="address[city]"
                      id="AddressCityNew"
                      value="{{ form.city }}"
                      autocapitalize="words">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressCountryNew">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <select
                  name="address[country]"
                  id="AddressCountryNew"
                  data-default="{{ form.country }}">
                </select>
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressProvinceNew">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <select
                  name="address[province]"
                  id="AddressProvinceNew"
                  data-default="{{ form.province }}">
                </select>
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressZipNew">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                      name="address[zip]"
                      id="AddressZipNew"
                      value="{{ form.zip }}"
                      autocapitalize="characters">
              </div>
              <div class="addresses__input-wrapper">
                <label for="AddressPhoneNew">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                      name="address[phone]"
                      id="AddressPhoneNew"
                      value="{{ form.phone }}"
                      pattern="[0-9\-]*">
              </div>
            </div>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">
              {{ 'customer.addresses.set_default' | t }}
            </label>

            <div class="addresses__add-actions">
              <button type="submit" class="btn btn-orange btn-medium">{{ 'customer.addresses.add' | t }}</button>
              <button type="button" class="btn btn-transparent btn-medium" data-address-toggle>
                {{ 'customer.addresses.cancel' | t }}
              </button>
            </div>
          {% endform %}
        </div>
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}
  </div>
</div>