<div class="login" data-role="login">
  <div class="form-success hide" data-reset-success>
    {{ 'customer.recover_password.success' | t }}
  </div>

  <div class="login__login-container" data-login-form>
    {% form 'customer_login' %}
      <div class="login__title">
        <h1>Entrar</h1>
      </div>

      {{ form.errors | default_errors }}

      <div class="login__input-wrapper">
        <label for="CustomerEmail">
          E-mail
        </label>
        <input type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="E-mail"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              autofocus>
      </div>

      {% if form.password_needed %}
        <div class="login__input-wrapper">
          <label for="CustomerPassword">
            Palavra-passe
          </label>
          <input type="password"
                name="customer[password]"
                id="CustomerPassword"
                class="{% if form.errors contains 'password' %}input-error{% endif %}"
                placeholder="Palavra-passe">
        </div>
      {% endif %}

      {% if form.password_needed %}
        <a href="#recover" class="login__recover-link" data-recover-toggle>Esqueceu sua palavra-passe?</a>
      {% endif %}

      <input type="submit" class="button btn btn-orange btn-full-width login__login-button" value="Entrar">

      <a href="/account/register" class="login__create-link">
        Criar Conta
      </a>
      
    {% endform %}
  </div>

  <div class="hide login__recover-container" data-recover-form>
    <div class="login__title">
      <h2>Repor sua palavra-passe</h2>
    </div>
    <p>Nós lhe enviaremos um e-mail para repor sua palavra-passe.</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <span class="hide" data-form-state></span>
      {% endif %}

      <div class="login__input-wrapper">
        <label for="RecoverEmail">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
              name="email"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
      </div>

      <input type="submit" class="button btn btn-orange btn-full-width login__login-button" value="{{ 'customer.recover_password.submit' | t }}">

      <button type="button" class="button btn btn-transparent btn-full-width login__login-button" data-recover-toggle>
        Cancelar
      </button>
    {% endform %}

  </div>

  {% if shop.checkout.guest_login %}
    <h2>{{ 'customer.login.guest_title' | t }}</h2>

    {% form 'guest_login' %}
      <input type="submit" class="button btn btn-orange btn-full-width login__login-button" value="{{ 'customer.login.guest_continue' | t }}">
    {% endform %}
  {% endif %}
</div>