{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}
<div class="order">
  <div class="order__container">

    <div class="order__title">
      <h1>Order {{ order.name }}</h1>
      <p><a href="/account">Retornar</a></p>
    </div>

    <span class="order__date">
      {%- assign newDate = order.created_at | date: "%b %d, %Y %I:%M%P" -%}
      {%- include 'date-translate', dateString:newDate language:'Portuguese' -%}
    </span>

    {% if order.cancelled %}
      {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
    {% endif %}

    <div class="order__content">
      <div class="order__info">

        {% if order.cancelled %}
          {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
          <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        {% endif %}

        <div class="order__list">
          {% for line_item in order.line_items %}
            <div id="{{ line_item.key }}" class="order__item">
              <div class="order__item-image">
                {% if line_item.image != blank %}
                  <a href="{{ line_item.url | within: collections.all }}">
                    {{ line_item | img_url: '240x240' | img_tag: line_item.title }}
                  </a>
                {% endif %}
              </div>
              <div class="order__item-info">
                <div class="order__item-name">
                  {{ line_item.product.title }}
                </div>
                <div class="order__item-options">

                  <div class="order__item-info-qtd">
                    <span class="order__item-qtd">
                      {{ line_item.quantity }} x
                    </span>
                    {% unless line_item.product.has_only_default_variant %}
                      {% for option in line_item.options_with_values %}
                        <span>{{ option.name }} {{ option.value }}</span>
                      {% endfor %}
                    {% endunless %}
                  </div>
                  <span class="order__item-price">
                    {{ line_item.final_price | money }}
                  </span>
                  
                </div>
                {% if line_item.fulfillment %}
                  <div class="order__item-fulfillment">
                    <div class="order__date-fulfillment">
                      {{ 'customer.order.fulfilled_at' | t }}
                      {{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}
                    </div>
                    <div class="order__tracking-info">
                      {% if line_item.fulfillment.tracking_url %}
                        <a href="{{ line_item.fulfillment.tracking_url }}">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      {% endif %}

                      {% if line_item.fulfillment.tracking_number %}
                        : {{ line_item.fulfillment.tracking_number }}
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
              
            </div>
          {% endfor %}
        </div>
      
        <div class="order__status-row">
          <div class="order__payment-row">
            <span>{{ 'customer.order.payment_status' | t }}:</span>
            <span>{{ order.financial_status_label }}</span>
          </div>
          <div class="order__fulfillment-row">
            <span>{{ 'customer.order.fulfillment_status' | t }}:</span>
            <span>{{ order.fulfillment_status_label }}</span>
          </div>
        </div>

        <div class="order__totals">
          <div class="order__sub-totals">
            <div class="order__sub-total-line">
              <span class="label">{{ 'customer.order.subtotal' | t }}</span> 
              <span class="value">{{ order.line_items_subtotal_price | money }}</span>
            </div>
            {% for discount in order.discounts %}
              <div class="order__sub-total-line">
                <span class="label">{{ discount.code }} {{ 'customer.order.discount' | t }}</span> 
                <span class="value">{{ discount.savings | money }}</span>
              </div>
            {% endfor %}
            {% for shipping_method in order.shipping_methods %}
              <div class="order__sub-total-line">
                <span class="label">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</span>
                <span class="value">{{ shipping_method.price | money }}</span>
              </div>
            {% endfor %}
            {% for tax_line in order.tax_lines %}
              <div class="order__sub-total-line">
                <span class="label">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span>
                <span class="value">{{ tax_line.price | money }}</span>
              </div>
            {% endfor %}
          </div>
          <div class="order__total">
            <span class="label">{{ 'customer.order.total' | t }}</span>
            <span class="value">{{ order.total_price | money }}</span>
          </div>
        </div>

      </div>

      <div class="order__address">

        <div class="order__address-block">
          <h3>{{ 'customer.order.billing_address' | t }}</h3>

          <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>

          {{ order.billing_address | format_address }}
        </div>
        
        <div class="order__address-block">
          <h3>{{ 'customer.order.shipping_address' | t }}</h3>

          <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>

  </div>
</div>