<div class="register">
  <div class="register__register-container">
    <div class="register__title">
      <h1>{{ 'customer.register.title' | t }}</h1>
    </div>  
    {% form 'create_customer' %}
      {{ form.errors | default_errors }}

      <div class="register__input-wrapper">
        <label for="FirstName">
          Nome
        </label>
        <input type="text"
          name="customer[first_name]"
          id="FirstName"
          placeholder="Nome"
          autofocus
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
      </div>

      <div class="register__input-wrapper">
        <label for="LastName">
          Sobrenome
        </label>
        <input type="text"
          name="customer[last_name]"
          id="LastName"
          placeholder="Sobrenome"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
      </div>

      <div class="register__input-wrapper">
        <label for="Email">
          E-mail
        </label>
        <input type="email"
          name="customer[email]"
          id="Email"
          class="{% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="E-mail"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">
      </div>

      <div class="register__input-wrapper">
        <label for="CreatePassword">
          Palavra-passe
        </label>
        <input type="password"
          name="customer[password]"
          id="CreatePassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="Palavra-passe">
      </div>

      <p>
        <input type="submit" value="Criar" class="button btn btn-orange btn-full-width register__create-button">
      </p>

      <a href="{{ shop.url }}" class="register__return-link">Retornar à loja</a>
    {% endform %}
  </div>
</div>