.bold_options_loaded { 
  margin: 25px 0;

  .bold_option_element {
    margin: 10px 0 5px 0;
    display: block;
    position: relative;
  }

  .bold_option_checkbox label {
    display: inline-block;
    margin-top: 10px;

    .bold_option_element {
      display: inline-block;
      margin: 0 10px 0 0;
      height: 12px;
      width: 12px;

      input[type="checkbox"] {
        height: 12px;
        width: 12px;
      }
    }
  }

  .bold_option_dropdown {
    .bold_option_element {
      margin-left: 0;

      &:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 5px;
        bottom: 17px;
        right: 10px;
        background: url('../assets/img/icons-arrow-down.png');
      }
    }
  }

  select {
    width: 100%;
    font-family: $font;
    font-size: 14px;
    line-height: 22px;
    color: $dark-grey;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid $light-grey;
    padding: 10px;
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.bold_option_title { 
  font-size: 16px;
  font-weight: 700 !important;
  color: $black;

  @include media-query($medium-down) {
    font-size: 14px;
  }
}

.bold_option_value_price, .bold_option_value_title { 
  font-size: 16px !important;
  font-weight: 700 !important;
  color: $black;
  margin-bottom: 10px;

  @include media-query($medium-down) {
    font-size: 14px;
  }
}

.bold_option_total > div { 
  text-align: left !important;
  padding-left: 0 !important;

  span {
    color: #079247 !important;
  }
}

.bold_help_text {
  font-style: italic;
  color: #848484;
  display: inline;
}

bold_cart_edit_button, button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #079247;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 13px; 
}
