<div class="error-page__container">
  <div class="error-page__img-container">
    {% include 'responsive-image' with
      image: section.settings.page_image,
      max_width: 538,
      max_height: 471
    %}
  </div>
  <div class="error-page__text-container">
    <h1>Oops!</h1>
    <h2>{{ section.settings.main_title }}</h2>
    <p>{{ section.settings.intro_links }}</p>
    <div class="link-grid">
      {% for block in section.blocks %}
        <a class="link" href="{{ block.settings.page_url }}">
          {{ block.settings.page_title }}
          {% include 'icon-arrow.svg' %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404 page content",
    "settings": [
      {
        "type": "image_picker",
        "id": "page_image",
        "label": "Page Image"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Title",
        "default": "Não estamos a conseguir encontrar a página que procura."
      },
      {
        "type": "text",
        "id": "intro_links",
        "label": "Links Intro",
        "default": "Mas temos aqui alguns links que poderão ser úteis:"
      }
    ],
    "blocks": [{
		"name": "Pages",
		"type": "custom",
		"settings": 
      [
        {
          "type": "text",
          "id": "page_title",
          "label": "Page title",
          "default": "Page title"
        },
        {
          "type": "url",
          "id": "page_url",
          "label": "Page URL"
        }
      ]
	  }],
    "presets": [{
      "name": "404 page content",
      "category": "error page"
    }]
  }
{% endschema %}