<section class="articles-column" data-section-id="{{ section.id }}" data-section-type="articles-columnt" data-role="articles-column">
  {% if section.settings.column_title != blank %}
    <h3>{{ section.settings.column_title }}</h3>
  {% endif %}

  {% for block in section.blocks %}

    {% assign article_item = articles[block.settings.article] %}

    <div class="articles-column__article">
      {% if article_item.image %}
        <div class="articles-column__article-image">
          {% include 'responsive-image' with
            image: article_item.image,
            max_width: '200',
            max_height: '200',
            allow_oversize
          %}
        </div>
      {% endif %}
      <div class="articles-column__article-content">
        {% if block.settings.article_subtitle != blank %}
          <span>{{ block.settings.article_subtitle }}</span>
        {% endif %}
        {% if article_item.title != blank %}
          <h4><a href="{{ article_item.url }}">{{ article_item.title }}</a></h4>
        {% endif %}
      </div>
    </div>

  {% endfor %}
</section>

{% schema %}
  {
    "name": "Articles Column",
    "settings": [
      {
        "type": "text",
        "id": "column_title",
        "label": "Column title",
        "default": "Artigos mais Vistos"
      }
    ],
    "blocks": [
      {
        "name": "Text Blocks",
        "type": "custom",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          },
          {
            "type": "text",
            "id": "article_subtitle",
            "label": "Subtitle",
            "default": "Dicas"
          }
        ]
	    }
    ],
    "presets": [{
      "name": "Articles Column",
      "category": "Blog"
    }]
  }
{% endschema %}
