<section class="contact-form-block" data-section-id="{{ section.id }}" data-section-type="contact-form-block" data-role="contact-form-block" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  <div class="contact-form-block__container">

    <div class="contact-form-block__wrapper-empty"></div>
    <div class="contact-form-block__wrapper-form">
      <h3>Formulário de Contactos</h3>
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

        <label for="ContactFormMessage">Mensagem</label>
        <textarea rows="10"
          name="contact[body]"
          id="ContactFormMessage"
          placeholder="">
          {%- if form.body -%}
            {{- form.body -}}
          {%- endif -%}
        </textarea>

        <div class="form-container-name-email">
          <div class="form-name">
            <label for="ContactFormName">Nome</label>
            <input type="text"
              name="contact[name]"
              id="ContactFormName"
              placeholder=""
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>

          <div class="form-email">
            <label for="ContactFormEmail">Email</label>
            <input type="email"
              name="contact[email]"
              id="ContactFormEmail"
              placeholder=""
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
          </div>
        </div>

        <div class="form-container-btn">
          <input type="submit" class="button" value="Enviar">
        </div>

      {% endform %}
    </div>
  </div>
</section>

{% comment %} {% schema %}
  {
    "blocks": [
      {
        "type": "fifth-section",
        "name": "Fifth Section",
        "settings": [
          {
            "type":      "select",
            "id":        "type_faq",
            "label":     "Text",
            "options": [
              {
              "value": "sub-category",
              "label": "Sub-Category"
              },
              {
              "value": "question",
              "label": "Question"
              }
            ],
            "default":   "question",
            "info":      "Text"
          },
          {
            "id": "question",
            "type": "text",
            "label": "Question / Sub-Category Title"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %} {% endcomment %}