<footer class="footer" data-role="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  
  <div class="footer__container">
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      {% for link in linklists[footer_linklist].links %}
        <div class="footer__column">
          <span class="footer__column-title" data-action="open-footer"><a href="{{ link.url }}">{{ link.title }}</a>{% include 'icon-close.svg' %}</span>
          
          <div class="footer__column-desktop">
            {% for childlink in link.links limit:6 %}
              <span class="footer__column-subtitle"><a href="{{ childlink.url }}">{{ childlink.title }}</a></span>
            {% endfor %}

            {% if link.links.size >= 7 %}
              <div class="footer__extra-items" data-role="extra-{{forloop.index}}">
                {% for childlink in link.links offset:6 %}
                  <span class="footer__column-subtitle"><a href="{{ childlink.url }}">{{ childlink.title }}</a></span>
                {% endfor %}
              </div>
              <span class="footer__column-subtitle">
                <a href="#" data-action="extra-{{forloop.index}}">Mais Produtos<span> +</span></a>
              </span>
            {% endif %}
          </div>

          <div class="footer__column-mobile" data-role="open-mobile">
            {% for childlink in link.links %}
              <span class="footer__column-subtitle"><a href="{{ childlink.url }}">{{ childlink.title }}</a></span>
            {% endfor %}
          </div>

          {% if forloop.index == 2 %}
            {%- assign social_accounts = 'Facebook, Twitter, YouTube, Instagram, Pinterest,' | split: ', ' -%}
            <div class="footer__social-container">
              {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                {% if settings[social_link] != blank %}
                  <span>
                    <a href="{{ settings[social_link] }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                      {% include social_icon %}
                    </a>
                  </span>
                {% endif %}

              {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
        <div class="footer__column footer__column-contact">
          <span class="footer__column-title"><a href="#">Contactos</a></span>
          <div>
            {% if settings.contact_number != blank %}
              <span>
                <a href="tel:{{settings.contact_number}}">
                  {% include 'icon-phone' %}
                  {{ settings.contact_number }}
                </a>
              </span>
            {% endif %}
            {% if settings.contact_number_alt != blank %}
              <span class="footer__column-without-icon">
                <a href="tel:{{settings.contact_number_alt }}">
                  {{ settings.contact_number_alt }}
                </a>
              </span>
            {% endif %}
            {% if settings.contact_schedule != blank %}
              <span class="footer__column-without-icon">
                {{ settings.contact_schedule }}
              </span>
            {% endif %}
          </div>
          <div> 
            {% if settings.contact_email != blank %}
              <span>
                <a href="mailto:{{settings.contact_email}}" class="_email">
                  {% include 'icon-email' %}
                  {{ settings.contact_email }}
                </a>
              </span>
            {% endif %}
          </div>
          <div>
            {% if settings.contact_address1 != blank %}
              <span>
                {% include 'icon-location' %}
                {{ settings.contact_address1 }}
              </span>
            {% endif %}
            {% if settings.contact_address2 != blank %}
              <span class="footer__column-without-icon">
                {{ settings.contact_address2 }}
              </span>
            {% endif %}
            {% if settings.contact_address3 != blank %}
              <span class="footer__column-without-icon">
                {{ settings.contact_address3 }}
              </span>
            {% endif %}
          </div>

          {% if settings.contact_whatsapp != blank %}
            <div>
                <a href="{{ settings.contact_whatsapp_url }}">
                  {% include 'icon-whatsapp' %}
                  {{ settings.contact_whatsapp }}
                </a>
            </div>
          {% endif %}
          {% if settings.contact_whatsapp2 != blank %}
            <div class="footer__special-div">
                <a href="{{ settings.contact_whatsapp2_url }}">
                  {% include 'icon-whatsapp' %}
                  {{ settings.contact_whatsapp2 }}
                </a>
            </div>
          {% endif %}

          <div class="footer__special-div">
            {% if settings.contact_label_cta1 != blank %}
              <a href="{{ settings.contact_url_cta1 }}" class="link link-arrow-left link-green-fluorescent">
                {% include 'icon-arrow.svg' %}
                {{ settings.contact_label_cta1 }}
              </a>
            {% endif %}
          </div>
          <div class="footer__special-div">
            {% if settings.contact_label_cta2 != blank %}
              <a href="{{ settings.contact_url_cta2 }}" class="link link-arrow-left link-green-fluorescent">
                {% include 'icon-arrow.svg' %}
                {{ settings.contact_label_cta2 }}
              </a>
            {% endif %}
          </div>

          <div class="footer__social-container _responsive">
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <span>
                  <a href="{{ settings[social_link] }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {% include social_icon %}
                  </a>
                </span>
              {% endif %}

            {% endfor %}
          </div>

        </div>
    {% endif %}
  </div>

  {% comment %} {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul> {% endcomment %}

  {% comment %} {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %} {% endcomment %}

  <div class="footer__container-copyright">
    <div class="footer__copyright">
      <span class="first">&copy; {{ 'now' | date: "%Y" }} Grass4You.</span>
      <span class="second">Todos os Direitos Reservados</span>
      <a href="https://www.eae.pt/" target="_blank">{% include 'tailored-eae.svg' %}</a>
    </div>
    <div class="footer__payment-container">
      {% if section.settings.show_payment_icons %}
        {% assign enabled_payment_types = 'paypal,visa,master,mbway,multibanco' | remove: ' ' | split: ',' %}
        {% for type in enabled_payment_types %}

          {%- assign payment_handle = type | handleize -%}
          {% capture payment_icon %}icon-{{ payment_handle }}{% endcapture %}

          <span>
            {% include payment_icon %}
          </span>
        {% endfor %}
      {% endif %}
      <a href="{{ settings.url_claims }}" class="footer__claims-container" target="_blank">
      </a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
