<section class="grid-pages-section grid-pages" data-section-id="{{ section.id }}" data-section-type="grid-pages" data-role="grid-pages" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  {% include 'grid-pages' %}
</section>

{% schema %}
  {
    "name": "Grid Pages",
    "settings": [
      {
        "type": "text",
        "id": "title_grid_section",
        "label": "Title Section",
        "default": "Serviços Adicionais"
      }
    ],
    "blocks": [{
		"name": "Pages",
		"type": "custom",
		"settings": 
      [
        {
          "type": "image_picker",
          "id": "page_image",
          "label": "Page Image"
        },
        {
          "type": "text",
          "id": "page_title",
          "label": "Item title",
          "default": "Page title"
        },
        {
          "type": "url",
          "id": "page_url",
          "label": "Page URL"
        }
      ]
	  }],
    "presets": [{
      "name": "Grid Pages",
      "category": "General"
    }]
  }
{% endschema %}