<section class="grid-product-section grid-product" data-section-id="{{ section.id }}" data-section-type="grid-product-section" data-role="grid-product-section" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">
  {% include 'grid-product' %}
</section>

{% schema %}
  {
    "name": "Grid Product",
    "settings": [
      {
        "type": "text",
        "id": "title_section",
        "label": "Title Section",
        "default": "Os nossos produtos"
      },
      {
        "type": "text",
        "id": "subtitle_section",
        "label": "Subtitle Section",
        "default": "Com apenas um único click pode transformar o seu jardim, pátio ou varanda, sem ter que sair de casa. Facilidade na compra e entrega rápida."
      }
    ],
    "blocks": [{
		"name": "Products",
		"type": "custom",
		"settings": 
      [
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item Image"
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Item title",
          "default": "Item title"
        },
        {
          "type": "text",
          "id": "item_subtitle",
          "label": "Item subtitle",
          "default": "Item subtitle"
        },
        {
          "type": "url",
          "id": "item_url",
          "label": "Item URL"
        }
      ]
	  }],
    "presets": [{
      "name": "Grid Product",
      "category": "Homepage"
    }]
  }
{% endschema %}
