<section 
  class="header-banner-section header-banner" 
  data-section-id="{{ section.id }}" 
  data-section-type="header-banner-section" 
  data-role="header-banner-section" 
>
  {% include 'header-banner' %}
</section>

{% schema %}
  {
    "name": "Header Banner Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "column_image_left",
        "label": "Column image left"
      },
      {
        "type": "text",
        "id": "column_title_left",
        "label": "Column title left",
        "default": "Envios Rápidos"
      },
      {
        "type": "text",
        "id": "column_subtitle_left",
        "label": "Column subtitle left",
        "default": "Garantimos entrega e montagem até 5 dias úteis"
      },
      {
        "type": "image_picker",
        "id": "column_image_center",
        "label": "Column image center"
      },
      {
        "type": "text",
        "id": "column_title_center",
        "label": "Column title center",
        "default": "SOS Relvado"
      },
      {
        "type": "text",
        "id": "column_subtitle_center",
        "label": "Column subtitle center",
        "default": "O seu relvado está com problemas? Fale connosco no Whatsapp"
      },
      {
        "type": "image_picker",
        "id": "column_image_right",
        "label": "Column image right"
      },
      {
        "type": "text",
        "id": "column_title_right",
        "label": "Column title right",
        "default": "Visitas Gratuitas"
      },
      {
        "type": "text",
        "id": "column_subtitle_right",
        "label": "Column subtitle right",
        "default": "Fazemos visitas ao local para levantamento das suas necessidades"
      }
    ],
    "blocks": [{
		"name": "Slider Banner",
		"type": "custom",
		"settings": 
      [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide image"
        },
        {
          "type": "image_picker",
          "id": "slide_image_mobile",
          "label": "Slide image mobile"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slide title",
          "default": "Slide title"
        },
        {
          "type": "text",
          "id": "slide_subtitle",
          "label": "Slide subtitle",
          "default": "Slide subtitle"
        },
        {
          "type": "text",
          "id": "slide_cta",
          "label": "Slide CTA Button",
          "default": "Saber Mais"
        },
        {
          "type": "url",
          "id": "slide_cta_url",
          "label": "Slide CTA URL"
        }
      ]
	  }],
    "presets": [{
      "name": "Header Banner Section",
      "category": "Homepage"
    }]
  }
{% endschema %}
