{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section class="header" data-section-id="{{ section.id }}" data-section-type="header" data-role="header-menu">
  <!-- START ANNOUNCEMENT -->
  {%- if section.settings.announcement_bar_enabled -%}
    {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
      <div class="header__announcement-bar" data-role="announcement-bar">
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}
  <!-- START ANNOUNCEMENT -->

  <header role="banner">
    <div class="header__contact-bar">
      <span>
        {% include 'icon-phone.svg' %}
        <a href="tel:{{ settings.phone_number }}">{{ settings.phone_number }}</a>
      </span>
      <span class="desktop">
        <a href="mailto:{{ settings.settings.email }}">{{ settings.email }}</a>
      </span>
      <span class="desktop">
        <a href="{{ settings.url_link }}">{{ settings.link_text }}</a>
      </span>
      <span class="mobile">
        <a href="{{ settings.url_link }}">{{ settings.link_text }}</a>
      </span>
      {% if settings.url_link_area != blank %}
        <span>
          <a href="{{ settings.url_link_area }}" target="_blank">{{ settings.link_text_area }}</a>
        </span>
      {% endif %}
    </div>

    <div class="header__upper">
      <!-- START SEARCH -->
      <form action="/search" method="get" role="search" class="header__search-container desktop">
        <input type="search" name="q" id="Search-{{ section.id }}" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">

        <button type="submit">
          {% include 'icon-search.svg' %}
        </button>
      </form>
      <!-- END SEARCH -->

      <!-- START LOGO -->
      <a href="/" class="header__logo-image">
        <span class="desktop">
          {% include 'logo.svg' %}
        </span>
        <span class="mobile">
          {% include 'logo-mobile.svg' %}
        </span>
      </a>
      <!-- END LOGO -->

      <!-- START ACTIONS -->
      <div class="header__actions">
        <button class="header__ask-budget btn btn-orange btn-small btn-arrow" data-action-ask-budget>
          Pedir Orçamento
          {% include 'icon-arrow.svg' %}
        </button>

        {% if shop.customer_accounts_enabled %}
          <div class="header__account-menu">
            <a href="/account">
              {% include 'icon-user.svg' %}
            </a>
          </div>
        {% endif %}

        <a href="#" class="header__bag-menu" data-action="open-quick-cart">
          {% include 'icon-cart.svg' %}
          <span data-role="cart-qtd">{{ cart.item_count }}</span>
        </a>

        <a href="#" class="header__mobile-menu-toggle header__mobile-tablet" data-action="toggle-mobile-menu">
          <span class="header__open">
            {% include 'icon-menu.svg' %}
          </span>
        </a>
      </div>
      <!-- END ACTIONS -->
    </div>

    <div class="header__lower">
      <div class="header__fold" data-role="menu-fold"></div>

      <div class="header__menu">
        <div class="header__menu-holder">
          <div class="header__menu-overlay header__mobile" data-role="menu-overlay"></div>
          <nav role="navigation">
            <div class="header__search-wrapper">
              <form action="/search" method="get" role="search" class="header__search-container mobile">
                <input type="search" name="q" id="Search-mobile-{{ section.id }}" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">

                <button type="submit">
                  {% include 'icon-search.svg' %}
                </button>
              </form>
              <a href="#" data-action="close-mobile-menu">
                <span class="header__close">
                  {% include 'icon-close.svg' %}
                </span>
              </a>
            </div>
            <ul>
              {% for link in linklists[section.settings.menu].links %}
                {% if link.links != blank %}
                  {% if link.levels == 2 %}
                    <li class="header__first-level header__has-submenu" data-role="submenu-trigger">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                        {% include 'icons-arrow-down.svg' %}
                      </a>
                      <div class="header__submenu" data-role="submenu">
                        <ul>
                          {% for childlink in link.links %}
                            {% if childlink.url != blank %}
                              <li class="header__submenu-column">
                                {% assign childtitle = childlink.title | downcase %}
                                {% assign parenttitle = link.title | downcase %}
                                {% if childtitle != parenttitle %}
                                  {% if childlink.object.image %}
                                    <a href="{{ childlink.url }}" class="header__submenu-image">
                                      {% include 'responsive-image' with
                                       image: childlink.object.image
                                       , max_width: 346
                                       , max_height: 194
                                       , allow_oversize: true
                                       %}
                                    </a>
                                  {% endif %}
                                  <a class="header__submenu-title typography__list-label" href="{{ childlink.url }}">
                                    {{ childlink.title }}
                                  </a>
                                {% endif %}
                                <ul class="header__submenu-items">
                                  {% for leaflink in childlink.links %}
                                    <li>
                                      <a href="{{ leaflink.url }}">
                                        {{ leaflink.title }}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </li>
                            {% else %}
                              <li>
                                <a href="{{ childlink.url }}">
                                  {{ childlink.title }}
                                </a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% else %}
                    <li class="header__first-level header__has-submenu" data-role="dropmenu-trigger">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                        {% include 'icons-arrow-down.svg' %}
                      </a>
                      <div class="header__dropmenu" data-role="dropmenu">
                        <ul>
                          {% for childlink in link.links %}
                            {% if childlink.url != blank %}
                              <li class="header__dropmenu-column">
                                <a class="header__dropmenu-title typography__list-label" href="{{ childlink.url }}">
                                  {{ childlink.title }}
                                </a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% endif %}
                {% else %}
                  <li class="header__first-level">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <div class="header__mobile-footer">

              {% if section.settings.menu_mobile_up != blank %}
                <div class="header__footer-up">
                  <ul>
                    {% for link in linklists[section.settings.menu_mobile_up].links %}
                      {% if link.title != blank %}
                        <li>
                          <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <div class="header__footer-lower">
                <ul>
                  {% for link in linklists[section.settings.menu_mobile_bottom].links %}
                    {% if link.title != blank %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  <li>
                    <a href="#" data-action-ask-budget>Pedir Orçamento</a>
                  </li>
                </ul>

                {%- assign header_social_accounts = 'Facebook, Twitter, YouTube, Instagram, Pinterest,' | split: ', ' -%}
                <div class="header__social-container">
                  {% for social in header_social_accounts %}
                    {%- assign header_social_handle = social | handleize -%}
                    {% capture header_social_link %}social_{{ header_social_handle }}_link{% endcapture %}
                    {% capture header_social_icon %}icon-{{ header_social_handle }}{% endcapture %}
                    {% if settings[header_social_link] != blank %}
                      <span>
                        <a href="{{ settings[header_social_link] }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                          {% include header_social_icon %}
                        </a>
                      </span>
                    {% endif %}

                  {% endfor %}
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% include "quick-cart" %}

  <div class="modal-box _hide" data-role-modal-box data-embed="https://main.framelink.co/flpublicapi/publicform/?f=eyJpIjoiYldGcGJnPT0iLCJhIjoiWVhCd1h6RTFORGd3TmpRM016WTRNVFE9IiwiZiI6Ik1RPT0iLCJyIjoiTUE9PSJ9">
    <span class="modal-box__close" data-close-modal-box>
      {% include 'icon-close.svg' %}
    </span>
  </div>

</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      }, {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      }, {
        "type": "header",
        "content": "Header"
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      }, {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }, {
        "type": "link_list",
        "id": "menu_mobile_up",
        "label": "Menu Mobile Up"
      }, {
        "type": "link_list",
        "id": "menu_mobile_bottom",
        "label": "Menu Mobile Bottom"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo" : "https: {{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}