<section class="hp-blog-section blog-section" data-section-id="{{ section.id }}" data-section-type="hp-blog-section" data-role="hp-blog-section">
  {% include 'blog-section' %}
</section>

{% schema %}
  {
    "name": "Homepage Blog Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "O nosso Blog"
      },
      {
        "type": "blog",
        "id": "blog_element",
        "label": "Select Blog"
      }
    ],
    "presets": [{
      "name": "Homepage Blog Section",
      "category": "Homepage"
    }]
  }
{% endschema %}