<section class="hp-block-imgtext" data-section-id="{{ section.id }}" data-section-type="hp-block-imgtext" data-role="hp-block-imgtext">
  {% include 'block-imgtext' info: section %}
</section>

{% schema %}
  {
    "name": "Homepage Block Image Text",
    "settings": [
      {
        "type": "text",
        "id": "block_title",
        "label": "Block title",
        "default": "A nossa história"
      },
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image right"
      },
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image left"
      }
    ],
    "blocks": [{
		"name": "Text Blocks",
		"type": "custom",
		"settings": 
      [
        {
          "type": "text",
          "id": "item_title",
          "label": "Item title",
          "default": "Item title"
        },
        {
          "type": "richtext",
          "id": "item_description",
          "label": "Item description",
          "default": "<p>Item description</p>"
        },
        {
          "type": "text",
          "id": "item_cta",
          "label": "Item CTA Link",
          "default": "Descubra Mais"
        },
        {
          "type": "url",
          "id": "item_cta_url",
          "label": "Item CTA URL"
        },
        {
          "type": "checkbox",
          "id": "bullets_design",
          "label": "Bullets design",
          "default": false
        }
      ]
	  }],
    "presets": [{
      "name": "Homepage Block Image Text",
      "category": "Homepage"
    }]
  }
{% endschema %}
