{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}
<section class="newsletter">
  <div>
    {% if section.settings.section_title != blank %}
      <h1 class="newsletter__title">{{ section.settings.section_title | escape }}</h1>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <p class="newsletter__subtitle">{{ section.settings.subheading | escape }}</p>
    {% endif %}
  </div>

  <div class="newsletter__form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="newsletter__confirm-message">{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter__form-content">
          <input type="email"
            name="contact[email]"
            id="Email"
            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
            placeholder="Email"
            autocorrect="off"
            autocapitalize="off"
            class="newsletter__input"
          >
          <button type="submit" name="commit" id="Subscribe">
            <span>Subscrever</span>
          </button>
        </div>
      {% endif %}
    {% endform %}
  </div>

</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
