<section class="product-project-block" data-section-id="{{ section.id }}" data-section-type="product-project-block" data-role="product-project-block">
  {% include 'block-project-media' info: section %}
</section>

{% schema %}
  {
    "name": "Product Project Block",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "block_title",
        "label": "Title block",
        "default": "Conheça os nossos projectos"
      }
    ],
    "blocks": [{
		"name": "Projects",
		"type": "custom",
		"settings": 
      [
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item Image"
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Item title",
          "default": "Item title"
        },
        {
          "type": "url",
          "id": "item_url",
          "label": "Item URL"
        }
      ]
    }],
    "presets": [{
      "name": "Product Project Block",
      "category": "Product"
    }]
  }
{% endschema %}
