<section class="products-column" data-section-id="{{ section.id }}" data-section-type="products-column" data-role="products-column">
  {% if section.settings.column_title != blank %}
    <h3>{{ section.settings.column_title }}</h3>
  {% endif %}

  <div class="products-column__container">
    {% if section.settings.prod_type == 'bestseller' and collections.best-sellers.products.size > 0 %}
      {% for product in collections.best-sellers.products limit: 5 %}
        {% if forloop.index == 1 %}
          <div class="products-column__product first">
        {% else %}
          <div class="products-column__product element">
        {% endif %}

          {% if product.featured_image != blank %}
            {% if forloop.index == 1 %}
              <a href="{{ product.url }}" class="products-column__product-image link">
            {% else %}
              <div class="products-column__product-image">
            {% endif %}

              {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 272,
                max_height: 262,
                allow_oversize: true
              %}

              {% if forloop.index == 1 %}
                <div href="{{ product.url }}" class="products-column__button btn btn-orange btn-small btn-arrow">
                  Ver Produto
                  {% include 'icon-arrow.svg' %}
                </div>
              {% endif %}
            {% if forloop.index == 1 %}
              </a>
            {% else %}
              </div>
            {% endif %}
          {% endif %}
          
          <div class="products-column__product-content">
            {% if product.title != blank %}
              <h4><a href="{{ product.url }}" >{{ product.title }}</a></h4>
            {% endif %}
            {% if product.price != blank %}
              <p>{{ product.price | money }}</p>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    {% endif %}

    {% if section.settings.prod_type == 'custom' %}
      {% for blocks in section.blocks %}
        
        {% assign product_item = all_products[block.settings.product] %}

        <div class="products-column__product">
          {% if product_item.image %}
            <div class="products-column__product-image">
              {% include 'responsive-image' with
                image: article.image,
                max_width: '866',
                max_height: '487',
                allow_oversize,
                custom_size: '866x'
              %}
            </div>
          {% endif %}
          <div class="products-column__product-content">
            {% if product_item.title != blank %}
              <h4>{{ product_item.title }}</h4>
            {% endif %}
            {% if block.settings.prod_subtitle != blank %}
              <p>{{ block.settings.prod_subtitle }}</p>
            {% endif %}
          </div>
        </div>

      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Products Column",
    "settings": [
      {
        "type": "text",
        "id": "column_title",
        "label": "Column title",
        "default": "Produtos Mais Vendidos"
      },
      {
        "type": "select",
        "id": "prod_type",
        "options": [
            { "value": "bestseller", "label": "Best Sellers"},
            { "value": "custom", "label": "Customize"}
        ],
        "label": "Type of products to show"
      }
    ],
    "blocks": [
      {
        "name": "Text Blocks",
        "type": "custom",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "prod_subtitle",
            "label": "Subtitle",
            "default": "€13/m2"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Products Column",
      "category": "Blog"
    }]
  }
{% endschema %}
