<section class="product-media-column" data-section-id="{{ section.id }}" data-section-type="product-media-column" data-role="product-media-column">
  {% include 'media-column' columns: section.settings %}
</section>

{% schema %}
  {
    "name": "Product Media Column",
    "settings": [
      {
        "type": "image_picker",
        "id": "column_image_left",
        "label": "Column image left"
      },
      {
        "type": "text",
        "id": "column_title_left",
        "label": "Column title left",
        "default": "Qualidade dos Produtos"
      },
      {
        "type": "text",
        "id": "column_subtitle_left",
        "label": "Column subtitle left",
        "default": "A nossa vasta experiência e a qualidade de excelência dos nossos produtos tornam-nos numa marca de referência no mercado."
      },
      {
        "type": "image_picker",
        "id": "column_image_center",
        "label": "Column image center"
      },
      {
        "type": "text",
        "id": "column_title_center",
        "label": "Column title center",
        "default": "Rapidez e Segurança"
      },
      {
        "type": "text",
        "id": "column_subtitle_center",
        "label": "Column subtitle center",
        "default": "A nossa loja exclusivamente online permite-nos ter preços competitivos e entregas rápidas e 100% seguras."
      },
      {
        "type": "image_picker",
        "id": "column_image_right",
        "label": "Column image right"
      },
      {
        "type": "text",
        "id": "column_title_right",
        "label": "Column title right",
        "default": "Acompanhamento"
      },
      {
        "type": "text",
        "id": "column_subtitle_right",
        "label": "Column subtitle right",
        "default": "Estamos disponíveis, em diversos meios, para esclarecer todas as suas dúvidas e o ajudar tanto na escolha como no apoio pós-venda."
      }
    ],
    "presets": [{
      "name": "Product Media Column",
      "category": "Product"
    }]
  }
{% endschema %}
