<section class="products-slider-product" data-section-id="{{ section.id }}" data-section-type="products-slider-product" data-role="products-slider-product">
  {% include 'products-slider' info: section %}
</section>

{% schema %}
  {
    "name": "Products Slider Product",
    "settings": [
      {
        "type": "text",
        "id": "prod_slider_title",
        "label": "Products Slider title",
        "default": "Produtos mais Vendidos"
      },
      {
        "type": "select",
        "id": "prod_type",
        "options": [
            { "value": "bestseller", "label": "Best Sellers"},
            { "value": "custom", "label": "Customize"}
        ],
        "label": "Type of products to show"
      }
    ],
    "blocks": [
      {
        "name": "Products items",
        "type": "custom",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "prod_subtitle",
            "label": "Subtitle",
            "default": "€13/m2"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Products Slider Product",
      "category": "General"
    }]
  }
{% endschema %}