<section class="product-media-two" data-section-id="{{ section.id }}" data-section-type="product-media-two" data-role="product-media-two">
  {% include 'media-two' info: section.settings %}
</section>

{% schema %}
  {
    "name": "Product Media Two",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image left"
      },
      {
        "type": "text",
        "id": "pretitle_left",
        "label": "Pretitle left",
        "default": "Portafólio"
      },
      {
        "type": "text",
        "id": "title_left",
        "label": "Title left",
        "default": "Veja como recuperámos este jardim em Coimbra"
      },
      {
        "type": "url",
        "id": "url_left",
        "label": "URL Left"
      },
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image right"
      },
      {
        "type": "text",
        "id": "pretitle_right",
        "label": "Pretitle right",
        "default": "Tutoriais"
      },
      {
        "type": "text",
        "id": "title_right",
        "label": "Title right",
        "default": "Como colocar relva natural?"
      },
      {
        "type": "url",
        "id": "url_right",
        "label": "URL right"
      }
    ],
    "presets": [{
      "name": "Product Media Two",
      "category": "Product"
    }]
  }
{% endschema %}
