{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}
  {%- break -%}{%- endif -%}
<section class="product" data-section-id="{{ section.id }}" data-section-type="product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product__container">

    <div class="product__content">

      <div class="product__upper-section">
        <div class="product__media-container">

          <div class="product__media-current">
            {% for image in product.images %}
              {% capture wrapper_class %}
                {%- unless featured_image == image -%}
                  hide
                {%- endunless -%}
              {% endcapture %}

              {% capture lightbox_info %}
                data-product-featured-image data-action-open-lightbox data-image-pos={{forloop.index}}
              {% endcapture %}

              {% include 'responsive-image' with
               image: image
               , max_width: 1132
               , max_height: 1000
               , image_attributes: lightbox_info
               , wrapper_class: wrapper_class
               , wrapper_attributes: "data-product-image-wrapper"
               %}
            {% endfor %}
          </div>

          {% if product.images.size > 1 %}
            <div class="product__thumbnail-container swiper-container">
              <span class="product__best-seller-sticker mobile">mais vendido</span>
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="product__thumbnail-item swiper-slide">
                    <div data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %} class="{% if featured_image == image %}_active{% endif %}">
                      <img class="product__thumbnail-image" src="{{ image.src | img_url: '500x500' }}" alt="{{ image.alt | escape }}">
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="product__pagination swiper-pagination"></div>
            </div>
          {% endif %}

        </div>
        <div class="product__info-container">
          <h1>{{ product.title }}</h1>
          <div class="product__review-container">
            {% comment %}
              <span class="product__best-seller-sticker">mais vendido</span>
            {% endcomment %}
            <div class="yotpo bottomLine product__review-stars" data-appkey="ob7xpjmJeNTSvd1e0dhtABgGp9XUqWOgz5pFcSsO" data-domain="{{shop.permanent_domain | escape }}" data-product-id="{{ product.id }}" data-product-models="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}"></div>
          </div>
          <div class="product__divider"></div>

          {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
            <div class="product__price-container" data-price-wrapper>

              {% if product.compare_at_price_max > product.price %}
                <span class="product__price-full">
                  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  <s data-compare-price>
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                </span>
              {% endif %}

              <span class="product__price-discount" data-product-price>
                {{ current_variant.price | money }}
              </span>

            </div>

            <select name="id" id="productSelect" style="display: none !important;">
              {% for variant in product.variants %}
                <option {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            <div class="bold_options" data-product-id="{{ product.id }}"></div>

            {% assign hide_quantity = false %}
            {% for tag in product.tags %}
              {% if tag contains 'no_quantity' %}
                {% assign hide_quantity = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            <div class="product__submit-container">
              {% unless product.has_only_default_variant %}
                <div class="product__variant-container">
                  {% for option in product.options_with_values %}
                    {% if forloop.last == true and hide_quantity %}
                      <div class="product__variant-item-special">
                        <div class="js product__variant-item">
                          <label for="Option{{ option.position }}">
                            {{ option.name }}
                          </label>
                          <select id="Option{{ option.position }}" name="options[{{ option.name | escape }}]" data-variant-select>
                            {% for value in option.values %}
                              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                          {% include 'icons-arrow-down.svg' %}
                        </div>
                        <button class="addtocart btn btn-orange btn-full-width" type="submit" name="add" data-submit-button {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                          <span data-submit-button-text>
                            {% if current_variant.available %}
                              Adicionar ao Cesto
                            {% else %}
                              Esgotado
                            {% endif %}
                          </span>
                        </button>
                      </div>
                    {% else %}
                      <div class="js product__variant-item">
                        <label for="Option{{ option.position }}">
                          {{ option.name }}
                        </label>
                        <select id="Option{{ option.position }}" name="options[{{ option.name | escape }}]">
                          {% for value in option.values %}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                        {% include 'icons-arrow-down.svg' %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endunless %}

              <noscript>
                <select name="id">
                  {% for variant in product.variants %}
                    <option {% if variant == current_variant %}selected="selected"{% endif %}
                      {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
              </noscript>

              <div class="product__quantity-wrapper {% if hide_quantity %}hide{% endif %}">
                <div class="product__quantity-container quantity-btn">
                  <div class="quantity-button quantity-down" data-action="quantity-down">{% include 'icon-minus.svg' %}</div>
                  <input type="number" id="Quantity" name="quantity" data-role="quantity" value="1" min="1" step="1">
                  <div class="quantity-button quantity-up" data-action="quantity-up">{% include 'icon-plus.svg' %}</div>
                </div>

                {% if hide_quantity == false %}
                  <button class="addtocart btn btn-orange btn-full-width" type="submit" name="add" data-submit-button {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                    {% include 'icon-cart.svg' %}
                    <span data-submit-button-text>
                      {% if current_variant.available %}
                        Adicionar ao Cesto
                      {% else %}
                        Esgotado
                      {% endif %}
                    </span>
                  </button>
                {% endif %}
              </div>

            </div>
          {% endform %}

          <div class="product__note-container">
            {% include 'icon-truck.svg' %}
            <span>
              Confirme o valor total do serviço de colocação e as opções de entrega no checkout.
            </span>
          </div>
        </div>
      </div>

      <div class="product__lower-section">
        <div class="product__tab-titles">

          {% if product.metafields.custom_fields["first_tab"] != blank %}
            <a class="product__tab-item _active-tab" data-action="open-tab" data-tab-id="0">{{ product.metafields.custom_fields["first_tab"] }}</a>
          {% else %}
            <a class="product__tab-item _active-tab" data-action="open-tab" data-tab-id="0">Descrição</a>
          {% endif %}

          {% if product.metafields.custom_fields["second_tab"] != blank %}
            <a class="product__tab-item" data-action="open-tab" data-tab-id="1">{{ product.metafields.custom_fields["second_tab"] }}</a>
          {% else %}
            <a class="product__tab-item" data-action="open-tab" data-tab-id="1">Características</a>
          {% endif %}

          {% if product.metafields.custom_fields["shipping_info"] != blank %}
            {% if product.metafields.custom_fields["third_tab"] != blank %}
              <a class="product__tab-item" data-action="open-tab" data-tab-id="2">{{ product.metafields.custom_fields["third_tab"] }}</a>
            {% else %}
              <a class="product__tab-item" data-action="open-tab" data-tab-id="2">Entrega</a>
            {% endif %}
          {% endif %}

          {% if product.metafields.custom_fields["fourth_tab"] != blank %}
            <a class="product__tab-item" data-action="open-tab" data-tab-id="3">{{ product.metafields.custom_fields["fourth_tab"] }}</a>
          {% else %}
            <a class="product__tab-item" data-action="open-tab" data-tab-id="3">Comentários</a>
          {% endif %}

          {% if product.metafields.custom_fields["faqs"] != blank %}
            {% if product.metafields.custom_fields["fifth_tab"] != blank %}
              <a class="product__tab-item" data-action="open-tab" data-tab-id="4">{{ product.metafields.custom_fields["fifth_tab"] }}</a>
            {% else %}
              <a class="product__tab-item" data-action="open-tab" data-tab-id="4">FAQs</a>
            {% endif %}
          {% endif %}

          <div class="product__tab-border"></div>
        </div>

        <div>
          <a class="product__tab-item accordion mobile _active-tab" data-action="open-tab" data-tab-id="0">
            Descrição
            <div>
              <span class="open _active-tab">{% include 'icon-plus.svg' %}</span>
              <span class="close">{% include 'icon-close-small.svg' %}</span>
            </div>
          </a>
          <div class="product__tab-content product__text-format" data-role="tab-content">
            {{ product.description }}
          </div>
        </div>

        <div>
          <a class="product__tab-item accordion mobile" data-action="open-tab" data-tab-id="1">
            Características
            <div>
              <span class="open _active-tab">{% include 'icon-plus.svg' %}</span>
              <span class="close">{% include 'icon-close-small.svg' %}</span>
            </div>
          </a>
          <div class="product__tab-content _hide" data-role="tab-content">
            {% if product.metafields.custom_fields["features"] != blank %}
              <div class="product__content-table">
                {% for item in product.metafields.custom_fields["features"] %}
                  <div class="product__content-row">
                    {% if item["feature_label"] != blank %}
                      <span class="product__item-title">{{ item["feature_label"] }}</span>
                    {% endif %}
                    {% if item["feature_description"] != blank %}
                      <span class="product__item-description">{{ item["feature_description"] }}</span>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if product.metafields.custom_fields["detail_block"] != blank %}
              <div class="product__custom-details-container product__text-format">
                {% for item in product.metafields.custom_fields["detail_block"] %}
                  <div class="product__custom-details-item">

                    {% if item["type"] contains "Block Text" %}
                      {% if item["block_text"] != blank %}
                        {% for repeater_item in item["block_text"] %}
                          <div class="product__custom-details-item-text">
                            {{ repeater_item["block_text"] }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% elsif item["type"] contains "Block Quote" %}
                      {% if item["block_quote"] != blank %}
                        {% for repeater_item in item["block_quote"] %}
                          <div class="product__custom-details-item-quote">
                            <h2>{{ repeater_item["block_quote"] }}</h2>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% elsif item["type"] contains "Block 2 Image" %}
                      {% if item["block_two_images"] != blank %}
                        <div class='product__custom-details-item-image-container product__columns-{{item["block_two_images"].size}}'>
                          {% for item_image in item["block_two_images"] %}
                            <div class="product__custom-details-item-image">
                              {{ item_image["image"] }}
                              <span>{{ item_image["caption"] }}</span>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% elsif item["type"] contains "Block Banner Image" %}
                      {% if item["block_banner_image"] != blank %}
                        <div class='product__custom-details-item-image-banner'>
                          {% for banner in item["block_banner_image"] %}
                            <div class="product__custom-details-item-image">
                              {{ banner["banner_image"] }}
                              <span>{{ banner["subtitle"] }}</span>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% elsif item["type"] contains "Block 6 Image" %}
                      {% if item["block_six_images"] != blank %}
                        <div class='product__custom-details-item-image-block'>
                          {% for item_image in item["block_six_images"] %}
                            <div class='product__custom-details-item-image-container product__columns-{{item_image["image"].size}}'>
                              {% for repeater_item in item_image["image"] %}
                                <div class="product__custom-details-item-image">
                                  {{ repeater_item["image"] }}
                                </div>
                              {% endfor %}
                            </div>
                            <span>{{ item_image["caption"] }}</span>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% elsif item["type"] contains "Block Green Link Row" %}
                      {% if item["block_green_link_row"] != blank %}
                        {% for repeater_item in item["block_green_link_row"] %}
                          {% capture length %}
                            {{ forloop.length }}{% endcapture %}
                        {% endfor %}
                        <div class="product__custom-details-item-green-link-row length-{{ length }}">
                          {% for repeater_item in item["block_green_link_row"] %}
                            <div class="product__custom-details-item-link">
                              {{ repeater_item["block_green_link_row"] }}
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endif %}

                  </div>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        </div>

        <div>
          {% if product.metafields.custom_fields["shipping_info"] != blank %}
            <a class="product__tab-item accordion mobile" data-action="open-tab" data-tab-id="2">
              Entrega
              <div>
                <span class="open _active-tab">{% include 'icon-plus.svg' %}</span>
                <span class="close">{% include 'icon-close-small.svg' %}</span>
              </div>
            </a>
          {% endif %}
          <div class="product__tab-content product__text-format _hide" data-role="tab-content">
            {% if product.metafields.custom_fields["shipping_info"] != blank %}
              {% for item in product.metafields.custom_fields["shipping_info"] %}
                {{ item["shipping_info"] }}
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div>
          <a class="product__tab-item accordion mobile" data-action="open-tab" data-tab-id="3">
            Comentários
            <div>
              <span class="open _active-tab">{% include 'icon-plus.svg' %}</span>
              <span class="close">{% include 'icon-close-small.svg' %}</span>
            </div>
          </a>
          <div class="product__tab-content product__text-format _hide" data-role="tab-content">
            <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
          </div>
        </div>

        <div>
          {% if product.metafields.custom_fields["faqs"] != blank %}
            <a class="product__tab-item accordion mobile" data-action="open-tab" data-tab-id="4">
              {% if product.metafields.custom_fields["fifth_tab"] != blank %}
                {{ product.metafields.custom_fields["fifth_tab"] }}
              {% else %}
                FAQs
              {% endif %}
              <div>
                <span class="open _active-tab">{% include 'icon-plus.svg' %}</span>
                <span class="close">{% include 'icon-close-small.svg' %}</span>
              </div>
            </a>
            <div class="product__wrapper-questions product__tab-content product__text-format _hide" data-role="tab-content">
              {% for item in product.metafields.custom_fields["faqs"] %}

                <div class="faq-item">
                  <div class="colapsible accordion" data-action="colapsible-toggle">
                    <a href="#" class="colapsible-title">
                      {{ item["question"] }}
                      <div>
                        <span class="open _active">{% include 'icon-plus.svg' %}</span>
                        <span class="close">{% include 'icon-close-small.svg' %}</span>
                      </div>
                    </a>
                  </div>
                  <div class="colapsible-content" data-role="colapsible-content">
                    <div>
                      {{ item["answer"] }}
                    </div>
                  </div>
                </div>

              {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>

    </div>

  </div>

  <div class="product__lightbox" data-role="lightbox">
    <div class="product__lightbox-container swiper-container">
      <div class="product__lightbox-wrapper swiper-wrapper">
        {% for image in product.images %}
          <div class="product__lightbox_slide swiper-slide" data-action="close-lightbox">
            <div class="product__lightbox_slide-image lazyload" data-bgset="{% include 'responsive-bg-image', image: image %}"></div>
          </div>
        {% endfor %}
      </div>
      <!-- Add Arrows -->
      <div class="product__lightbox-next swiper-button-next"></div>
      <div class="product__lightbox-prev swiper-button-prev"></div>

      <div class="product__lightbox-pagination swiper-pagination"></div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}