{% assign currentHandle = article.handle %}
{% assign articlesFound = 0 %}
{% assign current = article.id %}
{% assign blogType = blogs[blog.handle].articles %}

{% for tag in article.tags %} 
  {% for article in blogType %}
    {% unless article.id == current %}
      {% if article.tags contains tag %}
        {% assign articlesFound = articlesFound | plus: 1 %}
      {% endif %}
    {% endunless %}

  {% endfor %}
{% endfor %}

{% if articlesFound > 0 %}
  <section class="related-articles" data-section-id="{{ section.id }}" data-section-type="related-articles" data-role="related-articles">
    <div class="related-articles__container">
      <div class="related-articles__title">
        <h2>Artigos Relacionados</h2>
      </div>
      <div class="related-articles__blog swiper-container">
        <div class="swiper-wrapper">
          {% assign counter = 1 %}
          {% for tag in article.tags %} 
            {% for article in blogType %}
              {% unless article.id == current %}
                {% if article.tags contains tag  and counter <= 3 %}
                  {% assign counter = counter | plus: 1 %}

                  <div class="related-articles__post swiper-slide">
                    <div class="related-articles__post-image">
                      {% include 'responsive-image' with
                        image: article.image,
                        max_width: 840,
                        max_height: 474,
                        allow_oversize: true
                      %}
                    </div>
                    <div class="related-articles__info">
                      <div class="related-articles__tags-container">
                        {% for tag in article.tags limit: 2 %}
                          <span class="related-articles__tag">{{ tag }}</span>
                        {% endfor %}
                      </div>
                      <h3><a href="{{ article.url }}">{{ article.title | strip_html | truncatewords: 16 }}</a></h3>
                      <p>{{ article.excerpt | strip_html | truncatewords: 50 }}</p>
                    </div>
                    
                  </div>
                {% endif %}
              {% endunless %}

            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}