<section class="review-section" data-section-id="{{ section.id }}" data-section-type="review-section" data-role="review-section">
  {% include 'review-slider' info: section %}
</section>

{% schema %}
  {
    "name": "Review Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "review_background",
        "label": "Background image",
        "info": "ratio 0.32"
      },
      {
        "type": "text",
        "id": "review_title",
        "label": "Review title",
        "default": "Os Clientes falam por nós"
      }
    ],
    "blocks": [
      {
        "name": "Review items",
        "type": "custom",
        "settings": [
          {
            "type": "image_picker",
            "id": "item_image",
            "label": "Review image"
          },
          {
            "type": "text",
            "id": "item_name",
            "label": "Name",
            "default": "Jane Doe"
          },
          {
            "type": "richtext",
            "id": "item_description",
            "label": "Description",
            "default": "<p>Description</p>"
          },
          {
            "type": "range",
            "id": "review_stars",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "unit": " *",
            "label": "Stars",
            "default": 5
          }
        ]
      }
    ],
    "presets": [{
      "name": "Review Section",
      "category": "General"
    }]
  }
{% endschema %}