.block-imgtext {
  width: 100%;
  margin: 100px auto;
  background-color: $white;
  padding: 0 5px;

  @include media-query($medium-down) {
    margin: 50px auto;
  }

  .about-block-imgtext & {
    margin: 35px auto 100px;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;

    @include media-query($medium-down) {
      max-width: 480px;
    }
  }

  &__block-imgright {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;

    @include media-query($medium-down) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__block-imgleft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    @include media-query($medium-down) {
      display: none;
    }
  }

  &__main-title {
    margin-bottom: 25px;

    @include media-query($medium-down) {
      display: none;
      padding: 0 15px;
    }

    h1 {
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }

  &__img-container {
    width: 100%;
    max-width: 538px;
    position: relative;
    margin: 0 0 30px 30px;

    @include media-query($medium-down) {
      margin: 0 auto 30px;
      max-width: calc( 100% - 30px);
      left: 9px;
    }

    & > div {
      border-radius: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -30px;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 1px solid $grey-stroke;

      @include media-query($medium-down) {
        top: 20px;
        left: -20px;
      }
    }
  }

  &__content {
    flex: 1;

    @include media-query($medium-down) {
      width: 100%;
      padding: 0 10px 0 20px;
    }

    .block-imgtext__block-imgright & {
      margin-right: 25px;

      @include media-query($medium-down) {
        margin-right: 0px;
      }
    }

    .block-imgtext__block-imgleft & {
      margin-left: 25px;
    }
  }

  &__info {
    position: relative;
    padding: 0 20px 25px 0;
    border-bottom: 0;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0px;
    }

    @include media-query($medium-down) {
      margin-top: 40px;
      width: 100%;
      margin-left: 0px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      svg {
        @include media-query($medium-down) {
          width: 19px;
          height: 19px;
        }
      }
    }

    h3 {
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 16px;
        line-height: 19px;
        flex: 1;
      }
    }
    p {
      font-size: 17px;
      line-height: 26px;
      font-weight: 400;
      margin: 10px 0;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 21px;
      }
    }
    a {
      color: $green;
      transition: all $transition-duration $transition-timing;

      @include media-query($medium-down) {
        font-size: 16px;
        line-height: 19px;
      }

      svg {
        transition: all $transition-duration $transition-timing;
      }

      &:hover {
        color: $green-light;

        svg path {
          stroke: $green-light !important;
        }
      }
    }
  }

  &__description-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      display: none;
      width: 11px;
      height: 11px;
      transition: all $transition-duration $transition-timing;
    }

    & > * {
      pointer-events: none;
    }

    @include media-query($medium-down) {
      cursor: pointer;

      svg {
        display: block;
        margin-left: 10px;
      }

      &._open > svg {
        transform: rotate(405deg);
      }
    }
  }

  &__description-box {
    transition: all $transition-duration $transition-timing;

    @include media-query($medium-down) {
      overflow: hidden;
      height: 0;
      opacity: 0;
    }
  }

  &__bullet-design {
    padding: 0 20px 25px 50px;
    border-bottom: 1px solid $lighter-grey;

    @include media-query($medium-down) {
      font-size: 16px;
      line-height: 19px;
      padding: 0 20px 25px 30px;
    }

    span {
      display: block;
    }
  }

  ._responsive {
    display: none;

    @include media-query($medium-down) {
      display: block;
    }
  }
}