.block-project-media {
  width: 100%;
  background-color: $beige-light;
  padding: 35px 0 40px;

  @include media-query($large-up) {
    padding: 50px 20px;
  }

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;

    @include media-query($medium-down) {
      padding: 0 20px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 22px;
      line-height: 27px;
      color: $black;
      margin: 0;
      text-align: center;

      @include media-query($medium-down) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: calc(1162px * 3 / 12);
    margin-right: 25px;
    text-decoration: none;

    @include media-query($medium-down) {
      min-width: 270px;
    }

    @include media-query($large-up) {
      max-width: 270px;

      &.swiper-slide {
        flex-shrink: unset;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    width: 100%;
    height: 152px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__text {
    font-size: 17px;
    line-height: 26px;
    color: $dark-grey;
    margin: 0;
    font-weight: 400;

    @include media-query($medium-down) {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
    }
  }
}
