.blog-section {
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
  background-color: $beige-light;

  @include media-query($medium-down) {
    padding: 50px 20px;
  }

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    position: relative;
  }

  &__title {
    padding-right: 200px;
    
    @include media-query($medium-down) {
      padding-right: 0px;
      text-align: center;
    }
    
    h1 {
      font-size: 50px;
      line-height: 60px;
      color: $black;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }

  &__blog {
    display: flex;
    
    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__post {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin-right: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    box-shadow: -10px 16px 48px rgba($color: $black, $alpha: 0.1);
    
    &:last-child {
      margin-right: 0px;
    }

    @include media-query($medium-down) {
      margin-right: 0px;
      margin-bottom: 20px;
      max-width: unset;
      flex-direction: row;
      align-items: center;
      padding: 15px;
    }
  }

  &__post-image {
    overflow: hidden;
    max-height: 215px;
    
    @include media-query($medium-down) {
      width: 75px;
      max-height: 71px;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  &__info {
    flex: 1;
    padding: 25px;
    
    @include media-query($medium-down) {
      padding: 0;
      padding-left: 15px;
    }
    
    h3 a {
      font-size: 24px;
      line-height: 28px;
      color: $black;
      margin: 0 0 5px;
      overflow: hidden;
      max-height: 55px;
      text-decoration: none;
      
      @include media-query($medium-down) {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        max-height: 50px;
      }

      &:hover {
        color: $green;
      }
    }

    p {
      font-size: 17px;
      line-height: 26px;
      color: $dark-grey;
      margin: 0;
    }
  }

  &__info-description {
    overflow: hidden;
    max-height: 77px;
    
    @include media-query($medium-down) {
      display: none;
    }
  }

  &__tags-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  &__tag {
    border-radius: 4px;
    border: 1px solid rgba($color: $grey-stroke, $alpha: 0.4);
    padding: 5px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 300;
    color: $dark-grey;
    font-size: 12px;
    
    @include media-query($medium-down) {
      border-radius: 0px;
      border: 0;
      padding: 0;
      margin-right: 0px;
      font-weight: 500;
      font-size: 10px;
    }
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 0;
    
    @include media-query($medium-down) {
      position: relative;
      top: unset;
      right: unset;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
