.breadcrumbs {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  padding: 0 20px;

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 0;

    @include media-query($medium-down) {
      padding: 12px 0;
    }
  }

  span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $black;

    @include media-query($medium-down) {
      font-size: 11px;
      line-height: 17px;
    }

    &:last-child {
      font-weight: 700;
    }
  }

  svg {
    width: 9px;
    height: 5px;
    transform: rotate(-90deg);
    margin: 0 17px;

    @include media-query($medium-down) {
      width: 6px;
      height: 3px;
    }
  }
}