.general-title {
  width: 100%;
  background-color: $beige-light;
  padding: 0 20px;

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 32px 0;

    @include media-query($medium-down) {
      padding: 22px 0;
    }
  }

  h3 {
    color: $black;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    margin: 0;

    @include media-query($medium-down) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
