.green-link-row {
  max-width: 866px;
  margin: 50px auto;
  padding: 0 20px;
  
  &__container {
    display: flex;
    justify-content: space-between;

    @include media-query($small) {
      flex-direction: column;
      align-items: center;
    }

    &.length-1, &.length-2 {
      justify-content: center;
    }

    &.length-1 {
      .green-link-row__item-link {
        margin-right: 0;
      }
    }
  }

  &__item-link {
    height: 40px;
    width: 100%;
    max-width: 272px;
    background-color: $green;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 25px;

      @include media-query($small) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $white;
      padding: 0 12px 0 20px;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 11px;
        height: 11px;
        background-image: url('../assets/img/icon-arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
