.grid-pages {
  margin: 80px auto 55px;
  padding: 0 20px;

  @include media-query($medium-down) {
    margin: 55px auto 35px;
  }

  &__container {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
  }

  &__title-container {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      color: $black;
      margin: 0 0 45px;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 27px;
        margin: 0 0 25px;
      }
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 49%;
    height: 117px;
    max-width: 570px;
    margin-bottom: 25px;
    padding: 0 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: unset;
    opacity: 0;
    transition: opacity $transition-duration;
    //background: transparent linear-gradient(270deg, #302F2C00 0%, #302F2CBE 100%) 0% 0% no-repeat padding-box;

    @include media-query($medium-down) {
      padding: 0 20px;
      height: 89px;
      max-width: unset;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include media-query($small) {
      width: 100%;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: transparent linear-gradient(270deg, #302F2C00 0%, #302F2CBE 100%) 0% 0% no-repeat padding-box;
    }

    .aos-animate & {
      opacity: 1;
    }

    h3 {
      color: $white;
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      margin: 0;
      flex-grow: 1;
      z-index: 1;

      @include media-query($medium-down) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    svg {
      width: 36.5px;
      height: 36.5px;

      @include media-query($medium-down) {
        width: 26.5px;
        height: 26.5px;
      }
    }
  }

}
