.header-banner {
  &__slider-container {
    width: 100%;
    height: calc(100vw * 0.41);
    min-height: 500px;
  }

  &__slide {
    position: relative;
    padding: 0 20px 0 12.5%;
    display: flex;
    align-items: center;
    background-size: cover;

    @include media-query($medium-down) {
      padding: 0 20px;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    display: none;

    @include media-query($medium-down) {
      display: block;
    }
  }

  &__image-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    display: block;

    @include media-query($medium-down) {
      display: none;
    }
  }

  &__slide-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 1;
  }

  &__slide-info {
    max-width: 780px;
    z-index: 2;

    @include media-query($medium-down) {
      max-width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    h1 {
      color: $white;
      font-size: 56px;
      font-weight: 700;
      line-height: 57px;
      margin-bottom: 12px;
      opacity: 0;
      transition: opacity $transition-duration 300ms;
      
      .animate & {
        opacity: 1;
      }

      @include media-query($medium-down) {
        margin: 0;
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 29px;
      }
    }
    p {
      color: $white;
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 400;
      opacity: 0;
      transition: opacity $transition-duration 500ms;

      @include media-query($medium-down) {
        font-size: 14px;
        margin-bottom: 20px;
      }
      
      .animate & {
        opacity: 1;
      }
    }
    a {
      min-width: 175px;
      opacity: 0;
      transition: opacity $transition-duration 700ms;
      
      .animate & {
        opacity: 1;
      }
    }
  }

  &__button-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -24px;
    z-index: 2;
    width: 42px;
    height: 42px;
    opacity: 0;
    cursor: pointer;
    transition: opacity $transition-duration $transition-timing;

    @include media-query($medium-down) {
      top: unset;
      bottom: 37px;
      width: 35px;
      height: 35px;
      left: 70px;
    }

    .animate & {
      opacity: 1;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $white, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__button-next {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -24px;
    z-index: 2;
    width: 42px;
    height: 42px;
    transform: rotate(180deg);
    opacity: 0;
    cursor: pointer;
    transition: opacity $transition-duration $transition-timing;

    @include media-query($medium-down) {
      top: unset;
      bottom: 37px;
      width: 35px;
      height: 35px;
      right: 70px;
    }
    
    .animate & {
      opacity: 1;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $white, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity $transition-duration 900ms;

    @include media-query($medium-down) {
      bottom: 50px;
    }
      
    .animate & {
      opacity: 1;
    }
  }

  &__bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba($color: $white, $alpha: 0.6);
    transition: all $transition-duration $transition-timing;

    &::before {
      content: "";
      border: 1px solid rgba($color: $white, $alpha: 0.6);
      width: 16px;
      height: 16px;
      position: absolute;
      left: -4px;
      top: -4px;
      border-radius: 100%;
      opacity: 0;
      transition: opacity $transition-duration $transition-timing;
    }

    &:hover {
      background-color: #E6E3E0;
    }
  }

  &__bullet-active {
    background-color: rgba($color: $white, $alpha: 1);
    cursor: unset;

    &::before {
      opacity: 1;
    }

    &:hover {
      background-color: rgba($color: $white, $alpha: 1);
    }
  }

  &__description-container {
    padding: 0 30px;

    @include media-query($medium-down) {
      padding: 0;
    }
  }

  &__description-column {
    position: relative;
    z-index: 2;
    margin: -68px auto 0;
    min-height: 136px;
    width: 100%;
    max-width: $max-width-content;
    background-color: $white;
    box-shadow: -10px 16px 48px rgba($color: $black, $alpha: 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query($medium-down) {
      background-color: transparent;
      box-shadow: unset;
      margin: -30px auto 0;
      padding: 0 30px;
    }
  }

  &__description-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query($medium-down) {
      justify-content: unset;
      align-items: unset;
    }
  }

  &__description-item {
    width: 100%;
    max-width: calc(100% / 3);
    border-right: 1px solid rgba($color: $black, $alpha: 0.1);
    display: flex;
    justify-content: center;
    padding: 10px 45px;

    @include media-query($medium-down) {
      padding: 10px 33px;
      height: 110px !important;
    }

    &:last-child {
      border-right: 0;
    }

    @include media-query($medium-down) {
      max-width: unset;
      background-color: $white;
      box-shadow: 0px 6px 18px rgba($color: $black, $alpha: 0.1);
      border-radius: 4px;
      padding: 20px 45px;
      justify-content: unset;
    }
  }

  &__description-image {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    margin-top: 5px;
  }

  &__description-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    
    h3 {
      color: $black;
      font-size: 22px;
      font-weight: 700;
      margin: 5px 0;
      text-transform: uppercase;

      @include media-query($medium-down) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    p {
      color: $dark-grey;
      font-size: 14px;
      font-weight: 300;
      margin: 5px 0;

      @include media-query($medium-down) {
        font-size: 13px;
      }
    }
  }
}
