.media-column {
  margin: 50px auto;
  width: 100%;
  background-color: $beige-light;
  padding: 50px 0;

  @include media-query($medium-down) {
    padding: 50px 20px;
  }

  &__container {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;
    display: flex;

    @include media-query($medium-down) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    width: 100%;
    max-width: 272px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query($medium-down) {
      margin-right: 0px;
      margin-bottom: 30px;
      max-width: 400px;
    }

    &:last-child {
      margin-right: 0;

      @include media-query($medium-down) {
        margin-bottom: 0px;
      }
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @include media-query($medium-down) {
      width: 40px;
      height: 40px;
    }
  }

  &__info {
    flex: 1;

    h3 {
      font-size: 22px;
      line-height: 27px;
      font-weight: 700;
      color: $black;
      margin: 0 0 20px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $black;
      margin: 0;
    }
  }
}
