.media-two {
  width: 100%;
  margin: 50px auto;
  padding: 40px 40px;

  @include media-query($medium-down) {
    padding: 30px 40px;
  }

  &__container {
    width: 100%;
    max-width: $max-width-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include media-query($medium-down) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    margin-right: 25px;
    width: calc(1162px * 5.8 / 12);
    max-height: 317px;

    @include media-query($medium-down) {
      margin-right: 0px;
      width: 100%;
      max-width: 390px;
      max-height: 250px;
    }

    @include media-query($small-down) {
      max-width: 278px;
      max-height: 158px;
    }

    &:last-child {
      margin-right: 0px;

      @include media-query($medium-down) {
        margin-top: 45px;
      }
    }
  }

  &__border {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid $grey-stroke;
    position: absolute;

    ._left & {
      top: 30px;
      left: -30px;

      @include media-query($medium-down) {
        top: 15px;
        left: -15px;
      }
    }

    ._right & {
      top: 30px;
      right: -30px;

      @include media-query($medium-down) {
        top: 15px;
        right: -15px;
      }
    }
  }

  &__image {
    // width: 569px;
    // height: 317px;
    max-height: 317px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;

    @include media-query($medium-down) {
      max-height: 250px;
    }

    @include media-query($small-down) {
      max-height: 158px;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(48,47,44);
    background: linear-gradient(180deg, rgba(48,47,44,0) 0%, rgba(48,47,44,1) 100%);
    mix-blend-mode: multiply;
  }

  &__info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 30px;

    @include media-query($medium-down) {
      padding: 15px;
    }

    span {
      font-size: 10px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: $white;
      display: block;
      margin-bottom: 5px;

      @include media-query($medium-down) {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      color: $white;
      margin: 0;

      @include media-query($medium-down) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

}