.pagination-wrapper {
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: fit-content;

  @include media-query($medium-down) {
    margin-top: -10px;
  }

  .prev {
    svg {
      transform: rotate(180deg);
    }

    & > * {
      pointer-events: none;
    }
  }

  a, span {
    color: $black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid $light-grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all $transition-duration $transition-timing;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.current {
      background: $light-grey;
      cursor: default;
    }

    & > * {
      pointer-events: none;
    }

    &:hover {
      background: #E6E3E0;
    }
  }
}