.products-slider {
  width: 100%;
  padding: 50px 20px 30px;
  background-color: $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

  @include media-query($medium-down) {
    padding: 20px 20px 10px;
  }

  &__title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h2 {
      color: $black;
      font-size: 30px;
      font-weight: 700;
      margin: 25px auto 5px;
      text-align: center;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }

  &__block {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;

    @include media-query($medium-down) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__slider-container {
    width: 100%;
    margin: 0 auto !important;
    padding-bottom: 95px;

    @include media-query($medium-down) {
      padding-bottom: 65px;
    }
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 272px;
    margin: 0 auto;
    padding: 0 5px;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    //align-self: flex-start;
    // opacity: 0;
    // transition: opacity $transition-duration;
    
    // .aos-animate & {
    //   opacity: 1;
    // }
  }

  &__item-image {
    position: relative;
    width: 100%;
    transform: scale(1);
    transition: transform $transition-duration $transition-timing;

    .products-slider__item:hover & {
      transform: scale(1.02);
    }

    .responsive-image__wrapper {
      border-radius: 8px;
      height: 100%;
      min-height: 262px;
    }
  }

  &__button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity $transition-duration $transition-timing;

    .products-slider__item:hover & {
      opacity: 1;
    }
  }

  &__item-info {
    h3 {
      color: $black;
      margin: 15px 0 0;
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }

    p {
      font-family: $font;
      color: $green;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      margin: 0 0 15px;
      align-self: flex-start;
    }
  }

  // &__price {
  //   margin: 0 0 15px;
  // }

  // &__img-container {
  //   border-radius: 8px;
  //   overflow: hidden;
  //   max-width: 272px;
  //   max-height: 262px;
  //   width: 100%;
  // }

  &__button-prev {
    position: absolute;
    top: 33%;
    left: 11px;
    transform: translateY(-50%);
    z-index: 1;
    width: 42px;
    height: 42px;
    cursor: pointer;

    @include media-query($medium-down) {
      width: 30px;
      height: 30px;
    }

    @include media-query($smallest) {
      left: -10px;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $dark-grey, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__button-next {
    position: absolute;
    top: 33%;
    right: 11px;
    z-index: 1;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transform: translateY(-50%) rotate(180deg);

    @include media-query($medium-down) {
      width: 30px;
      height: 30px;
    }

    @include media-query($smallest) {
      right: -10px;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $dark-grey, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query($medium-down) {
      bottom: 57px;
    }
  }

  &__bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba($color: $black, $alpha: 0.6);
    transition: all $transition-duration $transition-timing;

    &::before {
      content: "";
      border: 1px solid rgba($color: $black, $alpha: 0.6);
      width: 16px;
      height: 16px;
      position: absolute;
      left: -4px;
      top: -4px;
      border-radius: 100%;
      opacity: 0;
      transition: opacity $transition-duration $transition-timing;
    }
  }

  &__bullet-active {
    background-color: rgba($color: $black, $alpha: 1);

    &::before {
      opacity: 1;
    }
  }
}

*:focus {
  outline: none;
}
