.quick-cart {
  position: fixed;
  z-index: 119;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  opacity: 0;
  transition: all $transition-duration $transition-timing;

  .cbb-shipping-rates-calculator {
    display: none !important;
  }

  &__box {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 120;
    background: #ffffff;
    width: 670px;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 65px 0 0px;
    transform: translateX(100%);
    transition: transform $transition-duration $transition-timing;
    overflow: auto;
    display: flex;
    flex-direction: column;

    @include media-query($medium-down) {
      padding: 35px 0 0px;
    }

    > div {
      opacity: 0;
      transform: translateY(5px);
      transition: all $transition-duration $transition-timing;
    }
  }

  ._quick-cart-open & {
    background: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    opacity: 1;

    .quick-cart__box {
      transform: translateX(0);

      > div {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;

    span {
      color: $black;
    }
  }

  &__close {
    color: $black;
  }

  &._loading {
    .quick-cart__box > div {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &::before {
    content: " ";
  }

  &__items {
    min-height: 60px;
    margin-bottom: 15px;
    flex: 1;
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  &__label {
    font-size: 1.6rem;
  }

  &__value {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-family: $font-heading;
    color: $black;
  }

  &__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px;

    @include media-query($medium-up) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__link-cart {
    font-size: 14px;
    line-height: 22px;
    color: $black;
    text-decoration: unset;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__submit-container {
    position: relative;

    svg {
      position: absolute;
      width: 10px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      path, g {
        stroke: $white !important;
      }
    }
  }

  &__checkout-btn {
    width: 200px;
  
    @include media-query($medium-up) {
      width: 200px;
    }
  }

  &__payment-container {
    background-color: $background-grey;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 58px;

    span, svg {
      max-width: 60px;
      max-height: 24px;
    }

    span {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &._multibanco-mobile {
        display: none;
      }

      @include media-query($medium-down) {
        &._multibanco-mobile {
          display: block;
        }
        &._multibanco {
          display: none;
        }
      }
    }
  }
}
