.quick-cart-items {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $light-grey;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__thumb {
    width: 100px;
    height: 100px;
    background: $white;
    display: flex;
    align-items: center;

    @include media-query($medium-down) {
      display: none;
      margin-right: 20px;
    }

    img {
      display: block;
      border-radius: 8px;
    }

    &._responsive {
      display: none;

      @include media-query($medium-down) {
        display: block;
      }
    }
  }

  &__info {
    width: calc(100% - 100px);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-query($medium-down) {
      padding-left: 0px;
      flex: 1;
    }
  }

  &__options-thumb {
    @include media-query($medium-down) {
      display: flex;
    }
  }

  &__options-container {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      color: $black;
      margin: 0;
    }
  }

  &__remove {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: $dark-grey;
    transition: all $transition-duration $transition-timing;

    &._responsive {
      display: none;
    }

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    @include media-query($medium-down) {
      display: none;

      &._responsive {
        display: block;
      }
    }
  }

  &__options {
    span {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: $black;
      display: block;
      margin-left: 10px;
    }

    button {
      display: none !important;
    }
  }

  &__option-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__info-qtd {
    padding-bottom: 20px;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
  }

  &__price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-family: $font-heading;
    color: $black;
  }

  &__tax-note {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: $dark-grey;
  }
}