.review-slider {
  width: 100%;
  padding: 50px 20px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h1 {
      color: $white;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      margin: 0;
      text-align: center;

      @include media-query($medium-down) {
        font-size: 22px;
        line-height: 25px;
        padding: 0 30px 10px;
      }
    }
  }

  &__title-underline {
    width: 60px;
    height: 1px;
    background-color: rgba($color: $lighter-grey, $alpha: 0.3);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__block {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;

    @include media-query($medium-down) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__slider-container {
    width: 100%;
    margin: 0 auto !important;
    padding-bottom: 70px;
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    //max-width: 272px;
    margin: 0 auto;
    padding: 0 10px;

    h4 {
      color: $white;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 0 5px;
    }
    p {
      color: $white;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }
  }

  &__stars-container {
    margin-bottom: 10px;
  }

  &__description {
    margin: 0 0 15px;
  }

  &__img-container {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }

  &__button-prev {
    position: absolute;
    top: 33%;
    left: 11px;
    transform: translateY(-50%);
    z-index: 1;
    width: 42px;
    height: 42px;
    cursor: pointer;

    @include media-query($medium-down) {
      top: unset;
      bottom: 0px;
      width: 30px;
      height: 30px;
      left: 0px;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $white, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__button-next {
    position: absolute;
    top: 33%;
    right: 11px;
    z-index: 1;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transform: translateY(-50%) rotate(180deg);

    @include media-query($medium-down) {
      top: unset;
      bottom: 0px;
      width: 30px;
      height: 30px;
      right: 0px;
    }

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: all $transition-duration $transition-timing;

      path {
        fill: rgba($color: $white, $alpha: 0.7) !important;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }

  &__pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bullet {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba($color: $white, $alpha: 0.6);
    transition: all $transition-duration $transition-timing;

    &:last-child {
      margin-right: 0px;
    }

    &::before {
      content: "";
      border: 1px solid rgba($color: $white, $alpha: 0.6);
      width: 16px;
      height: 16px;
      position: absolute;
      left: -4px;
      top: -4px;
      border-radius: 100%;
      opacity: 0;
      transition: opacity $transition-duration $transition-timing;
    }
  }

  &__bullet-active {
    background-color: rgba($color: $white, $alpha: 1);

    &::before {
      opacity: 1;
    }
  }

  &__description-column {
    position: relative;
    z-index: 1;
    margin: -68px auto 0;
    min-height: 136px;
    width: 100%;
    max-width: $max-width-content;
    background-color: $white;
    box-shadow: -10px 16px 48px rgba($color: $black, $alpha: 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description-item {
    width: 100%;
    max-width: calc(100% / 3);
    border-right: 1px solid rgba($color: $black, $alpha: 0.1);
    display: flex;
    justify-content: center;
    padding: 10px 45px;

    &:last-child {
      border-right: 0;
    }
  }

  &__description-image {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    margin-top: 5px;
  }

  &__description-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    h3 {
      color: $black;
      font-size: 22px;
      font-weight: 700;
      margin: 5px 0;
    }
    p {
      color: $dark-grey;
      font-size: 14px;
      font-weight: 300;
      margin: 5px 0;
    }
  }
}